<a href="https://colab.research.google.com/github/gapalyt/project2/blob/main/VMS_%EB%B3%80%EA%B2%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파일

In [ ]:
# 드라이브 마운트
from google.colab import drive 

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 엑셀 파일을 csv로 변환
import pandas as pd

xlsx = pd.read_excel("/content/drive/MyDrive/멀티캠퍼스/I/파이널 프로젝트/자료/VMS_현황자료_20230117.xls")
xlsx.to_csv("/content/drive/MyDrive/멀티캠퍼스/I/파이널 프로젝트/자료/VMS_현황자료_20230117.csv")

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/I/파이널 프로젝트/자료/VMS_현황자료_20230117.csv')
df

,Unnamed: 0,순번,VMS_ID,좌표(X),좌표(Y),도로등급,도로명,노선번호,방향
0,0,112,0010VME00100,129.105278,35.279167,101,경부선,1,E
1,1,114,0010VME00200,129.061944,35.317778,101,경부선,1,E
2,2,118,0010VME00400,129.088611,35.466111,101,경부선,1,E
3,3,120,0010VME00500,129.106944,35.519167,101,경부선,1,E
4,4,248,0010VME00600,129.113944,35.830778,101,경부선,1,E
...,...,...,...,...,...,...,...,...,...
1485,1485,1074,52026VMN21001,126.973701,35.886580,103,NaN,26,N
1486,1486,1076,52026VMS21201,127.328327,35.856220,103,NaN,26,S
1487,1487,138,5510VMS00100,129.014722,35.316944,101,중앙선지선,551,S
1488,1488,137,5510VMX00100,129.017500,35.275000,101,중앙선지선,551,X
1489,1489,139,5510VMX00200,129.029722,35.318889,101,중앙선지선,551,X

In [ ]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0      112   0010VME00100  129.105278  35.279167   101    경부선     1  E
1      114   0010VME00200  129.061944  35.317778   101    경부선     1  E
2      118   0010VME00400  129.088611  35.466111   101    경부선     1  E
3      120   0010VME00500  129.106944  35.519167   101    경부선     1  E
4      248   0010VME00600  129.113944  35.830778   101    경부선     1  E
...    ...            ...         ...        ...   ...    ...   ... ..
1485  1074  52026VMN21001  126.973701  35.886580   103    NaN    26  N
1486  1076  52026VMS21201  127.328327  35.856220   103    NaN    26  S
1487   138   5510VMS00100  129.014722  35.316944   101  중앙선지선   551  S
1488   137   5510VMX00100  129.017500  35.275000   101  중앙선지선   551  X
1489   139   5510VMX00200  129.029722  35.318889   101  중앙선지선   551  X

[1490 rows x 8 columns]

## 도로명 변경

In [ ]:
df_name = df['도로명'].value_counts().index.tolist()
df_name

['경부선',
 '영동선',
 '중부선',
 '중부내륙선',
 '남해선',
 '서해안선',
 '호남선',
 '서울외곽순환선',
 '당진대전선',
 '중앙선',
 '청원상주선',
 '평택제천선',
 '익산포항선',
 '무안광주선',
 '동해선',
 '영암순천선',
 '부산울산선',
 '순천완주선',
 '서천공주선',
 '호남선의지선',
 '서울양양선',
 '88올림픽선',
 '고창담양선',
 '평택화성선',
 '중부내륙지선',
 '제2경인선',
 '경인선',
 '남해제1지선',
 '남해제2지선',
 '봉담동탄선',
 '대전남부순환선',
 '울산선',
 '중앙선지선',
 '오산화성선']

In [ ]:
df_name1 = df[df['도로명'] == '경부선']
df_name1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    112  0010VME00100  129.105278  35.279167   101  경부선     1  E
1    114  0010VME00200  129.061944  35.317778   101  경부선     1  E
2    118  0010VME00400  129.088611  35.466111   101  경부선     1  E
3    120  0010VME00500  129.106944  35.519167   101  경부선     1  E
4    248  0010VME00600  129.113944  35.830778   101  경부선     1  E
..   ...           ...         ...        ...   ...  ...   ... ..
150  381  0010VMX04800  127.119167  37.391667   101  경부선     1  X
151  383  0010VMX05100  127.040278  37.468056   101  경부선     1  X
152  386  0010VMX05300  127.030556  37.484167   101  경부선     1  X
153  385  0010VMX05400  127.022222  37.482778   101  경부선     1  X
154  387  0010VMX05600  127.017778  37.503056   101  경부선     1  X

[155 rows x 8 columns]

In [ ]:
df_name1_num = df_name1.reset_index(drop = True)
df_name1_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    112  0010VME00100  129.105278  35.279167   101  경부선     1  E
1    114  0010VME00200  129.061944  35.317778   101  경부선     1  E
2    118  0010VME00400  129.088611  35.466111   101  경부선     1  E
3    120  0010VME00500  129.106944  35.519167   101  경부선     1  E
4    248  0010VME00600  129.113944  35.830778   101  경부선     1  E
..   ...           ...         ...        ...   ...  ...   ... ..
150  381  0010VMX04800  127.119167  37.391667   101  경부선     1  X
151  383  0010VMX05100  127.040278  37.468056   101  경부선     1  X
152  386  0010VMX05300  127.030556  37.484167   101  경부선     1  X
153  385  0010VMX05400  127.022222  37.482778   101  경부선     1  X
154  387  0010VMX05600  127.017778  37.503056   101  경부선     1  X

[155 rows x 8 columns]

In [ ]:
df_name1_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name1_num

     도로명
0    경부선
1    경부선
2    경부선
3    경부선
4    경부선
..   ...
150  경부선
151  경부선
152  경부선
153  경부선
154  경부선

[155 rows x 1 columns]

In [ ]:
df_name1_num.iloc[:] = '경부고속도로'
df_name1_num

        도로명
0    경부고속도로
1    경부고속도로
2    경부고속도로
3    경부고속도로
4    경부고속도로
..      ...
150  경부고속도로
151  경부고속도로
152  경부고속도로
153  경부고속도로
154  경부고속도로

[155 rows x 1 columns]

In [ ]:
df_name1_num1 = df_name1.reset_index(drop = True)
df_name1_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    112  0010VME00100  129.105278  35.279167   101  경부선     1  E
1    114  0010VME00200  129.061944  35.317778   101  경부선     1  E
2    118  0010VME00400  129.088611  35.466111   101  경부선     1  E
3    120  0010VME00500  129.106944  35.519167   101  경부선     1  E
4    248  0010VME00600  129.113944  35.830778   101  경부선     1  E
..   ...           ...         ...        ...   ...  ...   ... ..
150  381  0010VMX04800  127.119167  37.391667   101  경부선     1  X
151  383  0010VMX05100  127.040278  37.468056   101  경부선     1  X
152  386  0010VMX05300  127.030556  37.484167   101  경부선     1  X
153  385  0010VMX05400  127.022222  37.482778   101  경부선     1  X
154  387  0010VMX05600  127.017778  37.503056   101  경부선     1  X

[155 rows x 8 columns]

In [ ]:
df_name1_num1['도로명'] = df_name1_num['도로명']
df_name1_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0    112  0010VME00100  129.105278  35.279167   101  경부고속도로     1  E
1    114  0010VME00200  129.061944  35.317778   101  경부고속도로     1  E
2    118  0010VME00400  129.088611  35.466111   101  경부고속도로     1  E
3    120  0010VME00500  129.106944  35.519167   101  경부고속도로     1  E
4    248  0010VME00600  129.113944  35.830778   101  경부고속도로     1  E
..   ...           ...         ...        ...   ...     ...   ... ..
150  381  0010VMX04800  127.119167  37.391667   101  경부고속도로     1  X
151  383  0010VMX05100  127.040278  37.468056   101  경부고속도로     1  X
152  386  0010VMX05300  127.030556  37.484167   101  경부고속도로     1  X
153  385  0010VMX05400  127.022222  37.482778   101  경부고속도로     1  X
154  387  0010VMX05600  127.017778  37.503056   101  경부고속도로     1  X

[155 rows x 8 columns]

In [ ]:
df_name2 = df[df['도로명'] == '영동선']
df_name2

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
626  320  0500VME00100  126.739722  37.419444   101  영동선    50  E
627  321  0500VME00200  126.782500  37.355556   101  영동선    50  E
628  323  0500VME00400  126.831389  37.344722   101  영동선    50  E
629  325  0500VME00600  126.940000  37.325833   101  영동선    50  E
630  329  0500VME00700  127.018889  37.308333   101  영동선    50  E
..   ...           ...         ...        ...   ...  ...   ... ..
683  425  0500VMX00950  127.214444  37.247500   101  영동선    50  X
684  427  0500VMX01000  127.300833  37.228333   101  영동선    50  X
685  431  0500VMX01050  127.364167  37.241944   101  영동선    50  X
686  437  0500VMX01100  127.493056  37.246667   101  영동선    50  X
687  438  0500VMX01200  127.482222  37.256111   101  영동선    50  X

[62 rows x 8 columns]

In [ ]:
df_name2_num = df_name2.reset_index(drop = True)
df_name2_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   320  0500VME00100  126.739722  37.419444   101  영동선    50  E
1   321  0500VME00200  126.782500  37.355556   101  영동선    50  E
2   323  0500VME00400  126.831389  37.344722   101  영동선    50  E
3   325  0500VME00600  126.940000  37.325833   101  영동선    50  E
4   329  0500VME00700  127.018889  37.308333   101  영동선    50  E
..  ...           ...         ...        ...   ...  ...   ... ..
57  425  0500VMX00950  127.214444  37.247500   101  영동선    50  X
58  427  0500VMX01000  127.300833  37.228333   101  영동선    50  X
59  431  0500VMX01050  127.364167  37.241944   101  영동선    50  X
60  437  0500VMX01100  127.493056  37.246667   101  영동선    50  X
61  438  0500VMX01200  127.482222  37.256111   101  영동선    50  X

[62 rows x 8 columns]

In [ ]:
df_name2_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name2_num

    도로명
0   영동선
1   영동선
2   영동선
3   영동선
4   영동선
..  ...
57  영동선
58  영동선
59  영동선
60  영동선
61  영동선

[62 rows x 1 columns]

In [ ]:
df_name2_num.iloc[:] = '영동고속도로'
df_name2_num

       도로명
0   영동고속도로
1   영동고속도로
2   영동고속도로
3   영동고속도로
4   영동고속도로
..     ...
57  영동고속도로
58  영동고속도로
59  영동고속도로
60  영동고속도로
61  영동고속도로

[62 rows x 1 columns]

In [ ]:
df_name2_num1 = df_name2.reset_index(drop = True)
df_name2_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   320  0500VME00100  126.739722  37.419444   101  영동선    50  E
1   321  0500VME00200  126.782500  37.355556   101  영동선    50  E
2   323  0500VME00400  126.831389  37.344722   101  영동선    50  E
3   325  0500VME00600  126.940000  37.325833   101  영동선    50  E
4   329  0500VME00700  127.018889  37.308333   101  영동선    50  E
..  ...           ...         ...        ...   ...  ...   ... ..
57  425  0500VMX00950  127.214444  37.247500   101  영동선    50  X
58  427  0500VMX01000  127.300833  37.228333   101  영동선    50  X
59  431  0500VMX01050  127.364167  37.241944   101  영동선    50  X
60  437  0500VMX01100  127.493056  37.246667   101  영동선    50  X
61  438  0500VMX01200  127.482222  37.256111   101  영동선    50  X

[62 rows x 8 columns]

In [ ]:
df_name2_num1['도로명'] = df_name2_num['도로명']
df_name2_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   320  0500VME00100  126.739722  37.419444   101  영동고속도로    50  E
1   321  0500VME00200  126.782500  37.355556   101  영동고속도로    50  E
2   323  0500VME00400  126.831389  37.344722   101  영동고속도로    50  E
3   325  0500VME00600  126.940000  37.325833   101  영동고속도로    50  E
4   329  0500VME00700  127.018889  37.308333   101  영동고속도로    50  E
..  ...           ...         ...        ...   ...     ...   ... ..
57  425  0500VMX00950  127.214444  37.247500   101  영동고속도로    50  X
58  427  0500VMX01000  127.300833  37.228333   101  영동고속도로    50  X
59  431  0500VMX01050  127.364167  37.241944   101  영동고속도로    50  X
60  437  0500VMX01100  127.493056  37.246667   101  영동고속도로    50  X
61  438  0500VMX01200  127.482222  37.256111   101  영동고속도로    50  X

[62 rows x 8 columns]

In [ ]:
df_name3 = df[df['도로명'] == '중부선']
df_name3

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
492   300  0351VME00100  128.422778  34.868611   101  중부선    35  E
493   301  0351VME00200  128.371389  34.981111   101  중부선    35  E
494   102  0351VME00300  128.210833  35.071944   101  중부선    35  E
495   104  0351VME00350  128.134722  35.121667   101  중부선    35  E
496   105  0351VME00400  128.069722  35.155833   101  중부선    35  E
497   108  0351VME00450  127.850000  35.457500   101  중부선    35  E
498   110  0351VME00600  127.713889  35.631389   101  중부선    35  E
499  1351  0351VME00700  127.614900  35.716689   101  중부선    35  E
500  1353  0351VME00800  127.594897  35.756600   101  중부선    35  E
501  1357  0351VME00900  127.540294  36.078108   101  중부선    35  E
502  1355  0351VME01000  127.661958  35.942611   101  중부선    35  E
503  1358  0351VME01100  127.487900  36.163347   101  중부선    35  E
504  1360  0351VME01200  127.487850  36.218717   101  중부선    35  E
505   303  0351VMS00100  128.324444  35.018889   101  중부선    35  S
506   103  0351VMS00200  128.169444  35.090278   101  중부선    35  S
507   107  0351VMS00300  128.011667  35.206389   101  중부선    35  S
508   106  0351VMS00350  128.063056  35.163333   101  중부선    35  S
509   109  0351VMS00400  127.797778  35.516667   101  중부선    35  S
510  1352  0351VMS00500  127.596944  35.753611   101  중부선    35  S
511  1354  0351VMS00600  127.650425  35.873144   101  중부선    35  S
512  1356  0351VMS00700  127.610111  35.993964   101  중부선    35  S
513  1359  0351VMS00900  127.488397  36.219506   101  중부선    35  S
514   298  0351VMX00100  128.443333  34.856667   101  중부선    35  X
515   299  0351VMX00200  128.450000  34.871111   101  중부선    35  X
516   302  0351VMX00300  128.347500  35.014722   101  중부선    35  X
517   581  0351VMX00400  127.521278  36.099972   101  중부선    35  X
518  1286  0352VME00100  127.419722  36.645556   101  중부선    35  E
519  1289  0352VME00200  127.427500  36.687222   101  중부선    35  E
520  1290  0352VME00300  127.465833  36.738611   101  중부선    35  E
521  1294  0352VME00400  127.483611  36.856389   101  중부선    35  E
522  1296  0352VME00500  127.478333  36.901944   101  중부선    35  E
523  1297  0352VME00600  127.472778  36.948611   101  중부선    35  E
524  1299  0352VME00700  127.465000  37.074722   101  중부선    35  E
525  1302  0352VME00850  127.439444  37.210833   101  중부선    35  E
526  1303  0352VME00900  127.436944  37.213611   101  중부선    35  E
527   100  0352VME01000  127.425000  37.244167   101  중부선    35  E
528   307  0352VME01100  127.388056  37.279167   101  중부선    35  E
529   313  0352VME01200  127.298611  37.426111   101  중부선    35  E
530   317  0352VME01300  127.223056  37.530556   101  중부선    35  E
531  1288  0352VMS00100  127.426111  36.664444   101  중부선    35  S
532  1291  0352VMS00200  127.465833  36.738056   101  중부선    35  S
533  1293  0352VMS00300  127.509444  36.786111   101  중부선    35  S
534  1295  0352VMS00400  127.477222  36.883333   101  중부선    35  S
535  1298  0352VMS00600  127.482500  37.030833   101  중부선    35  S
536  1301  0352VMS00700  127.446944  37.113611   101  중부선    35  S
537   304  0352VMS00770  127.415556  37.253056   101  중부선    35  S
538   308  0352VMS00800  127.385000  37.282222   101  중부선    35  S
539   312  0352VMS00900  127.318056  37.376111   101  중부선    35  S
540   316  0352VMS01100  127.236111  37.495000   101  중부선    35  S
541   318  0352VMS01200  127.223056  37.530556   101  중부선    35  S
542  1287  0352VMX00100  127.423611  36.643333   101  중부선    35  X
543  1292  0352VMX00200  127.515833  36.766944   101  중부선    35  X
544  1300  0352VMX00300  127.450556  37.081389   101  중부선    35  X
545   306  0352VMX00500  127.405000  37.299167   101  중부선    35  X
546   305  0352VMX00600  127.410000  37.285833   101  중부선    35  X
547   309  0352VMX00700  127.378333  37.290278   101  중부선    35  X
548   310  0352VMX00800  127.331111  37.353333   101  중부선    35  X
549   311  0352VMX00900  127.314444  37.362222   101  중부선    35  X
550   315  0352VMX01100  127.255556  37.426111   101  중부선    35  X
551   314  0352VMX01300  127.255000  37.451111   101  중부선    35  X

In [ ]:
df_name3_num = df_name3.reset_index(drop = True)
df_name3_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    300  0351VME00100  128.422778  34.868611   101  중부선    35  E
1    301  0351VME00200  128.371389  34.981111   101  중부선    35  E
2    102  0351VME00300  128.210833  35.071944   101  중부선    35  E
3    104  0351VME00350  128.134722  35.121667   101  중부선    35  E
4    105  0351VME00400  128.069722  35.155833   101  중부선    35  E
5    108  0351VME00450  127.850000  35.457500   101  중부선    35  E
6    110  0351VME00600  127.713889  35.631389   101  중부선    35  E
7   1351  0351VME00700  127.614900  35.716689   101  중부선    35  E
8   1353  0351VME00800  127.594897  35.756600   101  중부선    35  E
9   1357  0351VME00900  127.540294  36.078108   101  중부선    35  E
10  1355  0351VME01000  127.661958  35.942611   101  중부선    35  E
11  1358  0351VME01100  127.487900  36.163347   101  중부선    35  E
12  1360  0351VME01200  127.487850  36.218717   101  중부선    35  E
13   303  0351VMS00100  128.324444  35.018889   101  중부선    35  S
14   103  0351VMS00200  128.169444  35.090278   101  중부선    35  S
15   107  0351VMS00300  128.011667  35.206389   101  중부선    35  S
16   106  0351VMS00350  128.063056  35.163333   101  중부선    35  S
17   109  0351VMS00400  127.797778  35.516667   101  중부선    35  S
18  1352  0351VMS00500  127.596944  35.753611   101  중부선    35  S
19  1354  0351VMS00600  127.650425  35.873144   101  중부선    35  S
20  1356  0351VMS00700  127.610111  35.993964   101  중부선    35  S
21  1359  0351VMS00900  127.488397  36.219506   101  중부선    35  S
22   298  0351VMX00100  128.443333  34.856667   101  중부선    35  X
23   299  0351VMX00200  128.450000  34.871111   101  중부선    35  X
24   302  0351VMX00300  128.347500  35.014722   101  중부선    35  X
25   581  0351VMX00400  127.521278  36.099972   101  중부선    35  X
26  1286  0352VME00100  127.419722  36.645556   101  중부선    35  E
27  1289  0352VME00200  127.427500  36.687222   101  중부선    35  E
28  1290  0352VME00300  127.465833  36.738611   101  중부선    35  E
29  1294  0352VME00400  127.483611  36.856389   101  중부선    35  E
30  1296  0352VME00500  127.478333  36.901944   101  중부선    35  E
31  1297  0352VME00600  127.472778  36.948611   101  중부선    35  E
32  1299  0352VME00700  127.465000  37.074722   101  중부선    35  E
33  1302  0352VME00850  127.439444  37.210833   101  중부선    35  E
34  1303  0352VME00900  127.436944  37.213611   101  중부선    35  E
35   100  0352VME01000  127.425000  37.244167   101  중부선    35  E
36   307  0352VME01100  127.388056  37.279167   101  중부선    35  E
37   313  0352VME01200  127.298611  37.426111   101  중부선    35  E
38   317  0352VME01300  127.223056  37.530556   101  중부선    35  E
39  1288  0352VMS00100  127.426111  36.664444   101  중부선    35  S
40  1291  0352VMS00200  127.465833  36.738056   101  중부선    35  S
41  1293  0352VMS00300  127.509444  36.786111   101  중부선    35  S
42  1295  0352VMS00400  127.477222  36.883333   101  중부선    35  S
43  1298  0352VMS00600  127.482500  37.030833   101  중부선    35  S
44  1301  0352VMS00700  127.446944  37.113611   101  중부선    35  S
45   304  0352VMS00770  127.415556  37.253056   101  중부선    35  S
46   308  0352VMS00800  127.385000  37.282222   101  중부선    35  S
47   312  0352VMS00900  127.318056  37.376111   101  중부선    35  S
48   316  0352VMS01100  127.236111  37.495000   101  중부선    35  S
49   318  0352VMS01200  127.223056  37.530556   101  중부선    35  S
50  1287  0352VMX00100  127.423611  36.643333   101  중부선    35  X
51  1292  0352VMX00200  127.515833  36.766944   101  중부선    35  X
52  1300  0352VMX00300  127.450556  37.081389   101  중부선    35  X
53   306  0352VMX00500  127.405000  37.299167   101  중부선    35  X
54   305  0352VMX00600  127.410000  37.285833   101  중부선    35  X
55   309  0352VMX00700  127.378333  37.290278   101  중부선    35  X
56   310  0352VMX00800  127.331111  37.353333   101  중부선    35  X
57   311  0352VMX00900  127.314444  37.362222   101  중부선    35  X
58   315  0352VMX01100  127.255556  37.426111   101  중부선    35  X
59   314  0352VMX01300  127.255000  37.451111   101  중부선    35  X

In [ ]:
df_name3_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name3_num

    도로명
0   중부선
1   중부선
2   중부선
3   중부선
4   중부선
5   중부선
6   중부선
7   중부선
8   중부선
9   중부선
10  중부선
11  중부선
12  중부선
13  중부선
14  중부선
15  중부선
16  중부선
17  중부선
18  중부선
19  중부선
20  중부선
21  중부선
22  중부선
23  중부선
24  중부선
25  중부선
26  중부선
27  중부선
28  중부선
29  중부선
30  중부선
31  중부선
32  중부선
33  중부선
34  중부선
35  중부선
36  중부선
37  중부선
38  중부선
39  중부선
40  중부선
41  중부선
42  중부선
43  중부선
44  중부선
45  중부선
46  중부선
47  중부선
48  중부선
49  중부선
50  중부선
51  중부선
52  중부선
53  중부선
54  중부선
55  중부선
56  중부선
57  중부선
58  중부선
59  중부선

In [ ]:
df_name3_num.iloc[:] = '중부고속도로'
df_name3_num

       도로명
0   중부고속도로
1   중부고속도로
2   중부고속도로
3   중부고속도로
4   중부고속도로
5   중부고속도로
6   중부고속도로
7   중부고속도로
8   중부고속도로
9   중부고속도로
10  중부고속도로
11  중부고속도로
12  중부고속도로
13  중부고속도로
14  중부고속도로
15  중부고속도로
16  중부고속도로
17  중부고속도로
18  중부고속도로
19  중부고속도로
20  중부고속도로
21  중부고속도로
22  중부고속도로
23  중부고속도로
24  중부고속도로
25  중부고속도로
26  중부고속도로
27  중부고속도로
28  중부고속도로
29  중부고속도로
30  중부고속도로
31  중부고속도로
32  중부고속도로
33  중부고속도로
34  중부고속도로
35  중부고속도로
36  중부고속도로
37  중부고속도로
38  중부고속도로
39  중부고속도로
40  중부고속도로
41  중부고속도로
42  중부고속도로
43  중부고속도로
44  중부고속도로
45  중부고속도로
46  중부고속도로
47  중부고속도로
48  중부고속도로
49  중부고속도로
50  중부고속도로
51  중부고속도로
52  중부고속도로
53  중부고속도로
54  중부고속도로
55  중부고속도로
56  중부고속도로
57  중부고속도로
58  중부고속도로
59  중부고속도로

In [ ]:
df_name3_num1 = df_name3.reset_index(drop = True)
df_name3_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    300  0351VME00100  128.422778  34.868611   101  중부선    35  E
1    301  0351VME00200  128.371389  34.981111   101  중부선    35  E
2    102  0351VME00300  128.210833  35.071944   101  중부선    35  E
3    104  0351VME00350  128.134722  35.121667   101  중부선    35  E
4    105  0351VME00400  128.069722  35.155833   101  중부선    35  E
5    108  0351VME00450  127.850000  35.457500   101  중부선    35  E
6    110  0351VME00600  127.713889  35.631389   101  중부선    35  E
7   1351  0351VME00700  127.614900  35.716689   101  중부선    35  E
8   1353  0351VME00800  127.594897  35.756600   101  중부선    35  E
9   1357  0351VME00900  127.540294  36.078108   101  중부선    35  E
10  1355  0351VME01000  127.661958  35.942611   101  중부선    35  E
11  1358  0351VME01100  127.487900  36.163347   101  중부선    35  E
12  1360  0351VME01200  127.487850  36.218717   101  중부선    35  E
13   303  0351VMS00100  128.324444  35.018889   101  중부선    35  S
14   103  0351VMS00200  128.169444  35.090278   101  중부선    35  S
15   107  0351VMS00300  128.011667  35.206389   101  중부선    35  S
16   106  0351VMS00350  128.063056  35.163333   101  중부선    35  S
17   109  0351VMS00400  127.797778  35.516667   101  중부선    35  S
18  1352  0351VMS00500  127.596944  35.753611   101  중부선    35  S
19  1354  0351VMS00600  127.650425  35.873144   101  중부선    35  S
20  1356  0351VMS00700  127.610111  35.993964   101  중부선    35  S
21  1359  0351VMS00900  127.488397  36.219506   101  중부선    35  S
22   298  0351VMX00100  128.443333  34.856667   101  중부선    35  X
23   299  0351VMX00200  128.450000  34.871111   101  중부선    35  X
24   302  0351VMX00300  128.347500  35.014722   101  중부선    35  X
25   581  0351VMX00400  127.521278  36.099972   101  중부선    35  X
26  1286  0352VME00100  127.419722  36.645556   101  중부선    35  E
27  1289  0352VME00200  127.427500  36.687222   101  중부선    35  E
28  1290  0352VME00300  127.465833  36.738611   101  중부선    35  E
29  1294  0352VME00400  127.483611  36.856389   101  중부선    35  E
30  1296  0352VME00500  127.478333  36.901944   101  중부선    35  E
31  1297  0352VME00600  127.472778  36.948611   101  중부선    35  E
32  1299  0352VME00700  127.465000  37.074722   101  중부선    35  E
33  1302  0352VME00850  127.439444  37.210833   101  중부선    35  E
34  1303  0352VME00900  127.436944  37.213611   101  중부선    35  E
35   100  0352VME01000  127.425000  37.244167   101  중부선    35  E
36   307  0352VME01100  127.388056  37.279167   101  중부선    35  E
37   313  0352VME01200  127.298611  37.426111   101  중부선    35  E
38   317  0352VME01300  127.223056  37.530556   101  중부선    35  E
39  1288  0352VMS00100  127.426111  36.664444   101  중부선    35  S
40  1291  0352VMS00200  127.465833  36.738056   101  중부선    35  S
41  1293  0352VMS00300  127.509444  36.786111   101  중부선    35  S
42  1295  0352VMS00400  127.477222  36.883333   101  중부선    35  S
43  1298  0352VMS00600  127.482500  37.030833   101  중부선    35  S
44  1301  0352VMS00700  127.446944  37.113611   101  중부선    35  S
45   304  0352VMS00770  127.415556  37.253056   101  중부선    35  S
46   308  0352VMS00800  127.385000  37.282222   101  중부선    35  S
47   312  0352VMS00900  127.318056  37.376111   101  중부선    35  S
48   316  0352VMS01100  127.236111  37.495000   101  중부선    35  S
49   318  0352VMS01200  127.223056  37.530556   101  중부선    35  S
50  1287  0352VMX00100  127.423611  36.643333   101  중부선    35  X
51  1292  0352VMX00200  127.515833  36.766944   101  중부선    35  X
52  1300  0352VMX00300  127.450556  37.081389   101  중부선    35  X
53   306  0352VMX00500  127.405000  37.299167   101  중부선    35  X
54   305  0352VMX00600  127.410000  37.285833   101  중부선    35  X
55   309  0352VMX00700  127.378333  37.290278   101  중부선    35  X
56   310  0352VMX00800  127.331111  37.353333   101  중부선    35  X
57   311  0352VMX00900  127.314444  37.362222   101  중부선    35  X
58   315  0352VMX01100  127.255556  37.426111   101  중부선    35  X
59   314  0352VMX01300  127.255000  37.451111   101  중부선    35  X

In [ ]:
df_name3_num1['도로명'] = df_name3_num['도로명']
df_name3_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0    300  0351VME00100  128.422778  34.868611   101  중부고속도로    35  E
1    301  0351VME00200  128.371389  34.981111   101  중부고속도로    35  E
2    102  0351VME00300  128.210833  35.071944   101  중부고속도로    35  E
3    104  0351VME00350  128.134722  35.121667   101  중부고속도로    35  E
4    105  0351VME00400  128.069722  35.155833   101  중부고속도로    35  E
5    108  0351VME00450  127.850000  35.457500   101  중부고속도로    35  E
6    110  0351VME00600  127.713889  35.631389   101  중부고속도로    35  E
7   1351  0351VME00700  127.614900  35.716689   101  중부고속도로    35  E
8   1353  0351VME00800  127.594897  35.756600   101  중부고속도로    35  E
9   1357  0351VME00900  127.540294  36.078108   101  중부고속도로    35  E
10  1355  0351VME01000  127.661958  35.942611   101  중부고속도로    35  E
11  1358  0351VME01100  127.487900  36.163347   101  중부고속도로    35  E
12  1360  0351VME01200  127.487850  36.218717   101  중부고속도로    35  E
13   303  0351VMS00100  128.324444  35.018889   101  중부고속도로    35  S
14   103  0351VMS00200  128.169444  35.090278   101  중부고속도로    35  S
15   107  0351VMS00300  128.011667  35.206389   101  중부고속도로    35  S
16   106  0351VMS00350  128.063056  35.163333   101  중부고속도로    35  S
17   109  0351VMS00400  127.797778  35.516667   101  중부고속도로    35  S
18  1352  0351VMS00500  127.596944  35.753611   101  중부고속도로    35  S
19  1354  0351VMS00600  127.650425  35.873144   101  중부고속도로    35  S
20  1356  0351VMS00700  127.610111  35.993964   101  중부고속도로    35  S
21  1359  0351VMS00900  127.488397  36.219506   101  중부고속도로    35  S
22   298  0351VMX00100  128.443333  34.856667   101  중부고속도로    35  X
23   299  0351VMX00200  128.450000  34.871111   101  중부고속도로    35  X
24   302  0351VMX00300  128.347500  35.014722   101  중부고속도로    35  X
25   581  0351VMX00400  127.521278  36.099972   101  중부고속도로    35  X
26  1286  0352VME00100  127.419722  36.645556   101  중부고속도로    35  E
27  1289  0352VME00200  127.427500  36.687222   101  중부고속도로    35  E
28  1290  0352VME00300  127.465833  36.738611   101  중부고속도로    35  E
29  1294  0352VME00400  127.483611  36.856389   101  중부고속도로    35  E
30  1296  0352VME00500  127.478333  36.901944   101  중부고속도로    35  E
31  1297  0352VME00600  127.472778  36.948611   101  중부고속도로    35  E
32  1299  0352VME00700  127.465000  37.074722   101  중부고속도로    35  E
33  1302  0352VME00850  127.439444  37.210833   101  중부고속도로    35  E
34  1303  0352VME00900  127.436944  37.213611   101  중부고속도로    35  E
35   100  0352VME01000  127.425000  37.244167   101  중부고속도로    35  E
36   307  0352VME01100  127.388056  37.279167   101  중부고속도로    35  E
37   313  0352VME01200  127.298611  37.426111   101  중부고속도로    35  E
38   317  0352VME01300  127.223056  37.530556   101  중부고속도로    35  E
39  1288  0352VMS00100  127.426111  36.664444   101  중부고속도로    35  S
40  1291  0352VMS00200  127.465833  36.738056   101  중부고속도로    35  S
41  1293  0352VMS00300  127.509444  36.786111   101  중부고속도로    35  S
42  1295  0352VMS00400  127.477222  36.883333   101  중부고속도로    35  S
43  1298  0352VMS00600  127.482500  37.030833   101  중부고속도로    35  S
44  1301  0352VMS00700  127.446944  37.113611   101  중부고속도로    35  S
45   304  0352VMS00770  127.415556  37.253056   101  중부고속도로    35  S
46   308  0352VMS00800  127.385000  37.282222   101  중부고속도로    35  S
47   312  0352VMS00900  127.318056  37.376111   101  중부고속도로    35  S
48   316  0352VMS01100  127.236111  37.495000   101  중부고속도로    35  S
49   318  0352VMS01200  127.223056  37.530556   101  중부고속도로    35  S
50  1287  0352VMX00100  127.423611  36.643333   101  중부고속도로    35  X
51  1292  0352VMX00200  127.515833  36.766944   101  중부고속도로    35  X
52  1300  0352VMX00300  127.450556  37.081389   101  중부고속도로    35  X
53   306  0352VMX00500  127.405000  37.299167   101  중부고속도로    35  X
54   305  0352VMX00600  127.410000  37.285833   101  중부고속도로    35  X
55   309  0352VMX00700  127.378333  37.290278   101  중부고속도로    35  X
56   310  0352VMX00800  127.331111  37.353333   101  중부고속도로    35  X
57   311  0352VMX00900  127.314444  37.362222   101  중부고속도로    35  X
58   315  0352VMX01100  127.255556  37.426111   101  중부고속도로    35  X
59   314  0352VMX01300  127.255000  37.451111   101  중부고속도로    35  X

In [ ]:
df_name4 = df[df['도로명'] == '중부내륙선']
df_name4

       순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
575   589   0450VME00050  128.502778  35.306944   101  중부내륙선    45  E
576   194   0450VME00100  128.513056  35.486944   101  중부내륙선    45  E
577   590   0450VME00230  128.510278  35.495833   101  중부내륙선    45  E
578   196   0450VME00270  128.443611  35.642222   101  중부내륙선    45  E
579   276   0450VME00400  128.405000  35.716944   101  중부내륙선    45  E
580   278   0450VME00500  128.343333  35.810278   101  중부내륙선    45  E
581   282   0450VME00600  128.286667  35.896667   101  중부내륙선    45  E
582   286   0450VME00700  128.270278  36.023611   101  중부내륙선    45  E
583   264   0450VME00800  128.260556  36.206111   101  중부내륙선    45  E
584   267   0450VME00900  128.231389  36.345000   101  중부내륙선    45  E
585   270   0450VME01000  128.148889  36.572222   101  중부내륙선    45  E
586  1163   0450VME01100  127.942778  36.855556   101  중부내륙선    45  E
587  1167   0450VME01300  127.701667  37.112500   101  중부내륙선    45  E
588  1168   0450VME01400  127.611944  37.198056   101  중부내륙선    45  E
589   417   0450VME01500  127.582328  37.269550   101  중부내륙선    45  E
590   422   0450VME01600  127.516656  37.363661   101  중부내륙선    45  E
591  1129  0450VME2230K2  127.850833  36.960556   101  중부내륙선    45  E
592   192   0450VMS00050  128.503056  35.316667   101  중부내륙선    45  S
593   193   0450VMS00150  128.498056  35.359722   101  중부내륙선    45  S
594   195   0450VMS00300  128.471111  35.570000   101  중부내륙선    45  S
595   275   0450VMS00400  128.418611  35.699722   101  중부내륙선    45  S
596   277   0450VMS00500  128.359444  35.783056   101  중부내륙선    45  S
597   281   0450VMS00600  128.318056  35.873889   101  중부내륙선    45  S
598   285   0450VMS00700  128.244722  35.939167   101  중부내륙선    45  S
599   289   0450VMS00800  128.262778  36.086944   101  중부내륙선    45  S
600   265   0450VMS00900  128.229167  36.203056   101  중부내륙선    45  S
601   266   0450VMS01000  128.256389  36.263056   101  중부내륙선    45  S
602   268   0450VMS01100  128.230278  36.401667   101  중부내륙선    45  S
603   269   0450VMS01150  128.199722  36.460000   101  중부내륙선    45  S
604   271   0450VMS01200  128.188333  36.585556   101  중부내륙선    45  S
605  1164   0450VMS01300  127.903056  36.871667   101  중부내륙선    45  S
606  1166   0450VMS01400  127.766667  37.037500   101  중부내륙선    45  S
607   415   0450VMS01700  127.587036  37.243294   101  중부내륙선    45  S
608   418   0450VMS01800  127.579467  37.285217   101  중부내륙선    45  S
609   421   0450VMS01900  127.570297  37.300783   101  중부내륙선    45  S
610   424   0450VMS02000  127.507500  37.398056   101  중부내륙선    45  S
611  1130  0450VMS2649K3  127.592500  37.226667   101  중부내륙선    45  S
612   273   0450VMX00100  128.429722  35.661389   101  중부내륙선    45  X
613   274   0450VMX00200  128.448611  35.699722   101  중부내륙선    45  X
614   279   0450VMX00300  128.335278  35.833889   101  중부내륙선    45  X
615   280   0450VMX00400  128.305556  35.841111   101  중부내륙선    45  X
616   284   0450VMX00500  128.234444  35.907500   101  중부내륙선    45  X
617   283   0450VMX00600  128.274167  35.913056   101  중부내륙선    45  X
618   288   0450VMX00700  128.308611  36.052778   101  중부내륙선    45  X
619   287   0450VMX00800  128.258889  36.075000   101  중부내륙선    45  X
620   272   0450VMX00900  128.158889  36.607778   101  중부내륙선    45  X
621  1165   0450VMX01000  127.854444  36.962222   101  중부내륙선    45  X
622   416   0450VMX01050  127.600000  37.259167   101  중부내륙선    45  X
623   420   0450VMX01100  127.558883  37.329953   101  중부내륙선    45  X
624   419   0450VMX01200  127.544100  37.345106   101  중부내륙선    45  X
625   423   0450VMX01300  127.604225  37.297844   101  중부내륙선    45  X

In [ ]:
df_name4_num = df_name4.reset_index(drop = True)
df_name4_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    589   0450VME00050  128.502778  35.306944   101  중부내륙선    45  E
1    194   0450VME00100  128.513056  35.486944   101  중부내륙선    45  E
2    590   0450VME00230  128.510278  35.495833   101  중부내륙선    45  E
3    196   0450VME00270  128.443611  35.642222   101  중부내륙선    45  E
4    276   0450VME00400  128.405000  35.716944   101  중부내륙선    45  E
5    278   0450VME00500  128.343333  35.810278   101  중부내륙선    45  E
6    282   0450VME00600  128.286667  35.896667   101  중부내륙선    45  E
7    286   0450VME00700  128.270278  36.023611   101  중부내륙선    45  E
8    264   0450VME00800  128.260556  36.206111   101  중부내륙선    45  E
9    267   0450VME00900  128.231389  36.345000   101  중부내륙선    45  E
10   270   0450VME01000  128.148889  36.572222   101  중부내륙선    45  E
11  1163   0450VME01100  127.942778  36.855556   101  중부내륙선    45  E
12  1167   0450VME01300  127.701667  37.112500   101  중부내륙선    45  E
13  1168   0450VME01400  127.611944  37.198056   101  중부내륙선    45  E
14   417   0450VME01500  127.582328  37.269550   101  중부내륙선    45  E
15   422   0450VME01600  127.516656  37.363661   101  중부내륙선    45  E
16  1129  0450VME2230K2  127.850833  36.960556   101  중부내륙선    45  E
17   192   0450VMS00050  128.503056  35.316667   101  중부내륙선    45  S
18   193   0450VMS00150  128.498056  35.359722   101  중부내륙선    45  S
19   195   0450VMS00300  128.471111  35.570000   101  중부내륙선    45  S
20   275   0450VMS00400  128.418611  35.699722   101  중부내륙선    45  S
21   277   0450VMS00500  128.359444  35.783056   101  중부내륙선    45  S
22   281   0450VMS00600  128.318056  35.873889   101  중부내륙선    45  S
23   285   0450VMS00700  128.244722  35.939167   101  중부내륙선    45  S
24   289   0450VMS00800  128.262778  36.086944   101  중부내륙선    45  S
25   265   0450VMS00900  128.229167  36.203056   101  중부내륙선    45  S
26   266   0450VMS01000  128.256389  36.263056   101  중부내륙선    45  S
27   268   0450VMS01100  128.230278  36.401667   101  중부내륙선    45  S
28   269   0450VMS01150  128.199722  36.460000   101  중부내륙선    45  S
29   271   0450VMS01200  128.188333  36.585556   101  중부내륙선    45  S
30  1164   0450VMS01300  127.903056  36.871667   101  중부내륙선    45  S
31  1166   0450VMS01400  127.766667  37.037500   101  중부내륙선    45  S
32   415   0450VMS01700  127.587036  37.243294   101  중부내륙선    45  S
33   418   0450VMS01800  127.579467  37.285217   101  중부내륙선    45  S
34   421   0450VMS01900  127.570297  37.300783   101  중부내륙선    45  S
35   424   0450VMS02000  127.507500  37.398056   101  중부내륙선    45  S
36  1130  0450VMS2649K3  127.592500  37.226667   101  중부내륙선    45  S
37   273   0450VMX00100  128.429722  35.661389   101  중부내륙선    45  X
38   274   0450VMX00200  128.448611  35.699722   101  중부내륙선    45  X
39   279   0450VMX00300  128.335278  35.833889   101  중부내륙선    45  X
40   280   0450VMX00400  128.305556  35.841111   101  중부내륙선    45  X
41   284   0450VMX00500  128.234444  35.907500   101  중부내륙선    45  X
42   283   0450VMX00600  128.274167  35.913056   101  중부내륙선    45  X
43   288   0450VMX00700  128.308611  36.052778   101  중부내륙선    45  X
44   287   0450VMX00800  128.258889  36.075000   101  중부내륙선    45  X
45   272   0450VMX00900  128.158889  36.607778   101  중부내륙선    45  X
46  1165   0450VMX01000  127.854444  36.962222   101  중부내륙선    45  X
47   416   0450VMX01050  127.600000  37.259167   101  중부내륙선    45  X
48   420   0450VMX01100  127.558883  37.329953   101  중부내륙선    45  X
49   419   0450VMX01200  127.544100  37.345106   101  중부내륙선    45  X
50   423   0450VMX01300  127.604225  37.297844   101  중부내륙선    45  X

In [ ]:
df_name4_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name4_num

      도로명
0   중부내륙선
1   중부내륙선
2   중부내륙선
3   중부내륙선
4   중부내륙선
5   중부내륙선
6   중부내륙선
7   중부내륙선
8   중부내륙선
9   중부내륙선
10  중부내륙선
11  중부내륙선
12  중부내륙선
13  중부내륙선
14  중부내륙선
15  중부내륙선
16  중부내륙선
17  중부내륙선
18  중부내륙선
19  중부내륙선
20  중부내륙선
21  중부내륙선
22  중부내륙선
23  중부내륙선
24  중부내륙선
25  중부내륙선
26  중부내륙선
27  중부내륙선
28  중부내륙선
29  중부내륙선
30  중부내륙선
31  중부내륙선
32  중부내륙선
33  중부내륙선
34  중부내륙선
35  중부내륙선
36  중부내륙선
37  중부내륙선
38  중부내륙선
39  중부내륙선
40  중부내륙선
41  중부내륙선
42  중부내륙선
43  중부내륙선
44  중부내륙선
45  중부내륙선
46  중부내륙선
47  중부내륙선
48  중부내륙선
49  중부내륙선
50  중부내륙선

In [ ]:
df_name4_num.iloc[:] = '중부내륙고속도로'
df_name4_num

         도로명
0   중부내륙고속도로
1   중부내륙고속도로
2   중부내륙고속도로
3   중부내륙고속도로
4   중부내륙고속도로
5   중부내륙고속도로
6   중부내륙고속도로
7   중부내륙고속도로
8   중부내륙고속도로
9   중부내륙고속도로
10  중부내륙고속도로
11  중부내륙고속도로
12  중부내륙고속도로
13  중부내륙고속도로
14  중부내륙고속도로
15  중부내륙고속도로
16  중부내륙고속도로
17  중부내륙고속도로
18  중부내륙고속도로
19  중부내륙고속도로
20  중부내륙고속도로
21  중부내륙고속도로
22  중부내륙고속도로
23  중부내륙고속도로
24  중부내륙고속도로
25  중부내륙고속도로
26  중부내륙고속도로
27  중부내륙고속도로
28  중부내륙고속도로
29  중부내륙고속도로
30  중부내륙고속도로
31  중부내륙고속도로
32  중부내륙고속도로
33  중부내륙고속도로
34  중부내륙고속도로
35  중부내륙고속도로
36  중부내륙고속도로
37  중부내륙고속도로
38  중부내륙고속도로
39  중부내륙고속도로
40  중부내륙고속도로
41  중부내륙고속도로
42  중부내륙고속도로
43  중부내륙고속도로
44  중부내륙고속도로
45  중부내륙고속도로
46  중부내륙고속도로
47  중부내륙고속도로
48  중부내륙고속도로
49  중부내륙고속도로
50  중부내륙고속도로

In [ ]:
df_name4_num1 = df_name4.reset_index(drop = True)
df_name4_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    589   0450VME00050  128.502778  35.306944   101  중부내륙선    45  E
1    194   0450VME00100  128.513056  35.486944   101  중부내륙선    45  E
2    590   0450VME00230  128.510278  35.495833   101  중부내륙선    45  E
3    196   0450VME00270  128.443611  35.642222   101  중부내륙선    45  E
4    276   0450VME00400  128.405000  35.716944   101  중부내륙선    45  E
5    278   0450VME00500  128.343333  35.810278   101  중부내륙선    45  E
6    282   0450VME00600  128.286667  35.896667   101  중부내륙선    45  E
7    286   0450VME00700  128.270278  36.023611   101  중부내륙선    45  E
8    264   0450VME00800  128.260556  36.206111   101  중부내륙선    45  E
9    267   0450VME00900  128.231389  36.345000   101  중부내륙선    45  E
10   270   0450VME01000  128.148889  36.572222   101  중부내륙선    45  E
11  1163   0450VME01100  127.942778  36.855556   101  중부내륙선    45  E
12  1167   0450VME01300  127.701667  37.112500   101  중부내륙선    45  E
13  1168   0450VME01400  127.611944  37.198056   101  중부내륙선    45  E
14   417   0450VME01500  127.582328  37.269550   101  중부내륙선    45  E
15   422   0450VME01600  127.516656  37.363661   101  중부내륙선    45  E
16  1129  0450VME2230K2  127.850833  36.960556   101  중부내륙선    45  E
17   192   0450VMS00050  128.503056  35.316667   101  중부내륙선    45  S
18   193   0450VMS00150  128.498056  35.359722   101  중부내륙선    45  S
19   195   0450VMS00300  128.471111  35.570000   101  중부내륙선    45  S
20   275   0450VMS00400  128.418611  35.699722   101  중부내륙선    45  S
21   277   0450VMS00500  128.359444  35.783056   101  중부내륙선    45  S
22   281   0450VMS00600  128.318056  35.873889   101  중부내륙선    45  S
23   285   0450VMS00700  128.244722  35.939167   101  중부내륙선    45  S
24   289   0450VMS00800  128.262778  36.086944   101  중부내륙선    45  S
25   265   0450VMS00900  128.229167  36.203056   101  중부내륙선    45  S
26   266   0450VMS01000  128.256389  36.263056   101  중부내륙선    45  S
27   268   0450VMS01100  128.230278  36.401667   101  중부내륙선    45  S
28   269   0450VMS01150  128.199722  36.460000   101  중부내륙선    45  S
29   271   0450VMS01200  128.188333  36.585556   101  중부내륙선    45  S
30  1164   0450VMS01300  127.903056  36.871667   101  중부내륙선    45  S
31  1166   0450VMS01400  127.766667  37.037500   101  중부내륙선    45  S
32   415   0450VMS01700  127.587036  37.243294   101  중부내륙선    45  S
33   418   0450VMS01800  127.579467  37.285217   101  중부내륙선    45  S
34   421   0450VMS01900  127.570297  37.300783   101  중부내륙선    45  S
35   424   0450VMS02000  127.507500  37.398056   101  중부내륙선    45  S
36  1130  0450VMS2649K3  127.592500  37.226667   101  중부내륙선    45  S
37   273   0450VMX00100  128.429722  35.661389   101  중부내륙선    45  X
38   274   0450VMX00200  128.448611  35.699722   101  중부내륙선    45  X
39   279   0450VMX00300  128.335278  35.833889   101  중부내륙선    45  X
40   280   0450VMX00400  128.305556  35.841111   101  중부내륙선    45  X
41   284   0450VMX00500  128.234444  35.907500   101  중부내륙선    45  X
42   283   0450VMX00600  128.274167  35.913056   101  중부내륙선    45  X
43   288   0450VMX00700  128.308611  36.052778   101  중부내륙선    45  X
44   287   0450VMX00800  128.258889  36.075000   101  중부내륙선    45  X
45   272   0450VMX00900  128.158889  36.607778   101  중부내륙선    45  X
46  1165   0450VMX01000  127.854444  36.962222   101  중부내륙선    45  X
47   416   0450VMX01050  127.600000  37.259167   101  중부내륙선    45  X
48   420   0450VMX01100  127.558883  37.329953   101  중부내륙선    45  X
49   419   0450VMX01200  127.544100  37.345106   101  중부내륙선    45  X
50   423   0450VMX01300  127.604225  37.297844   101  중부내륙선    45  X

In [ ]:
df_name4_num1['도로명'] = df_name4_num['도로명']
df_name4_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0    589   0450VME00050  128.502778  35.306944   101  중부내륙고속도로    45  E
1    194   0450VME00100  128.513056  35.486944   101  중부내륙고속도로    45  E
2    590   0450VME00230  128.510278  35.495833   101  중부내륙고속도로    45  E
3    196   0450VME00270  128.443611  35.642222   101  중부내륙고속도로    45  E
4    276   0450VME00400  128.405000  35.716944   101  중부내륙고속도로    45  E
5    278   0450VME00500  128.343333  35.810278   101  중부내륙고속도로    45  E
6    282   0450VME00600  128.286667  35.896667   101  중부내륙고속도로    45  E
7    286   0450VME00700  128.270278  36.023611   101  중부내륙고속도로    45  E
8    264   0450VME00800  128.260556  36.206111   101  중부내륙고속도로    45  E
9    267   0450VME00900  128.231389  36.345000   101  중부내륙고속도로    45  E
10   270   0450VME01000  128.148889  36.572222   101  중부내륙고속도로    45  E
11  1163   0450VME01100  127.942778  36.855556   101  중부내륙고속도로    45  E
12  1167   0450VME01300  127.701667  37.112500   101  중부내륙고속도로    45  E
13  1168   0450VME01400  127.611944  37.198056   101  중부내륙고속도로    45  E
14   417   0450VME01500  127.582328  37.269550   101  중부내륙고속도로    45  E
15   422   0450VME01600  127.516656  37.363661   101  중부내륙고속도로    45  E
16  1129  0450VME2230K2  127.850833  36.960556   101  중부내륙고속도로    45  E
17   192   0450VMS00050  128.503056  35.316667   101  중부내륙고속도로    45  S
18   193   0450VMS00150  128.498056  35.359722   101  중부내륙고속도로    45  S
19   195   0450VMS00300  128.471111  35.570000   101  중부내륙고속도로    45  S
20   275   0450VMS00400  128.418611  35.699722   101  중부내륙고속도로    45  S
21   277   0450VMS00500  128.359444  35.783056   101  중부내륙고속도로    45  S
22   281   0450VMS00600  128.318056  35.873889   101  중부내륙고속도로    45  S
23   285   0450VMS00700  128.244722  35.939167   101  중부내륙고속도로    45  S
24   289   0450VMS00800  128.262778  36.086944   101  중부내륙고속도로    45  S
25   265   0450VMS00900  128.229167  36.203056   101  중부내륙고속도로    45  S
26   266   0450VMS01000  128.256389  36.263056   101  중부내륙고속도로    45  S
27   268   0450VMS01100  128.230278  36.401667   101  중부내륙고속도로    45  S
28   269   0450VMS01150  128.199722  36.460000   101  중부내륙고속도로    45  S
29   271   0450VMS01200  128.188333  36.585556   101  중부내륙고속도로    45  S
30  1164   0450VMS01300  127.903056  36.871667   101  중부내륙고속도로    45  S
31  1166   0450VMS01400  127.766667  37.037500   101  중부내륙고속도로    45  S
32   415   0450VMS01700  127.587036  37.243294   101  중부내륙고속도로    45  S
33   418   0450VMS01800  127.579467  37.285217   101  중부내륙고속도로    45  S
34   421   0450VMS01900  127.570297  37.300783   101  중부내륙고속도로    45  S
35   424   0450VMS02000  127.507500  37.398056   101  중부내륙고속도로    45  S
36  1130  0450VMS2649K3  127.592500  37.226667   101  중부내륙고속도로    45  S
37   273   0450VMX00100  128.429722  35.661389   101  중부내륙고속도로    45  X
38   274   0450VMX00200  128.448611  35.699722   101  중부내륙고속도로    45  X
39   279   0450VMX00300  128.335278  35.833889   101  중부내륙고속도로    45  X
40   280   0450VMX00400  128.305556  35.841111   101  중부내륙고속도로    45  X
41   284   0450VMX00500  128.234444  35.907500   101  중부내륙고속도로    45  X
42   283   0450VMX00600  128.274167  35.913056   101  중부내륙고속도로    45  X
43   288   0450VMX00700  128.308611  36.052778   101  중부내륙고속도로    45  X
44   287   0450VMX00800  128.258889  36.075000   101  중부내륙고속도로    45  X
45   272   0450VMX00900  128.158889  36.607778   101  중부내륙고속도로    45  X
46  1165   0450VMX01000  127.854444  36.962222   101  중부내륙고속도로    45  X
47   416   0450VMX01050  127.600000  37.259167   101  중부내륙고속도로    45  X
48   420   0450VMX01100  127.558883  37.329953   101  중부내륙고속도로    45  X
49   419   0450VMX01200  127.544100  37.345106   101  중부내륙고속도로    45  X
50   423   0450VMX01300  127.604225  37.297844   101  중부내륙고속도로    45  X

In [ ]:
df_name5 = df[df['도로명'] == '남해선']
df_name5

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
155    64  0100VME00050  127.492733  34.997528   101  남해선    10  E
156    67  0100VME00070  127.576678  34.986672   101  남해선    10  E
157   199  0100VME00100  128.538889  35.282778   101  남해선    10  E
158    68  0100VME00150  127.619028  34.968444   101  남해선    10  E
159   163  0100VME00400  127.870556  35.030278   101  남해선    10  E
160   164  0100VME00500  128.073889  35.101111   101  남해선    10  E
161   167  0100VME00550  128.104444  35.127778   101  남해선    10  E
162   168  0100VME00620  128.107222  35.158611   101  남해선    10  E
163   172  0100VME00640  128.150000  35.168056   101  남해선    10  E
164   176  0100VME00775  128.269167  35.218611   101  남해선    10  E
165   181  0100VME00820  128.289444  35.275278   101  남해선    10  E
166   184  0100VME00835  128.327222  35.292778   101  남해선    10  E
167   188  0100VME00860  128.363889  35.292500   101  남해선    10  E
168   202  0100VME01000  128.660278  35.268611   101  남해선    10  E
169  1083  0100VME01050  128.762500  35.240278   101  남해선    10  E
170   125  0100VME01200  128.863889  35.220000   101  남해선    10  E
171   128  0100VME01300  128.941111  35.221667   101  남해선    10  E
172   587  0100VME01400  128.164444  35.179722   101  남해선    10  E
173    65  0100VMS00050  127.504956  34.990589   101  남해선    10  S
174    66  0100VMS00100  127.576667  34.986667   101  남해선    10  S
175    69  0100VMS00200  127.784444  34.985556   101  남해선    10  S
176   169  0100VMS00635  128.121667  35.164167   101  남해선    10  S
177   173  0100VMS00675  128.153333  35.173333   101  남해선    10  S
178   200  0100VMS00700  128.553889  35.288611   101  남해선    10  S
179   177  0100VMS00780  128.262778  35.213056   101  남해선    10  S
180   180  0100VMS00790  128.275556  35.258611   101  남해선    10  S
181   185  0100VMS00850  128.348056  35.289167   101  남해선    10  S
182   189  0100VMS00870  128.380000  35.290000   101  남해선    10  S
183   198  0100VMS00880  128.426944  35.280000   101  남해선    10  S
184   129  0100VMS01000  128.941111  35.221667   101  남해선    10  S
185   174  0100VMX00005  128.133333  35.208333   101  남해선    10  X
186   178  0100VMX00015  128.266667  35.238889   101  남해선    10  X
187   190  0100VMX00020  128.404722  35.293889   101  남해선    10  X
188   166  0100VMX00025  128.099444  35.118611   101  남해선    10  X
189   186  0100VMX00027  128.327222  35.292778   101  남해선    10  X
190   175  0100VMX00030  128.229444  35.185278   101  남해선    10  X
191   191  0100VMX00035  128.407500  35.307778   101  남해선    10  X
192   187  0100VMX00040  128.348889  35.279444   101  남해선    10  X
193   171  0100VMX00045  128.141111  35.181667   101  남해선    10  X
194   165  0100VMX00050  128.098056  35.108056   101  남해선    10  X
195   170  0100VMX00055  128.118889  35.170556   101  남해선    10  X
196   588  0100VMX00060  128.242500  35.185278   101  남해선    10  X
197   179  0100VMX00062  128.264444  35.234722   101  남해선    10  X
198   182  0100VMX00065  128.310000  35.298333   101  남해선    10  X
199   183  0100VMX00070  128.336667  35.272500   101  남해선    10  X
200   201  0100VMX00100  128.616944  35.246667   101  남해선    10  X
201   124  0100VMX00230  128.849444  35.229722   101  남해선    10  X
202   127  0100VMX00270  128.916111  35.229167   101  남해선    10  X
203   126  0100VMX00300  128.904444  35.234722   101  남해선    10  X
204   130  0100VMX00500  129.023333  35.214722   101  남해선    10  X
205   131  0100VMX00600  129.035000  35.213056   101  남해선    10  X

In [ ]:
df_name5_num = df_name5.reset_index(drop = True)
df_name5_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0     64  0100VME00050  127.492733  34.997528   101  남해선    10  E
1     67  0100VME00070  127.576678  34.986672   101  남해선    10  E
2    199  0100VME00100  128.538889  35.282778   101  남해선    10  E
3     68  0100VME00150  127.619028  34.968444   101  남해선    10  E
4    163  0100VME00400  127.870556  35.030278   101  남해선    10  E
5    164  0100VME00500  128.073889  35.101111   101  남해선    10  E
6    167  0100VME00550  128.104444  35.127778   101  남해선    10  E
7    168  0100VME00620  128.107222  35.158611   101  남해선    10  E
8    172  0100VME00640  128.150000  35.168056   101  남해선    10  E
9    176  0100VME00775  128.269167  35.218611   101  남해선    10  E
10   181  0100VME00820  128.289444  35.275278   101  남해선    10  E
11   184  0100VME00835  128.327222  35.292778   101  남해선    10  E
12   188  0100VME00860  128.363889  35.292500   101  남해선    10  E
13   202  0100VME01000  128.660278  35.268611   101  남해선    10  E
14  1083  0100VME01050  128.762500  35.240278   101  남해선    10  E
15   125  0100VME01200  128.863889  35.220000   101  남해선    10  E
16   128  0100VME01300  128.941111  35.221667   101  남해선    10  E
17   587  0100VME01400  128.164444  35.179722   101  남해선    10  E
18    65  0100VMS00050  127.504956  34.990589   101  남해선    10  S
19    66  0100VMS00100  127.576667  34.986667   101  남해선    10  S
20    69  0100VMS00200  127.784444  34.985556   101  남해선    10  S
21   169  0100VMS00635  128.121667  35.164167   101  남해선    10  S
22   173  0100VMS00675  128.153333  35.173333   101  남해선    10  S
23   200  0100VMS00700  128.553889  35.288611   101  남해선    10  S
24   177  0100VMS00780  128.262778  35.213056   101  남해선    10  S
25   180  0100VMS00790  128.275556  35.258611   101  남해선    10  S
26   185  0100VMS00850  128.348056  35.289167   101  남해선    10  S
27   189  0100VMS00870  128.380000  35.290000   101  남해선    10  S
28   198  0100VMS00880  128.426944  35.280000   101  남해선    10  S
29   129  0100VMS01000  128.941111  35.221667   101  남해선    10  S
30   174  0100VMX00005  128.133333  35.208333   101  남해선    10  X
31   178  0100VMX00015  128.266667  35.238889   101  남해선    10  X
32   190  0100VMX00020  128.404722  35.293889   101  남해선    10  X
33   166  0100VMX00025  128.099444  35.118611   101  남해선    10  X
34   186  0100VMX00027  128.327222  35.292778   101  남해선    10  X
35   175  0100VMX00030  128.229444  35.185278   101  남해선    10  X
36   191  0100VMX00035  128.407500  35.307778   101  남해선    10  X
37   187  0100VMX00040  128.348889  35.279444   101  남해선    10  X
38   171  0100VMX00045  128.141111  35.181667   101  남해선    10  X
39   165  0100VMX00050  128.098056  35.108056   101  남해선    10  X
40   170  0100VMX00055  128.118889  35.170556   101  남해선    10  X
41   588  0100VMX00060  128.242500  35.185278   101  남해선    10  X
42   179  0100VMX00062  128.264444  35.234722   101  남해선    10  X
43   182  0100VMX00065  128.310000  35.298333   101  남해선    10  X
44   183  0100VMX00070  128.336667  35.272500   101  남해선    10  X
45   201  0100VMX00100  128.616944  35.246667   101  남해선    10  X
46   124  0100VMX00230  128.849444  35.229722   101  남해선    10  X
47   127  0100VMX00270  128.916111  35.229167   101  남해선    10  X
48   126  0100VMX00300  128.904444  35.234722   101  남해선    10  X
49   130  0100VMX00500  129.023333  35.214722   101  남해선    10  X
50   131  0100VMX00600  129.035000  35.213056   101  남해선    10  X

In [ ]:
df_name5_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name5_num

    도로명
0   남해선
1   남해선
2   남해선
3   남해선
4   남해선
5   남해선
6   남해선
7   남해선
8   남해선
9   남해선
10  남해선
11  남해선
12  남해선
13  남해선
14  남해선
15  남해선
16  남해선
17  남해선
18  남해선
19  남해선
20  남해선
21  남해선
22  남해선
23  남해선
24  남해선
25  남해선
26  남해선
27  남해선
28  남해선
29  남해선
30  남해선
31  남해선
32  남해선
33  남해선
34  남해선
35  남해선
36  남해선
37  남해선
38  남해선
39  남해선
40  남해선
41  남해선
42  남해선
43  남해선
44  남해선
45  남해선
46  남해선
47  남해선
48  남해선
49  남해선
50  남해선

In [ ]:
df_name5_num.iloc[:] = '남해고속도로'
df_name5_num

       도로명
0   남해고속도로
1   남해고속도로
2   남해고속도로
3   남해고속도로
4   남해고속도로
5   남해고속도로
6   남해고속도로
7   남해고속도로
8   남해고속도로
9   남해고속도로
10  남해고속도로
11  남해고속도로
12  남해고속도로
13  남해고속도로
14  남해고속도로
15  남해고속도로
16  남해고속도로
17  남해고속도로
18  남해고속도로
19  남해고속도로
20  남해고속도로
21  남해고속도로
22  남해고속도로
23  남해고속도로
24  남해고속도로
25  남해고속도로
26  남해고속도로
27  남해고속도로
28  남해고속도로
29  남해고속도로
30  남해고속도로
31  남해고속도로
32  남해고속도로
33  남해고속도로
34  남해고속도로
35  남해고속도로
36  남해고속도로
37  남해고속도로
38  남해고속도로
39  남해고속도로
40  남해고속도로
41  남해고속도로
42  남해고속도로
43  남해고속도로
44  남해고속도로
45  남해고속도로
46  남해고속도로
47  남해고속도로
48  남해고속도로
49  남해고속도로
50  남해고속도로

In [ ]:
df_name5_num1 = df_name5.reset_index(drop = True)
df_name5_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0     64  0100VME00050  127.492733  34.997528   101  남해선    10  E
1     67  0100VME00070  127.576678  34.986672   101  남해선    10  E
2    199  0100VME00100  128.538889  35.282778   101  남해선    10  E
3     68  0100VME00150  127.619028  34.968444   101  남해선    10  E
4    163  0100VME00400  127.870556  35.030278   101  남해선    10  E
5    164  0100VME00500  128.073889  35.101111   101  남해선    10  E
6    167  0100VME00550  128.104444  35.127778   101  남해선    10  E
7    168  0100VME00620  128.107222  35.158611   101  남해선    10  E
8    172  0100VME00640  128.150000  35.168056   101  남해선    10  E
9    176  0100VME00775  128.269167  35.218611   101  남해선    10  E
10   181  0100VME00820  128.289444  35.275278   101  남해선    10  E
11   184  0100VME00835  128.327222  35.292778   101  남해선    10  E
12   188  0100VME00860  128.363889  35.292500   101  남해선    10  E
13   202  0100VME01000  128.660278  35.268611   101  남해선    10  E
14  1083  0100VME01050  128.762500  35.240278   101  남해선    10  E
15   125  0100VME01200  128.863889  35.220000   101  남해선    10  E
16   128  0100VME01300  128.941111  35.221667   101  남해선    10  E
17   587  0100VME01400  128.164444  35.179722   101  남해선    10  E
18    65  0100VMS00050  127.504956  34.990589   101  남해선    10  S
19    66  0100VMS00100  127.576667  34.986667   101  남해선    10  S
20    69  0100VMS00200  127.784444  34.985556   101  남해선    10  S
21   169  0100VMS00635  128.121667  35.164167   101  남해선    10  S
22   173  0100VMS00675  128.153333  35.173333   101  남해선    10  S
23   200  0100VMS00700  128.553889  35.288611   101  남해선    10  S
24   177  0100VMS00780  128.262778  35.213056   101  남해선    10  S
25   180  0100VMS00790  128.275556  35.258611   101  남해선    10  S
26   185  0100VMS00850  128.348056  35.289167   101  남해선    10  S
27   189  0100VMS00870  128.380000  35.290000   101  남해선    10  S
28   198  0100VMS00880  128.426944  35.280000   101  남해선    10  S
29   129  0100VMS01000  128.941111  35.221667   101  남해선    10  S
30   174  0100VMX00005  128.133333  35.208333   101  남해선    10  X
31   178  0100VMX00015  128.266667  35.238889   101  남해선    10  X
32   190  0100VMX00020  128.404722  35.293889   101  남해선    10  X
33   166  0100VMX00025  128.099444  35.118611   101  남해선    10  X
34   186  0100VMX00027  128.327222  35.292778   101  남해선    10  X
35   175  0100VMX00030  128.229444  35.185278   101  남해선    10  X
36   191  0100VMX00035  128.407500  35.307778   101  남해선    10  X
37   187  0100VMX00040  128.348889  35.279444   101  남해선    10  X
38   171  0100VMX00045  128.141111  35.181667   101  남해선    10  X
39   165  0100VMX00050  128.098056  35.108056   101  남해선    10  X
40   170  0100VMX00055  128.118889  35.170556   101  남해선    10  X
41   588  0100VMX00060  128.242500  35.185278   101  남해선    10  X
42   179  0100VMX00062  128.264444  35.234722   101  남해선    10  X
43   182  0100VMX00065  128.310000  35.298333   101  남해선    10  X
44   183  0100VMX00070  128.336667  35.272500   101  남해선    10  X
45   201  0100VMX00100  128.616944  35.246667   101  남해선    10  X
46   124  0100VMX00230  128.849444  35.229722   101  남해선    10  X
47   127  0100VMX00270  128.916111  35.229167   101  남해선    10  X
48   126  0100VMX00300  128.904444  35.234722   101  남해선    10  X
49   130  0100VMX00500  129.023333  35.214722   101  남해선    10  X
50   131  0100VMX00600  129.035000  35.213056   101  남해선    10  X

In [ ]:
df_name5_num1['도로명'] = df_name5_num['도로명']
df_name5_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0     64  0100VME00050  127.492733  34.997528   101  남해고속도로    10  E
1     67  0100VME00070  127.576678  34.986672   101  남해고속도로    10  E
2    199  0100VME00100  128.538889  35.282778   101  남해고속도로    10  E
3     68  0100VME00150  127.619028  34.968444   101  남해고속도로    10  E
4    163  0100VME00400  127.870556  35.030278   101  남해고속도로    10  E
5    164  0100VME00500  128.073889  35.101111   101  남해고속도로    10  E
6    167  0100VME00550  128.104444  35.127778   101  남해고속도로    10  E
7    168  0100VME00620  128.107222  35.158611   101  남해고속도로    10  E
8    172  0100VME00640  128.150000  35.168056   101  남해고속도로    10  E
9    176  0100VME00775  128.269167  35.218611   101  남해고속도로    10  E
10   181  0100VME00820  128.289444  35.275278   101  남해고속도로    10  E
11   184  0100VME00835  128.327222  35.292778   101  남해고속도로    10  E
12   188  0100VME00860  128.363889  35.292500   101  남해고속도로    10  E
13   202  0100VME01000  128.660278  35.268611   101  남해고속도로    10  E
14  1083  0100VME01050  128.762500  35.240278   101  남해고속도로    10  E
15   125  0100VME01200  128.863889  35.220000   101  남해고속도로    10  E
16   128  0100VME01300  128.941111  35.221667   101  남해고속도로    10  E
17   587  0100VME01400  128.164444  35.179722   101  남해고속도로    10  E
18    65  0100VMS00050  127.504956  34.990589   101  남해고속도로    10  S
19    66  0100VMS00100  127.576667  34.986667   101  남해고속도로    10  S
20    69  0100VMS00200  127.784444  34.985556   101  남해고속도로    10  S
21   169  0100VMS00635  128.121667  35.164167   101  남해고속도로    10  S
22   173  0100VMS00675  128.153333  35.173333   101  남해고속도로    10  S
23   200  0100VMS00700  128.553889  35.288611   101  남해고속도로    10  S
24   177  0100VMS00780  128.262778  35.213056   101  남해고속도로    10  S
25   180  0100VMS00790  128.275556  35.258611   101  남해고속도로    10  S
26   185  0100VMS00850  128.348056  35.289167   101  남해고속도로    10  S
27   189  0100VMS00870  128.380000  35.290000   101  남해고속도로    10  S
28   198  0100VMS00880  128.426944  35.280000   101  남해고속도로    10  S
29   129  0100VMS01000  128.941111  35.221667   101  남해고속도로    10  S
30   174  0100VMX00005  128.133333  35.208333   101  남해고속도로    10  X
31   178  0100VMX00015  128.266667  35.238889   101  남해고속도로    10  X
32   190  0100VMX00020  128.404722  35.293889   101  남해고속도로    10  X
33   166  0100VMX00025  128.099444  35.118611   101  남해고속도로    10  X
34   186  0100VMX00027  128.327222  35.292778   101  남해고속도로    10  X
35   175  0100VMX00030  128.229444  35.185278   101  남해고속도로    10  X
36   191  0100VMX00035  128.407500  35.307778   101  남해고속도로    10  X
37   187  0100VMX00040  128.348889  35.279444   101  남해고속도로    10  X
38   171  0100VMX00045  128.141111  35.181667   101  남해고속도로    10  X
39   165  0100VMX00050  128.098056  35.108056   101  남해고속도로    10  X
40   170  0100VMX00055  128.118889  35.170556   101  남해고속도로    10  X
41   588  0100VMX00060  128.242500  35.185278   101  남해고속도로    10  X
42   179  0100VMX00062  128.264444  35.234722   101  남해고속도로    10  X
43   182  0100VMX00065  128.310000  35.298333   101  남해고속도로    10  X
44   183  0100VMX00070  128.336667  35.272500   101  남해고속도로    10  X
45   201  0100VMX00100  128.616944  35.246667   101  남해고속도로    10  X
46   124  0100VMX00230  128.849444  35.229722   101  남해고속도로    10  X
47   127  0100VMX00270  128.916111  35.229167   101  남해고속도로    10  X
48   126  0100VMX00300  128.904444  35.234722   101  남해고속도로    10  X
49   130  0100VMX00500  129.023333  35.214722   101  남해고속도로    10  X
50   131  0100VMX00600  129.035000  35.213056   101  남해고속도로    10  X

In [ ]:
df_name6 = df[df['도로명'] == '서해안선']
df_name6

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급   도로명  노선번호 방향
284    94  0150VME00050  126.475000  34.851944   101  서해안선    15  E
285    96  0150VME00100  126.504167  34.952778   101  서해안선    15  E
286    98  0150VME00200  126.481667  35.070278   101  서해안선    15  E
287  1370  0150VME00300  126.625553  35.393767   101  서해안선    15  E
288  1372  0150VME00400  126.679314  35.482108   101  서해안선    15  E
289   582  0150VME00500  126.692822  35.559475   101  서해안선    15  E
290  1374  0150VME00600  126.835319  35.810272   101  서해안선    15  E
291  1377  0150VME00700  126.837500  35.956944   101  서해안선    15  E
292  1379  0150VME00800  126.800000  36.027778   101  서해안선    15  E
293  1363  0150VME00900  126.637619  36.118903   101  서해안선    15  E
294  1365  0150VME01000  126.589400  36.308950   101  서해안선    15  E
295  1368  0150VME01100  126.575019  36.567125   101  서해안선    15  E
296  1202  0150VME01300  126.554722  36.688333   101  서해안선   150  E
297  1204  0150VME01400  126.566111  36.776389   101  서해안선   150  E
298  1206  0150VME01500  126.605556  36.842500   101  서해안선   150  E
299  1209  0150VME01700  126.760278  36.916944   101  서해안선   150  E
300  1210  0150VME01900  126.870556  36.982222   101  서해안선   150  E
301   461  0150VME02000  126.877222  37.023611   101  서해안선    15  E
302   463  0150VME02050  126.880000  37.036667   101  서해안선    15  E
303   464  0150VME02100  126.888889  37.079444   101  서해안선    15  E
304   466  0150VME02200  126.873056  37.196389   101  서해안선    15  E
305   467  0150VME02300  126.886667  37.252778   101  서해안선    15  E
306   469  0150VME02400  126.900556  37.300278   101  서해안선    15  E
307   399  0150VME02500  126.864167  37.355278   101  서해안선    15  E
308    95  0150VMS00050  126.474722  34.852500   101  서해안선    15  S
309    97  0150VMS00100  126.481944  35.058056   101  서해안선    15  S
310  1369  0150VMS00300  126.569958  35.324858   101  서해안선    15  S
311  1371  0150VMS00400  126.678167  35.477894   101  서해안선    15  S
312  1373  0150VMS00500  126.796903  35.754106   101  서해안선    15  S
313  1375  0150VMS00600  126.842411  35.867872   101  서해안선    15  S
314  1378  0150VMS00700  126.826944  35.982222   101  서해안선    15  S
315  1361  0150VMS00800  126.743403  36.070361   101  서해안선    15  S
316  1362  0150VMS00900  126.637831  36.118331   101  서해안선    15  S
317  1364  0150VMS01000  126.567381  36.265275   101  서해안선    15  S
318  1366  0150VMS01100  126.559189  36.360358   101  서해안선    15  S
319  1367  0150VMS01200  126.585303  36.523317   101  서해안선    15  S
320  1203  0150VMS01300  126.568333  36.770278   101  서해안선   150  S
321  1205  0150VMS01400  126.583611  36.822778   101  서해안선   150  S
322  1207  0150VMS01500  126.648611  36.861667   101  서해안선   150  S
323  1208  0150VMS01600  126.726944  36.904722   101  서해안선   150  S
324   462  0150VMS01800  126.876667  37.023056   101  서해안선    15  S
325   465  0150VMS01900  126.875556  37.169722   101  서해안선    15  S
326   468  0150VMS01950  126.896944  37.273889   101  서해안선    15  S
327   470  0150VMS02200  126.900278  37.300000   101  서해안선    15  S
328   400  0150VMS02300  126.864167  37.355278   101  서해안선    15  S
329   401  0150VMS02400  126.891389  37.415556   101  서해안선    15  S
330    99  0150VMX00150  126.433889  34.839167   101  서해안선    15  X
331   101  0150VMX00170  126.474722  34.831667   101  서해안선    15  X
332  1376  0150VMX00200  126.812000  35.945308   101  서해안선    15  X
333   402  0150VMX00600  126.887500  37.463889   101  서해안선    15  X

In [ ]:
df_name6_num = df_name6.reset_index(drop = True)
df_name6_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급   도로명  노선번호 방향
0     94  0150VME00050  126.475000  34.851944   101  서해안선    15  E
1     96  0150VME00100  126.504167  34.952778   101  서해안선    15  E
2     98  0150VME00200  126.481667  35.070278   101  서해안선    15  E
3   1370  0150VME00300  126.625553  35.393767   101  서해안선    15  E
4   1372  0150VME00400  126.679314  35.482108   101  서해안선    15  E
5    582  0150VME00500  126.692822  35.559475   101  서해안선    15  E
6   1374  0150VME00600  126.835319  35.810272   101  서해안선    15  E
7   1377  0150VME00700  126.837500  35.956944   101  서해안선    15  E
8   1379  0150VME00800  126.800000  36.027778   101  서해안선    15  E
9   1363  0150VME00900  126.637619  36.118903   101  서해안선    15  E
10  1365  0150VME01000  126.589400  36.308950   101  서해안선    15  E
11  1368  0150VME01100  126.575019  36.567125   101  서해안선    15  E
12  1202  0150VME01300  126.554722  36.688333   101  서해안선   150  E
13  1204  0150VME01400  126.566111  36.776389   101  서해안선   150  E
14  1206  0150VME01500  126.605556  36.842500   101  서해안선   150  E
15  1209  0150VME01700  126.760278  36.916944   101  서해안선   150  E
16  1210  0150VME01900  126.870556  36.982222   101  서해안선   150  E
17   461  0150VME02000  126.877222  37.023611   101  서해안선    15  E
18   463  0150VME02050  126.880000  37.036667   101  서해안선    15  E
19   464  0150VME02100  126.888889  37.079444   101  서해안선    15  E
20   466  0150VME02200  126.873056  37.196389   101  서해안선    15  E
21   467  0150VME02300  126.886667  37.252778   101  서해안선    15  E
22   469  0150VME02400  126.900556  37.300278   101  서해안선    15  E
23   399  0150VME02500  126.864167  37.355278   101  서해안선    15  E
24    95  0150VMS00050  126.474722  34.852500   101  서해안선    15  S
25    97  0150VMS00100  126.481944  35.058056   101  서해안선    15  S
26  1369  0150VMS00300  126.569958  35.324858   101  서해안선    15  S
27  1371  0150VMS00400  126.678167  35.477894   101  서해안선    15  S
28  1373  0150VMS00500  126.796903  35.754106   101  서해안선    15  S
29  1375  0150VMS00600  126.842411  35.867872   101  서해안선    15  S
30  1378  0150VMS00700  126.826944  35.982222   101  서해안선    15  S
31  1361  0150VMS00800  126.743403  36.070361   101  서해안선    15  S
32  1362  0150VMS00900  126.637831  36.118331   101  서해안선    15  S
33  1364  0150VMS01000  126.567381  36.265275   101  서해안선    15  S
34  1366  0150VMS01100  126.559189  36.360358   101  서해안선    15  S
35  1367  0150VMS01200  126.585303  36.523317   101  서해안선    15  S
36  1203  0150VMS01300  126.568333  36.770278   101  서해안선   150  S
37  1205  0150VMS01400  126.583611  36.822778   101  서해안선   150  S
38  1207  0150VMS01500  126.648611  36.861667   101  서해안선   150  S
39  1208  0150VMS01600  126.726944  36.904722   101  서해안선   150  S
40   462  0150VMS01800  126.876667  37.023056   101  서해안선    15  S
41   465  0150VMS01900  126.875556  37.169722   101  서해안선    15  S
42   468  0150VMS01950  126.896944  37.273889   101  서해안선    15  S
43   470  0150VMS02200  126.900278  37.300000   101  서해안선    15  S
44   400  0150VMS02300  126.864167  37.355278   101  서해안선    15  S
45   401  0150VMS02400  126.891389  37.415556   101  서해안선    15  S
46    99  0150VMX00150  126.433889  34.839167   101  서해안선    15  X
47   101  0150VMX00170  126.474722  34.831667   101  서해안선    15  X
48  1376  0150VMX00200  126.812000  35.945308   101  서해안선    15  X
49   402  0150VMX00600  126.887500  37.463889   101  서해안선    15  X

In [ ]:
df_name6_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name6_num

     도로명
0   서해안선
1   서해안선
2   서해안선
3   서해안선
4   서해안선
5   서해안선
6   서해안선
7   서해안선
8   서해안선
9   서해안선
10  서해안선
11  서해안선
12  서해안선
13  서해안선
14  서해안선
15  서해안선
16  서해안선
17  서해안선
18  서해안선
19  서해안선
20  서해안선
21  서해안선
22  서해안선
23  서해안선
24  서해안선
25  서해안선
26  서해안선
27  서해안선
28  서해안선
29  서해안선
30  서해안선
31  서해안선
32  서해안선
33  서해안선
34  서해안선
35  서해안선
36  서해안선
37  서해안선
38  서해안선
39  서해안선
40  서해안선
41  서해안선
42  서해안선
43  서해안선
44  서해안선
45  서해안선
46  서해안선
47  서해안선
48  서해안선
49  서해안선

In [ ]:
df_name6_num.iloc[:] = '서해안고속도로'
df_name6_num

        도로명
0   서해안고속도로
1   서해안고속도로
2   서해안고속도로
3   서해안고속도로
4   서해안고속도로
5   서해안고속도로
6   서해안고속도로
7   서해안고속도로
8   서해안고속도로
9   서해안고속도로
10  서해안고속도로
11  서해안고속도로
12  서해안고속도로
13  서해안고속도로
14  서해안고속도로
15  서해안고속도로
16  서해안고속도로
17  서해안고속도로
18  서해안고속도로
19  서해안고속도로
20  서해안고속도로
21  서해안고속도로
22  서해안고속도로
23  서해안고속도로
24  서해안고속도로
25  서해안고속도로
26  서해안고속도로
27  서해안고속도로
28  서해안고속도로
29  서해안고속도로
30  서해안고속도로
31  서해안고속도로
32  서해안고속도로
33  서해안고속도로
34  서해안고속도로
35  서해안고속도로
36  서해안고속도로
37  서해안고속도로
38  서해안고속도로
39  서해안고속도로
40  서해안고속도로
41  서해안고속도로
42  서해안고속도로
43  서해안고속도로
44  서해안고속도로
45  서해안고속도로
46  서해안고속도로
47  서해안고속도로
48  서해안고속도로
49  서해안고속도로

In [ ]:
df_name6_num1 = df_name6.reset_index(drop = True)
df_name6_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급   도로명  노선번호 방향
0     94  0150VME00050  126.475000  34.851944   101  서해안선    15  E
1     96  0150VME00100  126.504167  34.952778   101  서해안선    15  E
2     98  0150VME00200  126.481667  35.070278   101  서해안선    15  E
3   1370  0150VME00300  126.625553  35.393767   101  서해안선    15  E
4   1372  0150VME00400  126.679314  35.482108   101  서해안선    15  E
5    582  0150VME00500  126.692822  35.559475   101  서해안선    15  E
6   1374  0150VME00600  126.835319  35.810272   101  서해안선    15  E
7   1377  0150VME00700  126.837500  35.956944   101  서해안선    15  E
8   1379  0150VME00800  126.800000  36.027778   101  서해안선    15  E
9   1363  0150VME00900  126.637619  36.118903   101  서해안선    15  E
10  1365  0150VME01000  126.589400  36.308950   101  서해안선    15  E
11  1368  0150VME01100  126.575019  36.567125   101  서해안선    15  E
12  1202  0150VME01300  126.554722  36.688333   101  서해안선   150  E
13  1204  0150VME01400  126.566111  36.776389   101  서해안선   150  E
14  1206  0150VME01500  126.605556  36.842500   101  서해안선   150  E
15  1209  0150VME01700  126.760278  36.916944   101  서해안선   150  E
16  1210  0150VME01900  126.870556  36.982222   101  서해안선   150  E
17   461  0150VME02000  126.877222  37.023611   101  서해안선    15  E
18   463  0150VME02050  126.880000  37.036667   101  서해안선    15  E
19   464  0150VME02100  126.888889  37.079444   101  서해안선    15  E
20   466  0150VME02200  126.873056  37.196389   101  서해안선    15  E
21   467  0150VME02300  126.886667  37.252778   101  서해안선    15  E
22   469  0150VME02400  126.900556  37.300278   101  서해안선    15  E
23   399  0150VME02500  126.864167  37.355278   101  서해안선    15  E
24    95  0150VMS00050  126.474722  34.852500   101  서해안선    15  S
25    97  0150VMS00100  126.481944  35.058056   101  서해안선    15  S
26  1369  0150VMS00300  126.569958  35.324858   101  서해안선    15  S
27  1371  0150VMS00400  126.678167  35.477894   101  서해안선    15  S
28  1373  0150VMS00500  126.796903  35.754106   101  서해안선    15  S
29  1375  0150VMS00600  126.842411  35.867872   101  서해안선    15  S
30  1378  0150VMS00700  126.826944  35.982222   101  서해안선    15  S
31  1361  0150VMS00800  126.743403  36.070361   101  서해안선    15  S
32  1362  0150VMS00900  126.637831  36.118331   101  서해안선    15  S
33  1364  0150VMS01000  126.567381  36.265275   101  서해안선    15  S
34  1366  0150VMS01100  126.559189  36.360358   101  서해안선    15  S
35  1367  0150VMS01200  126.585303  36.523317   101  서해안선    15  S
36  1203  0150VMS01300  126.568333  36.770278   101  서해안선   150  S
37  1205  0150VMS01400  126.583611  36.822778   101  서해안선   150  S
38  1207  0150VMS01500  126.648611  36.861667   101  서해안선   150  S
39  1208  0150VMS01600  126.726944  36.904722   101  서해안선   150  S
40   462  0150VMS01800  126.876667  37.023056   101  서해안선    15  S
41   465  0150VMS01900  126.875556  37.169722   101  서해안선    15  S
42   468  0150VMS01950  126.896944  37.273889   101  서해안선    15  S
43   470  0150VMS02200  126.900278  37.300000   101  서해안선    15  S
44   400  0150VMS02300  126.864167  37.355278   101  서해안선    15  S
45   401  0150VMS02400  126.891389  37.415556   101  서해안선    15  S
46    99  0150VMX00150  126.433889  34.839167   101  서해안선    15  X
47   101  0150VMX00170  126.474722  34.831667   101  서해안선    15  X
48  1376  0150VMX00200  126.812000  35.945308   101  서해안선    15  X
49   402  0150VMX00600  126.887500  37.463889   101  서해안선    15  X

In [ ]:
df_name6_num1['도로명'] = df_name6_num['도로명']
df_name6_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
0     94  0150VME00050  126.475000  34.851944   101  서해안고속도로    15  E
1     96  0150VME00100  126.504167  34.952778   101  서해안고속도로    15  E
2     98  0150VME00200  126.481667  35.070278   101  서해안고속도로    15  E
3   1370  0150VME00300  126.625553  35.393767   101  서해안고속도로    15  E
4   1372  0150VME00400  126.679314  35.482108   101  서해안고속도로    15  E
5    582  0150VME00500  126.692822  35.559475   101  서해안고속도로    15  E
6   1374  0150VME00600  126.835319  35.810272   101  서해안고속도로    15  E
7   1377  0150VME00700  126.837500  35.956944   101  서해안고속도로    15  E
8   1379  0150VME00800  126.800000  36.027778   101  서해안고속도로    15  E
9   1363  0150VME00900  126.637619  36.118903   101  서해안고속도로    15  E
10  1365  0150VME01000  126.589400  36.308950   101  서해안고속도로    15  E
11  1368  0150VME01100  126.575019  36.567125   101  서해안고속도로    15  E
12  1202  0150VME01300  126.554722  36.688333   101  서해안고속도로   150  E
13  1204  0150VME01400  126.566111  36.776389   101  서해안고속도로   150  E
14  1206  0150VME01500  126.605556  36.842500   101  서해안고속도로   150  E
15  1209  0150VME01700  126.760278  36.916944   101  서해안고속도로   150  E
16  1210  0150VME01900  126.870556  36.982222   101  서해안고속도로   150  E
17   461  0150VME02000  126.877222  37.023611   101  서해안고속도로    15  E
18   463  0150VME02050  126.880000  37.036667   101  서해안고속도로    15  E
19   464  0150VME02100  126.888889  37.079444   101  서해안고속도로    15  E
20   466  0150VME02200  126.873056  37.196389   101  서해안고속도로    15  E
21   467  0150VME02300  126.886667  37.252778   101  서해안고속도로    15  E
22   469  0150VME02400  126.900556  37.300278   101  서해안고속도로    15  E
23   399  0150VME02500  126.864167  37.355278   101  서해안고속도로    15  E
24    95  0150VMS00050  126.474722  34.852500   101  서해안고속도로    15  S
25    97  0150VMS00100  126.481944  35.058056   101  서해안고속도로    15  S
26  1369  0150VMS00300  126.569958  35.324858   101  서해안고속도로    15  S
27  1371  0150VMS00400  126.678167  35.477894   101  서해안고속도로    15  S
28  1373  0150VMS00500  126.796903  35.754106   101  서해안고속도로    15  S
29  1375  0150VMS00600  126.842411  35.867872   101  서해안고속도로    15  S
30  1378  0150VMS00700  126.826944  35.982222   101  서해안고속도로    15  S
31  1361  0150VMS00800  126.743403  36.070361   101  서해안고속도로    15  S
32  1362  0150VMS00900  126.637831  36.118331   101  서해안고속도로    15  S
33  1364  0150VMS01000  126.567381  36.265275   101  서해안고속도로    15  S
34  1366  0150VMS01100  126.559189  36.360358   101  서해안고속도로    15  S
35  1367  0150VMS01200  126.585303  36.523317   101  서해안고속도로    15  S
36  1203  0150VMS01300  126.568333  36.770278   101  서해안고속도로   150  S
37  1205  0150VMS01400  126.583611  36.822778   101  서해안고속도로   150  S
38  1207  0150VMS01500  126.648611  36.861667   101  서해안고속도로   150  S
39  1208  0150VMS01600  126.726944  36.904722   101  서해안고속도로   150  S
40   462  0150VMS01800  126.876667  37.023056   101  서해안고속도로    15  S
41   465  0150VMS01900  126.875556  37.169722   101  서해안고속도로    15  S
42   468  0150VMS01950  126.896944  37.273889   101  서해안고속도로    15  S
43   470  0150VMS02200  126.900278  37.300000   101  서해안고속도로    15  S
44   400  0150VMS02300  126.864167  37.355278   101  서해안고속도로    15  S
45   401  0150VMS02400  126.891389  37.415556   101  서해안고속도로    15  S
46    99  0150VMX00150  126.433889  34.839167   101  서해안고속도로    15  X
47   101  0150VMX00170  126.474722  34.831667   101  서해안고속도로    15  X
48  1376  0150VMX00200  126.812000  35.945308   101  서해안고속도로    15  X
49   402  0150VMX00600  126.887500  37.463889   101  서해안고속도로    15  X

In [ ]:
df_name7 = df[df['도로명'] == '호남선']
df_name7

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
369    71  0251VME00100  127.258056  35.094167   101  호남선    25  E
370    43  0251VME00200  127.008056  35.251944   101  호남선   251  E
371   553  0251VME00600  126.951389  35.215000   101  호남선    25  E
372   558  0251VME00700  126.901667  35.181111   101  호남선    25  E
373   566  0251VME00800  126.815278  35.243056   101  호남선    25  E
374   568  0251VME00900  126.808889  35.394722   101  호남선    25  E
375   520  0251VME01000  126.823056  35.552222   101  호남선    25  E
376   527  0251VME01200  127.057778  35.900000   101  호남선    25  E
377   523  0251VME01300  126.961389  35.702500   101  호남선    25  E
378   525  0251VME01400  127.052500  35.853611   101  호남선    25  E
379   531  0251VME01500  127.081667  35.934444   101  호남선    25  E
380  1336  0251VME01600  127.100339  35.954950   101  호남선    25  E
381  1340  0251VME01700  127.103044  36.034742   101  호남선    25  E
382    70  0251VMS00100  127.453611  35.004444   101  호남선    25  S
383    72  0251VMS00200  127.253611  35.161389   101  호남선    25  S
384   554  0251VMS00400  126.932500  35.198889   101  호남선    25  S
385   559  0251VMS00500  126.899444  35.181111   101  호남선    25  S
386   565  0251VMS00600  126.816944  35.240278   101  호남선    25  S
387   567  0251VMS00800  126.813889  35.357778   101  호남선    25  S
388   519  0251VMS00900  126.815556  35.538333   101  호남선    25  S
389   522  0251VMS01000  126.869722  35.605278   101  호남선    25  S
390   524  0251VMS01100  126.998333  35.762778   101  호남선    25  S
391   526  0251VMS01200  127.042500  35.839722   101  호남선    25  S
392   532  0251VMS01300  127.081389  35.935000   101  호남선    25  S
393   580  0251VMS01400  127.108650  35.980494   101  호남선    25  S
394  1339  0251VMS01500  127.102958  36.018281   101  호남선    25  S
395    42  0251VMX00100  127.122500  35.261389   101  호남선   251  X
396   555  0251VMX00200  126.943056  35.177778   101  호남선    25  X
397   556  0251VMX00300  126.938056  35.177500   101  호남선    25  X
398   557  0251VMX00400  126.931111  35.174722   101  호남선    25  X
399   560  0251VMX00500  126.882778  35.178889   101  호남선    25  X
400   561  0251VMX00600  126.882500  35.175833   101  호남선    25  X
401   562  0251VMX00700  126.860556  35.175556   101  호남선    25  X
402   563  0251VMX00800  126.835833  35.219167   101  호남선    25  X
403   564  0251VMX00900  126.823611  35.212500   101  호남선    25  X
404   569  0251VMX01000  126.790833  35.433333   101  호남선    25  X
405   570  0251VMX01100  126.808056  35.429444   101  호남선    25  X
406   521  0251VMX01200  126.836667  35.576111   101  호남선    25  X
407   583  0251VMX01300  127.051944  35.874722   101  호남선    25  X
408   529  0251VMX01330  127.092222  35.909444   101  호남선    25  X
409   530  0251VMX01360  127.076944  35.913056   101  호남선    25  X
410   528  0251VMX01390  127.101111  35.920278   101  호남선    25  X
411  1337  0251VMX01400  127.118181  35.916022   101  호남선    25  X
412  1338  0251VMX01500  127.118411  35.915956   101  호남선    25  X

In [ ]:
df_name7_num = df_name7.reset_index(drop = True)
df_name7_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0     71  0251VME00100  127.258056  35.094167   101  호남선    25  E
1     43  0251VME00200  127.008056  35.251944   101  호남선   251  E
2    553  0251VME00600  126.951389  35.215000   101  호남선    25  E
3    558  0251VME00700  126.901667  35.181111   101  호남선    25  E
4    566  0251VME00800  126.815278  35.243056   101  호남선    25  E
5    568  0251VME00900  126.808889  35.394722   101  호남선    25  E
6    520  0251VME01000  126.823056  35.552222   101  호남선    25  E
7    527  0251VME01200  127.057778  35.900000   101  호남선    25  E
8    523  0251VME01300  126.961389  35.702500   101  호남선    25  E
9    525  0251VME01400  127.052500  35.853611   101  호남선    25  E
10   531  0251VME01500  127.081667  35.934444   101  호남선    25  E
11  1336  0251VME01600  127.100339  35.954950   101  호남선    25  E
12  1340  0251VME01700  127.103044  36.034742   101  호남선    25  E
13    70  0251VMS00100  127.453611  35.004444   101  호남선    25  S
14    72  0251VMS00200  127.253611  35.161389   101  호남선    25  S
15   554  0251VMS00400  126.932500  35.198889   101  호남선    25  S
16   559  0251VMS00500  126.899444  35.181111   101  호남선    25  S
17   565  0251VMS00600  126.816944  35.240278   101  호남선    25  S
18   567  0251VMS00800  126.813889  35.357778   101  호남선    25  S
19   519  0251VMS00900  126.815556  35.538333   101  호남선    25  S
20   522  0251VMS01000  126.869722  35.605278   101  호남선    25  S
21   524  0251VMS01100  126.998333  35.762778   101  호남선    25  S
22   526  0251VMS01200  127.042500  35.839722   101  호남선    25  S
23   532  0251VMS01300  127.081389  35.935000   101  호남선    25  S
24   580  0251VMS01400  127.108650  35.980494   101  호남선    25  S
25  1339  0251VMS01500  127.102958  36.018281   101  호남선    25  S
26    42  0251VMX00100  127.122500  35.261389   101  호남선   251  X
27   555  0251VMX00200  126.943056  35.177778   101  호남선    25  X
28   556  0251VMX00300  126.938056  35.177500   101  호남선    25  X
29   557  0251VMX00400  126.931111  35.174722   101  호남선    25  X
30   560  0251VMX00500  126.882778  35.178889   101  호남선    25  X
31   561  0251VMX00600  126.882500  35.175833   101  호남선    25  X
32   562  0251VMX00700  126.860556  35.175556   101  호남선    25  X
33   563  0251VMX00800  126.835833  35.219167   101  호남선    25  X
34   564  0251VMX00900  126.823611  35.212500   101  호남선    25  X
35   569  0251VMX01000  126.790833  35.433333   101  호남선    25  X
36   570  0251VMX01100  126.808056  35.429444   101  호남선    25  X
37   521  0251VMX01200  126.836667  35.576111   101  호남선    25  X
38   583  0251VMX01300  127.051944  35.874722   101  호남선    25  X
39   529  0251VMX01330  127.092222  35.909444   101  호남선    25  X
40   530  0251VMX01360  127.076944  35.913056   101  호남선    25  X
41   528  0251VMX01390  127.101111  35.920278   101  호남선    25  X
42  1337  0251VMX01400  127.118181  35.916022   101  호남선    25  X
43  1338  0251VMX01500  127.118411  35.915956   101  호남선    25  X

In [ ]:
df_name7_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name7_num

    도로명
0   호남선
1   호남선
2   호남선
3   호남선
4   호남선
5   호남선
6   호남선
7   호남선
8   호남선
9   호남선
10  호남선
11  호남선
12  호남선
13  호남선
14  호남선
15  호남선
16  호남선
17  호남선
18  호남선
19  호남선
20  호남선
21  호남선
22  호남선
23  호남선
24  호남선
25  호남선
26  호남선
27  호남선
28  호남선
29  호남선
30  호남선
31  호남선
32  호남선
33  호남선
34  호남선
35  호남선
36  호남선
37  호남선
38  호남선
39  호남선
40  호남선
41  호남선
42  호남선
43  호남선

In [ ]:
df_name7_num.iloc[:] = '호남고속도로'
df_name7_num

       도로명
0   호남고속도로
1   호남고속도로
2   호남고속도로
3   호남고속도로
4   호남고속도로
5   호남고속도로
6   호남고속도로
7   호남고속도로
8   호남고속도로
9   호남고속도로
10  호남고속도로
11  호남고속도로
12  호남고속도로
13  호남고속도로
14  호남고속도로
15  호남고속도로
16  호남고속도로
17  호남고속도로
18  호남고속도로
19  호남고속도로
20  호남고속도로
21  호남고속도로
22  호남고속도로
23  호남고속도로
24  호남고속도로
25  호남고속도로
26  호남고속도로
27  호남고속도로
28  호남고속도로
29  호남고속도로
30  호남고속도로
31  호남고속도로
32  호남고속도로
33  호남고속도로
34  호남고속도로
35  호남고속도로
36  호남고속도로
37  호남고속도로
38  호남고속도로
39  호남고속도로
40  호남고속도로
41  호남고속도로
42  호남고속도로
43  호남고속도로

In [ ]:
df_name7_num1 = df_name7.reset_index(drop = True)
df_name7_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0     71  0251VME00100  127.258056  35.094167   101  호남선    25  E
1     43  0251VME00200  127.008056  35.251944   101  호남선   251  E
2    553  0251VME00600  126.951389  35.215000   101  호남선    25  E
3    558  0251VME00700  126.901667  35.181111   101  호남선    25  E
4    566  0251VME00800  126.815278  35.243056   101  호남선    25  E
5    568  0251VME00900  126.808889  35.394722   101  호남선    25  E
6    520  0251VME01000  126.823056  35.552222   101  호남선    25  E
7    527  0251VME01200  127.057778  35.900000   101  호남선    25  E
8    523  0251VME01300  126.961389  35.702500   101  호남선    25  E
9    525  0251VME01400  127.052500  35.853611   101  호남선    25  E
10   531  0251VME01500  127.081667  35.934444   101  호남선    25  E
11  1336  0251VME01600  127.100339  35.954950   101  호남선    25  E
12  1340  0251VME01700  127.103044  36.034742   101  호남선    25  E
13    70  0251VMS00100  127.453611  35.004444   101  호남선    25  S
14    72  0251VMS00200  127.253611  35.161389   101  호남선    25  S
15   554  0251VMS00400  126.932500  35.198889   101  호남선    25  S
16   559  0251VMS00500  126.899444  35.181111   101  호남선    25  S
17   565  0251VMS00600  126.816944  35.240278   101  호남선    25  S
18   567  0251VMS00800  126.813889  35.357778   101  호남선    25  S
19   519  0251VMS00900  126.815556  35.538333   101  호남선    25  S
20   522  0251VMS01000  126.869722  35.605278   101  호남선    25  S
21   524  0251VMS01100  126.998333  35.762778   101  호남선    25  S
22   526  0251VMS01200  127.042500  35.839722   101  호남선    25  S
23   532  0251VMS01300  127.081389  35.935000   101  호남선    25  S
24   580  0251VMS01400  127.108650  35.980494   101  호남선    25  S
25  1339  0251VMS01500  127.102958  36.018281   101  호남선    25  S
26    42  0251VMX00100  127.122500  35.261389   101  호남선   251  X
27   555  0251VMX00200  126.943056  35.177778   101  호남선    25  X
28   556  0251VMX00300  126.938056  35.177500   101  호남선    25  X
29   557  0251VMX00400  126.931111  35.174722   101  호남선    25  X
30   560  0251VMX00500  126.882778  35.178889   101  호남선    25  X
31   561  0251VMX00600  126.882500  35.175833   101  호남선    25  X
32   562  0251VMX00700  126.860556  35.175556   101  호남선    25  X
33   563  0251VMX00800  126.835833  35.219167   101  호남선    25  X
34   564  0251VMX00900  126.823611  35.212500   101  호남선    25  X
35   569  0251VMX01000  126.790833  35.433333   101  호남선    25  X
36   570  0251VMX01100  126.808056  35.429444   101  호남선    25  X
37   521  0251VMX01200  126.836667  35.576111   101  호남선    25  X
38   583  0251VMX01300  127.051944  35.874722   101  호남선    25  X
39   529  0251VMX01330  127.092222  35.909444   101  호남선    25  X
40   530  0251VMX01360  127.076944  35.913056   101  호남선    25  X
41   528  0251VMX01390  127.101111  35.920278   101  호남선    25  X
42  1337  0251VMX01400  127.118181  35.916022   101  호남선    25  X
43  1338  0251VMX01500  127.118411  35.915956   101  호남선    25  X

In [ ]:
df_name7_num1['도로명'] = df_name7_num['도로명']
df_name7_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0     71  0251VME00100  127.258056  35.094167   101  호남고속도로    25  E
1     43  0251VME00200  127.008056  35.251944   101  호남고속도로   251  E
2    553  0251VME00600  126.951389  35.215000   101  호남고속도로    25  E
3    558  0251VME00700  126.901667  35.181111   101  호남고속도로    25  E
4    566  0251VME00800  126.815278  35.243056   101  호남고속도로    25  E
5    568  0251VME00900  126.808889  35.394722   101  호남고속도로    25  E
6    520  0251VME01000  126.823056  35.552222   101  호남고속도로    25  E
7    527  0251VME01200  127.057778  35.900000   101  호남고속도로    25  E
8    523  0251VME01300  126.961389  35.702500   101  호남고속도로    25  E
9    525  0251VME01400  127.052500  35.853611   101  호남고속도로    25  E
10   531  0251VME01500  127.081667  35.934444   101  호남고속도로    25  E
11  1336  0251VME01600  127.100339  35.954950   101  호남고속도로    25  E
12  1340  0251VME01700  127.103044  36.034742   101  호남고속도로    25  E
13    70  0251VMS00100  127.453611  35.004444   101  호남고속도로    25  S
14    72  0251VMS00200  127.253611  35.161389   101  호남고속도로    25  S
15   554  0251VMS00400  126.932500  35.198889   101  호남고속도로    25  S
16   559  0251VMS00500  126.899444  35.181111   101  호남고속도로    25  S
17   565  0251VMS00600  126.816944  35.240278   101  호남고속도로    25  S
18   567  0251VMS00800  126.813889  35.357778   101  호남고속도로    25  S
19   519  0251VMS00900  126.815556  35.538333   101  호남고속도로    25  S
20   522  0251VMS01000  126.869722  35.605278   101  호남고속도로    25  S
21   524  0251VMS01100  126.998333  35.762778   101  호남고속도로    25  S
22   526  0251VMS01200  127.042500  35.839722   101  호남고속도로    25  S
23   532  0251VMS01300  127.081389  35.935000   101  호남고속도로    25  S
24   580  0251VMS01400  127.108650  35.980494   101  호남고속도로    25  S
25  1339  0251VMS01500  127.102958  36.018281   101  호남고속도로    25  S
26    42  0251VMX00100  127.122500  35.261389   101  호남고속도로   251  X
27   555  0251VMX00200  126.943056  35.177778   101  호남고속도로    25  X
28   556  0251VMX00300  126.938056  35.177500   101  호남고속도로    25  X
29   557  0251VMX00400  126.931111  35.174722   101  호남고속도로    25  X
30   560  0251VMX00500  126.882778  35.178889   101  호남고속도로    25  X
31   561  0251VMX00600  126.882500  35.175833   101  호남고속도로    25  X
32   562  0251VMX00700  126.860556  35.175556   101  호남고속도로    25  X
33   563  0251VMX00800  126.835833  35.219167   101  호남고속도로    25  X
34   564  0251VMX00900  126.823611  35.212500   101  호남고속도로    25  X
35   569  0251VMX01000  126.790833  35.433333   101  호남고속도로    25  X
36   570  0251VMX01100  126.808056  35.429444   101  호남고속도로    25  X
37   521  0251VMX01200  126.836667  35.576111   101  호남고속도로    25  X
38   583  0251VMX01300  127.051944  35.874722   101  호남고속도로    25  X
39   529  0251VMX01330  127.092222  35.909444   101  호남고속도로    25  X
40   530  0251VMX01360  127.076944  35.913056   101  호남고속도로    25  X
41   528  0251VMX01390  127.101111  35.920278   101  호남고속도로    25  X
42  1337  0251VMX01400  127.118181  35.916022   101  호남고속도로    25  X
43  1338  0251VMX01500  127.118411  35.915956   101  호남고속도로    25  X

In [ ]:
df_name8 = df[df['도로명'] == '서울외곽순환선']
df_name8

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
773  341  1000VME00100  127.123889  37.436667   101  서울외곽순환선   100  E
774  345  1000VME00200  127.138889  37.485278   101  서울외곽순환선   100  E
775  349  1000VME00250  127.177778  37.553056   101  서울외곽순환선   100  E
776  351  1000VME00300  127.157222  37.590833   101  서울외곽순환선   100  E
777  443  1000VME00400  126.767778  37.592500   101  서울외곽순환선   100  E
778  445  1000VME00500  126.752222  37.562500   101  서울외곽순환선   100  E
779  454  1000VME00800  126.763333  37.461111   101  서울외곽순환선   100  E
780  404  1000VME00880  126.834167  37.408333   101  서울외곽순환선   100  E
781  406  1000VME00900  126.851389  37.392778   101  서울외곽순환선   100  E
782  357  1000VME01000  127.025556  37.392778   101  서울외곽순환선   100  E
783  359  1000VME01050  127.053611  37.396111   101  서울외곽순환선   100  E
784  342  1000VMS00100  127.123889  37.436667   101  서울외곽순환선   100  S
785  339  1000VMS00150  127.123056  37.420278   101  서울외곽순환선   100  S
786  347  1000VMS00170  127.188056  37.534167   101  서울외곽순환선   100  S
787  352  1000VMS00200  127.157222  37.590833   101  서울외곽순환선   100  S
788  444  1000VMS00300  126.767778  37.592500   101  서울외곽순환선   100  S
789  453  1000VMS00700  126.759722  37.462778   101  서울외곽순환선   100  S
790  405  1000VMS00800  126.835000  37.408056   101  서울외곽순환선   100  S
791  407  1000VMS00820  126.856389  37.378056   101  서울외곽순환선   100  S
792  358  1000VMS00900  127.025556  37.392778   101  서울외곽순환선   100  S
793  340  1000VMX00100  127.133333  37.427500   101  서울외곽순환선   100  X
794  343  1000VMX00200  127.112500  37.464167   101  서울외곽순환선   100  X
795  344  1000VMX00300  127.125556  37.479167   101  서울외곽순환선   100  X
796  346  1000VMX00400  127.149167  37.516111   101  서울외곽순환선   100  X
797  348  1000VMX00500  127.156944  37.540000   101  서울외곽순환선   100  X
798  350  1000VMX00600  127.155556  37.568889   101  서울외곽순환선   100  X
799  353  1000VMX00700  127.161944  37.608333   101  서울외곽순환선   100  X
800  354  1000VMX00800  127.135278  37.613333   101  서울외곽순환선   100  X
801  355  1000VMX00900  127.129000  37.640528   101  서울외곽순환선   100  X
802  446  1000VMX01000  126.743611  37.543889   101  서울외곽순환선   100  X
803  447  1000VMX01100  126.758056  37.541111   101  서울외곽순환선   100  X
804  449  1000VMX01200  126.762222  37.505000   101  서울외곽순환선   100  X
805  448  1000VMX01300  126.744444  37.506111   101  서울외곽순환선   100  X
806  451  1000VMX01400  126.757222  37.483056   101  서울외곽순환선   100  X
807  450  1000VMX01500  126.742778  37.485556   101  서울외곽순환선   100  X
808  403  1000VMX01600  126.799167  37.465000   101  서울외곽순환선   100  X
809  408  1000VMX01700  126.927500  37.366944   101  서울외곽순환선   100  X
810  356  1000VMX01900  126.952500  37.382778   101  서울외곽순환선   100  X
811  452  1000VMX02000  126.750000  37.450833   101  서울외곽순환선   100  X

In [ ]:
df_name8_num = df_name8.reset_index(drop = True)
df_name8_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
0   341  1000VME00100  127.123889  37.436667   101  서울외곽순환선   100  E
1   345  1000VME00200  127.138889  37.485278   101  서울외곽순환선   100  E
2   349  1000VME00250  127.177778  37.553056   101  서울외곽순환선   100  E
3   351  1000VME00300  127.157222  37.590833   101  서울외곽순환선   100  E
4   443  1000VME00400  126.767778  37.592500   101  서울외곽순환선   100  E
5   445  1000VME00500  126.752222  37.562500   101  서울외곽순환선   100  E
6   454  1000VME00800  126.763333  37.461111   101  서울외곽순환선   100  E
7   404  1000VME00880  126.834167  37.408333   101  서울외곽순환선   100  E
8   406  1000VME00900  126.851389  37.392778   101  서울외곽순환선   100  E
9   357  1000VME01000  127.025556  37.392778   101  서울외곽순환선   100  E
10  359  1000VME01050  127.053611  37.396111   101  서울외곽순환선   100  E
11  342  1000VMS00100  127.123889  37.436667   101  서울외곽순환선   100  S
12  339  1000VMS00150  127.123056  37.420278   101  서울외곽순환선   100  S
13  347  1000VMS00170  127.188056  37.534167   101  서울외곽순환선   100  S
14  352  1000VMS00200  127.157222  37.590833   101  서울외곽순환선   100  S
15  444  1000VMS00300  126.767778  37.592500   101  서울외곽순환선   100  S
16  453  1000VMS00700  126.759722  37.462778   101  서울외곽순환선   100  S
17  405  1000VMS00800  126.835000  37.408056   101  서울외곽순환선   100  S
18  407  1000VMS00820  126.856389  37.378056   101  서울외곽순환선   100  S
19  358  1000VMS00900  127.025556  37.392778   101  서울외곽순환선   100  S
20  340  1000VMX00100  127.133333  37.427500   101  서울외곽순환선   100  X
21  343  1000VMX00200  127.112500  37.464167   101  서울외곽순환선   100  X
22  344  1000VMX00300  127.125556  37.479167   101  서울외곽순환선   100  X
23  346  1000VMX00400  127.149167  37.516111   101  서울외곽순환선   100  X
24  348  1000VMX00500  127.156944  37.540000   101  서울외곽순환선   100  X
25  350  1000VMX00600  127.155556  37.568889   101  서울외곽순환선   100  X
26  353  1000VMX00700  127.161944  37.608333   101  서울외곽순환선   100  X
27  354  1000VMX00800  127.135278  37.613333   101  서울외곽순환선   100  X
28  355  1000VMX00900  127.129000  37.640528   101  서울외곽순환선   100  X
29  446  1000VMX01000  126.743611  37.543889   101  서울외곽순환선   100  X
30  447  1000VMX01100  126.758056  37.541111   101  서울외곽순환선   100  X
31  449  1000VMX01200  126.762222  37.505000   101  서울외곽순환선   100  X
32  448  1000VMX01300  126.744444  37.506111   101  서울외곽순환선   100  X
33  451  1000VMX01400  126.757222  37.483056   101  서울외곽순환선   100  X
34  450  1000VMX01500  126.742778  37.485556   101  서울외곽순환선   100  X
35  403  1000VMX01600  126.799167  37.465000   101  서울외곽순환선   100  X
36  408  1000VMX01700  126.927500  37.366944   101  서울외곽순환선   100  X
37  356  1000VMX01900  126.952500  37.382778   101  서울외곽순환선   100  X
38  452  1000VMX02000  126.750000  37.450833   101  서울외곽순환선   100  X

In [ ]:
df_name8_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name8_num

        도로명
0   서울외곽순환선
1   서울외곽순환선
2   서울외곽순환선
3   서울외곽순환선
4   서울외곽순환선
5   서울외곽순환선
6   서울외곽순환선
7   서울외곽순환선
8   서울외곽순환선
9   서울외곽순환선
10  서울외곽순환선
11  서울외곽순환선
12  서울외곽순환선
13  서울외곽순환선
14  서울외곽순환선
15  서울외곽순환선
16  서울외곽순환선
17  서울외곽순환선
18  서울외곽순환선
19  서울외곽순환선
20  서울외곽순환선
21  서울외곽순환선
22  서울외곽순환선
23  서울외곽순환선
24  서울외곽순환선
25  서울외곽순환선
26  서울외곽순환선
27  서울외곽순환선
28  서울외곽순환선
29  서울외곽순환선
30  서울외곽순환선
31  서울외곽순환선
32  서울외곽순환선
33  서울외곽순환선
34  서울외곽순환선
35  서울외곽순환선
36  서울외곽순환선
37  서울외곽순환선
38  서울외곽순환선

In [ ]:
df_name8_num.iloc[:] = '수도권제1순환선'
df_name8_num

         도로명
0   수도권제1순환선
1   수도권제1순환선
2   수도권제1순환선
3   수도권제1순환선
4   수도권제1순환선
5   수도권제1순환선
6   수도권제1순환선
7   수도권제1순환선
8   수도권제1순환선
9   수도권제1순환선
10  수도권제1순환선
11  수도권제1순환선
12  수도권제1순환선
13  수도권제1순환선
14  수도권제1순환선
15  수도권제1순환선
16  수도권제1순환선
17  수도권제1순환선
18  수도권제1순환선
19  수도권제1순환선
20  수도권제1순환선
21  수도권제1순환선
22  수도권제1순환선
23  수도권제1순환선
24  수도권제1순환선
25  수도권제1순환선
26  수도권제1순환선
27  수도권제1순환선
28  수도권제1순환선
29  수도권제1순환선
30  수도권제1순환선
31  수도권제1순환선
32  수도권제1순환선
33  수도권제1순환선
34  수도권제1순환선
35  수도권제1순환선
36  수도권제1순환선
37  수도권제1순환선
38  수도권제1순환선

In [ ]:
df_name8_num1 = df_name8.reset_index(drop = True)
df_name8_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
0   341  1000VME00100  127.123889  37.436667   101  서울외곽순환선   100  E
1   345  1000VME00200  127.138889  37.485278   101  서울외곽순환선   100  E
2   349  1000VME00250  127.177778  37.553056   101  서울외곽순환선   100  E
3   351  1000VME00300  127.157222  37.590833   101  서울외곽순환선   100  E
4   443  1000VME00400  126.767778  37.592500   101  서울외곽순환선   100  E
5   445  1000VME00500  126.752222  37.562500   101  서울외곽순환선   100  E
6   454  1000VME00800  126.763333  37.461111   101  서울외곽순환선   100  E
7   404  1000VME00880  126.834167  37.408333   101  서울외곽순환선   100  E
8   406  1000VME00900  126.851389  37.392778   101  서울외곽순환선   100  E
9   357  1000VME01000  127.025556  37.392778   101  서울외곽순환선   100  E
10  359  1000VME01050  127.053611  37.396111   101  서울외곽순환선   100  E
11  342  1000VMS00100  127.123889  37.436667   101  서울외곽순환선   100  S
12  339  1000VMS00150  127.123056  37.420278   101  서울외곽순환선   100  S
13  347  1000VMS00170  127.188056  37.534167   101  서울외곽순환선   100  S
14  352  1000VMS00200  127.157222  37.590833   101  서울외곽순환선   100  S
15  444  1000VMS00300  126.767778  37.592500   101  서울외곽순환선   100  S
16  453  1000VMS00700  126.759722  37.462778   101  서울외곽순환선   100  S
17  405  1000VMS00800  126.835000  37.408056   101  서울외곽순환선   100  S
18  407  1000VMS00820  126.856389  37.378056   101  서울외곽순환선   100  S
19  358  1000VMS00900  127.025556  37.392778   101  서울외곽순환선   100  S
20  340  1000VMX00100  127.133333  37.427500   101  서울외곽순환선   100  X
21  343  1000VMX00200  127.112500  37.464167   101  서울외곽순환선   100  X
22  344  1000VMX00300  127.125556  37.479167   101  서울외곽순환선   100  X
23  346  1000VMX00400  127.149167  37.516111   101  서울외곽순환선   100  X
24  348  1000VMX00500  127.156944  37.540000   101  서울외곽순환선   100  X
25  350  1000VMX00600  127.155556  37.568889   101  서울외곽순환선   100  X
26  353  1000VMX00700  127.161944  37.608333   101  서울외곽순환선   100  X
27  354  1000VMX00800  127.135278  37.613333   101  서울외곽순환선   100  X
28  355  1000VMX00900  127.129000  37.640528   101  서울외곽순환선   100  X
29  446  1000VMX01000  126.743611  37.543889   101  서울외곽순환선   100  X
30  447  1000VMX01100  126.758056  37.541111   101  서울외곽순환선   100  X
31  449  1000VMX01200  126.762222  37.505000   101  서울외곽순환선   100  X
32  448  1000VMX01300  126.744444  37.506111   101  서울외곽순환선   100  X
33  451  1000VMX01400  126.757222  37.483056   101  서울외곽순환선   100  X
34  450  1000VMX01500  126.742778  37.485556   101  서울외곽순환선   100  X
35  403  1000VMX01600  126.799167  37.465000   101  서울외곽순환선   100  X
36  408  1000VMX01700  126.927500  37.366944   101  서울외곽순환선   100  X
37  356  1000VMX01900  126.952500  37.382778   101  서울외곽순환선   100  X
38  452  1000VMX02000  126.750000  37.450833   101  서울외곽순환선   100  X

In [ ]:
df_name8_num1['도로명'] = df_name8_num['도로명']
df_name8_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   341  1000VME00100  127.123889  37.436667   101  수도권제1순환선   100  E
1   345  1000VME00200  127.138889  37.485278   101  수도권제1순환선   100  E
2   349  1000VME00250  127.177778  37.553056   101  수도권제1순환선   100  E
3   351  1000VME00300  127.157222  37.590833   101  수도권제1순환선   100  E
4   443  1000VME00400  126.767778  37.592500   101  수도권제1순환선   100  E
5   445  1000VME00500  126.752222  37.562500   101  수도권제1순환선   100  E
6   454  1000VME00800  126.763333  37.461111   101  수도권제1순환선   100  E
7   404  1000VME00880  126.834167  37.408333   101  수도권제1순환선   100  E
8   406  1000VME00900  126.851389  37.392778   101  수도권제1순환선   100  E
9   357  1000VME01000  127.025556  37.392778   101  수도권제1순환선   100  E
10  359  1000VME01050  127.053611  37.396111   101  수도권제1순환선   100  E
11  342  1000VMS00100  127.123889  37.436667   101  수도권제1순환선   100  S
12  339  1000VMS00150  127.123056  37.420278   101  수도권제1순환선   100  S
13  347  1000VMS00170  127.188056  37.534167   101  수도권제1순환선   100  S
14  352  1000VMS00200  127.157222  37.590833   101  수도권제1순환선   100  S
15  444  1000VMS00300  126.767778  37.592500   101  수도권제1순환선   100  S
16  453  1000VMS00700  126.759722  37.462778   101  수도권제1순환선   100  S
17  405  1000VMS00800  126.835000  37.408056   101  수도권제1순환선   100  S
18  407  1000VMS00820  126.856389  37.378056   101  수도권제1순환선   100  S
19  358  1000VMS00900  127.025556  37.392778   101  수도권제1순환선   100  S
20  340  1000VMX00100  127.133333  37.427500   101  수도권제1순환선   100  X
21  343  1000VMX00200  127.112500  37.464167   101  수도권제1순환선   100  X
22  344  1000VMX00300  127.125556  37.479167   101  수도권제1순환선   100  X
23  346  1000VMX00400  127.149167  37.516111   101  수도권제1순환선   100  X
24  348  1000VMX00500  127.156944  37.540000   101  수도권제1순환선   100  X
25  350  1000VMX00600  127.155556  37.568889   101  수도권제1순환선   100  X
26  353  1000VMX00700  127.161944  37.608333   101  수도권제1순환선   100  X
27  354  1000VMX00800  127.135278  37.613333   101  수도권제1순환선   100  X
28  355  1000VMX00900  127.129000  37.640528   101  수도권제1순환선   100  X
29  446  1000VMX01000  126.743611  37.543889   101  수도권제1순환선   100  X
30  447  1000VMX01100  126.758056  37.541111   101  수도권제1순환선   100  X
31  449  1000VMX01200  126.762222  37.505000   101  수도권제1순환선   100  X
32  448  1000VMX01300  126.744444  37.506111   101  수도권제1순환선   100  X
33  451  1000VMX01400  126.757222  37.483056   101  수도권제1순환선   100  X
34  450  1000VMX01500  126.742778  37.485556   101  수도권제1순환선   100  X
35  403  1000VMX01600  126.799167  37.465000   101  수도권제1순환선   100  X
36  408  1000VMX01700  126.927500  37.366944   101  수도권제1순환선   100  X
37  356  1000VMX01900  126.952500  37.382778   101  수도권제1순환선   100  X
38  452  1000VMX02000  126.750000  37.450833   101  수도권제1순환선   100  X

In [ ]:
df_name9 = df[df['도로명'] == '당진대전선']
df_name9

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
459  1211  0301VME00100  126.623056  36.845278   101  당진대전선    30  E
460  1176  0301VME00300  126.768611  36.676111   101  당진대전선    30  E
461  1180  0301VME00400  126.849167  36.614444   101  당진대전선    30  E
462  1184  0301VME00500  126.943333  36.574722   101  당진대전선    30  E
463  1188  0301VME00600  127.042778  36.483056   101  당진대전선    30  E
464  1190  0301VME00700  127.105833  36.481944   101  당진대전선    30  E
465  1195  0301VME00800  127.161944  36.493333   101  당진대전선    30  E
466  1199  0301VME00900  127.264444  36.441111   101  당진대전선    30  E
467  1200  0301VME01000  127.308056  36.398333   101  당진대전선    30  E
468  1212  0301VMS00100  126.641389  36.828333   101  당진대전선    30  S
469  1215  0301VMS00200  126.666667  36.801111   101  당진대전선    30  S
470  1175  0301VMS00300  126.728889  36.733889   101  당진대전선    30  S
471  1179  0301VMS00400  126.805556  36.657222   101  당진대전선    30  S
472  1183  0301VMS00500  126.904722  36.587222   101  당진대전선    30  S
473  1187  0301VMS00600  126.993333  36.538889   101  당진대전선    30  S
474  1189  0301VMS00700  127.046389  36.481667   101  당진대전선    30  S
475  1191  0301VMS00800  127.112500  36.487778   101  당진대전선    30  S
476  1194  0301VMS00900  127.158333  36.492778   101  당진대전선    30  S
477  1198  0301VMS01000  127.234167  36.482222   101  당진대전선    30  S
478  1201  0301VMS01100  127.309722  36.397778   101  당진대전선    30  S
479  1214  0301VMX00100  126.646111  36.822500   101  당진대전선    30  X
480  1213  0301VMX00200  126.658056  36.817500   101  당진대전선    30  X
481  1216  0301VMX00300  126.698333  36.744444   101  당진대전선    30  X
482  1177  0301VMX00400  126.795000  36.676111   101  당진대전선    30  X
483  1178  0301VMX00500  126.771111  36.658056   101  당진대전선    30  X
484  1182  0301VMX00600  126.856111  36.577778   101  당진대전선    30  X
485  1181  0301VMX00700  126.863889  36.590833   101  당진대전선    30  X
486  1185  0301VMX00800  126.973611  36.576389   101  당진대전선    30  X
487  1186  0301VMX00900  126.964167  36.556944   101  당진대전선    30  X
488  1193  0301VMX01000  127.126944  36.503056   101  당진대전선    30  X
489  1192  0301VMX01100  127.130833  36.473056   101  당진대전선    30  X
490  1196  0301VMX01200  127.213611  36.488056   101  당진대전선    30  X
491  1197  0301VMX01300  127.175000  36.483333   101  당진대전선    30  X

In [ ]:
df_name9_num = df_name9.reset_index(drop = True)
df_name9_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1211  0301VME00100  126.623056  36.845278   101  당진대전선    30  E
1   1176  0301VME00300  126.768611  36.676111   101  당진대전선    30  E
2   1180  0301VME00400  126.849167  36.614444   101  당진대전선    30  E
3   1184  0301VME00500  126.943333  36.574722   101  당진대전선    30  E
4   1188  0301VME00600  127.042778  36.483056   101  당진대전선    30  E
5   1190  0301VME00700  127.105833  36.481944   101  당진대전선    30  E
6   1195  0301VME00800  127.161944  36.493333   101  당진대전선    30  E
7   1199  0301VME00900  127.264444  36.441111   101  당진대전선    30  E
8   1200  0301VME01000  127.308056  36.398333   101  당진대전선    30  E
9   1212  0301VMS00100  126.641389  36.828333   101  당진대전선    30  S
10  1215  0301VMS00200  126.666667  36.801111   101  당진대전선    30  S
11  1175  0301VMS00300  126.728889  36.733889   101  당진대전선    30  S
12  1179  0301VMS00400  126.805556  36.657222   101  당진대전선    30  S
13  1183  0301VMS00500  126.904722  36.587222   101  당진대전선    30  S
14  1187  0301VMS00600  126.993333  36.538889   101  당진대전선    30  S
15  1189  0301VMS00700  127.046389  36.481667   101  당진대전선    30  S
16  1191  0301VMS00800  127.112500  36.487778   101  당진대전선    30  S
17  1194  0301VMS00900  127.158333  36.492778   101  당진대전선    30  S
18  1198  0301VMS01000  127.234167  36.482222   101  당진대전선    30  S
19  1201  0301VMS01100  127.309722  36.397778   101  당진대전선    30  S
20  1214  0301VMX00100  126.646111  36.822500   101  당진대전선    30  X
21  1213  0301VMX00200  126.658056  36.817500   101  당진대전선    30  X
22  1216  0301VMX00300  126.698333  36.744444   101  당진대전선    30  X
23  1177  0301VMX00400  126.795000  36.676111   101  당진대전선    30  X
24  1178  0301VMX00500  126.771111  36.658056   101  당진대전선    30  X
25  1182  0301VMX00600  126.856111  36.577778   101  당진대전선    30  X
26  1181  0301VMX00700  126.863889  36.590833   101  당진대전선    30  X
27  1185  0301VMX00800  126.973611  36.576389   101  당진대전선    30  X
28  1186  0301VMX00900  126.964167  36.556944   101  당진대전선    30  X
29  1193  0301VMX01000  127.126944  36.503056   101  당진대전선    30  X
30  1192  0301VMX01100  127.130833  36.473056   101  당진대전선    30  X
31  1196  0301VMX01200  127.213611  36.488056   101  당진대전선    30  X
32  1197  0301VMX01300  127.175000  36.483333   101  당진대전선    30  X

In [ ]:
df_name9_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name9_num

      도로명
0   당진대전선
1   당진대전선
2   당진대전선
3   당진대전선
4   당진대전선
5   당진대전선
6   당진대전선
7   당진대전선
8   당진대전선
9   당진대전선
10  당진대전선
11  당진대전선
12  당진대전선
13  당진대전선
14  당진대전선
15  당진대전선
16  당진대전선
17  당진대전선
18  당진대전선
19  당진대전선
20  당진대전선
21  당진대전선
22  당진대전선
23  당진대전선
24  당진대전선
25  당진대전선
26  당진대전선
27  당진대전선
28  당진대전선
29  당진대전선
30  당진대전선
31  당진대전선
32  당진대전선

In [ ]:
df_name9_num.iloc[:] = '서산영덕고속도로'
df_name9_num

         도로명
0   서산영덕고속도로
1   서산영덕고속도로
2   서산영덕고속도로
3   서산영덕고속도로
4   서산영덕고속도로
5   서산영덕고속도로
6   서산영덕고속도로
7   서산영덕고속도로
8   서산영덕고속도로
9   서산영덕고속도로
10  서산영덕고속도로
11  서산영덕고속도로
12  서산영덕고속도로
13  서산영덕고속도로
14  서산영덕고속도로
15  서산영덕고속도로
16  서산영덕고속도로
17  서산영덕고속도로
18  서산영덕고속도로
19  서산영덕고속도로
20  서산영덕고속도로
21  서산영덕고속도로
22  서산영덕고속도로
23  서산영덕고속도로
24  서산영덕고속도로
25  서산영덕고속도로
26  서산영덕고속도로
27  서산영덕고속도로
28  서산영덕고속도로
29  서산영덕고속도로
30  서산영덕고속도로
31  서산영덕고속도로
32  서산영덕고속도로

In [ ]:
df_name9_num1 = df_name9.reset_index(drop = True)
df_name9_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1211  0301VME00100  126.623056  36.845278   101  당진대전선    30  E
1   1176  0301VME00300  126.768611  36.676111   101  당진대전선    30  E
2   1180  0301VME00400  126.849167  36.614444   101  당진대전선    30  E
3   1184  0301VME00500  126.943333  36.574722   101  당진대전선    30  E
4   1188  0301VME00600  127.042778  36.483056   101  당진대전선    30  E
5   1190  0301VME00700  127.105833  36.481944   101  당진대전선    30  E
6   1195  0301VME00800  127.161944  36.493333   101  당진대전선    30  E
7   1199  0301VME00900  127.264444  36.441111   101  당진대전선    30  E
8   1200  0301VME01000  127.308056  36.398333   101  당진대전선    30  E
9   1212  0301VMS00100  126.641389  36.828333   101  당진대전선    30  S
10  1215  0301VMS00200  126.666667  36.801111   101  당진대전선    30  S
11  1175  0301VMS00300  126.728889  36.733889   101  당진대전선    30  S
12  1179  0301VMS00400  126.805556  36.657222   101  당진대전선    30  S
13  1183  0301VMS00500  126.904722  36.587222   101  당진대전선    30  S
14  1187  0301VMS00600  126.993333  36.538889   101  당진대전선    30  S
15  1189  0301VMS00700  127.046389  36.481667   101  당진대전선    30  S
16  1191  0301VMS00800  127.112500  36.487778   101  당진대전선    30  S
17  1194  0301VMS00900  127.158333  36.492778   101  당진대전선    30  S
18  1198  0301VMS01000  127.234167  36.482222   101  당진대전선    30  S
19  1201  0301VMS01100  127.309722  36.397778   101  당진대전선    30  S
20  1214  0301VMX00100  126.646111  36.822500   101  당진대전선    30  X
21  1213  0301VMX00200  126.658056  36.817500   101  당진대전선    30  X
22  1216  0301VMX00300  126.698333  36.744444   101  당진대전선    30  X
23  1177  0301VMX00400  126.795000  36.676111   101  당진대전선    30  X
24  1178  0301VMX00500  126.771111  36.658056   101  당진대전선    30  X
25  1182  0301VMX00600  126.856111  36.577778   101  당진대전선    30  X
26  1181  0301VMX00700  126.863889  36.590833   101  당진대전선    30  X
27  1185  0301VMX00800  126.973611  36.576389   101  당진대전선    30  X
28  1186  0301VMX00900  126.964167  36.556944   101  당진대전선    30  X
29  1193  0301VMX01000  127.126944  36.503056   101  당진대전선    30  X
30  1192  0301VMX01100  127.130833  36.473056   101  당진대전선    30  X
31  1196  0301VMX01200  127.213611  36.488056   101  당진대전선    30  X
32  1197  0301VMX01300  127.175000  36.483333   101  당진대전선    30  X

In [ ]:
df_name9_num1['도로명'] = df_name9_num['도로명']
df_name9_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1211  0301VME00100  126.623056  36.845278   101  서산영덕고속도로    30  E
1   1176  0301VME00300  126.768611  36.676111   101  서산영덕고속도로    30  E
2   1180  0301VME00400  126.849167  36.614444   101  서산영덕고속도로    30  E
3   1184  0301VME00500  126.943333  36.574722   101  서산영덕고속도로    30  E
4   1188  0301VME00600  127.042778  36.483056   101  서산영덕고속도로    30  E
5   1190  0301VME00700  127.105833  36.481944   101  서산영덕고속도로    30  E
6   1195  0301VME00800  127.161944  36.493333   101  서산영덕고속도로    30  E
7   1199  0301VME00900  127.264444  36.441111   101  서산영덕고속도로    30  E
8   1200  0301VME01000  127.308056  36.398333   101  서산영덕고속도로    30  E
9   1212  0301VMS00100  126.641389  36.828333   101  서산영덕고속도로    30  S
10  1215  0301VMS00200  126.666667  36.801111   101  서산영덕고속도로    30  S
11  1175  0301VMS00300  126.728889  36.733889   101  서산영덕고속도로    30  S
12  1179  0301VMS00400  126.805556  36.657222   101  서산영덕고속도로    30  S
13  1183  0301VMS00500  126.904722  36.587222   101  서산영덕고속도로    30  S
14  1187  0301VMS00600  126.993333  36.538889   101  서산영덕고속도로    30  S
15  1189  0301VMS00700  127.046389  36.481667   101  서산영덕고속도로    30  S
16  1191  0301VMS00800  127.112500  36.487778   101  서산영덕고속도로    30  S
17  1194  0301VMS00900  127.158333  36.492778   101  서산영덕고속도로    30  S
18  1198  0301VMS01000  127.234167  36.482222   101  서산영덕고속도로    30  S
19  1201  0301VMS01100  127.309722  36.397778   101  서산영덕고속도로    30  S
20  1214  0301VMX00100  126.646111  36.822500   101  서산영덕고속도로    30  X
21  1213  0301VMX00200  126.658056  36.817500   101  서산영덕고속도로    30  X
22  1216  0301VMX00300  126.698333  36.744444   101  서산영덕고속도로    30  X
23  1177  0301VMX00400  126.795000  36.676111   101  서산영덕고속도로    30  X
24  1178  0301VMX00500  126.771111  36.658056   101  서산영덕고속도로    30  X
25  1182  0301VMX00600  126.856111  36.577778   101  서산영덕고속도로    30  X
26  1181  0301VMX00700  126.863889  36.590833   101  서산영덕고속도로    30  X
27  1185  0301VMX00800  126.973611  36.576389   101  서산영덕고속도로    30  X
28  1186  0301VMX00900  126.964167  36.556944   101  서산영덕고속도로    30  X
29  1193  0301VMX01000  127.126944  36.503056   101  서산영덕고속도로    30  X
30  1192  0301VMX01100  127.130833  36.473056   101  서산영덕고속도로    30  X
31  1196  0301VMX01200  127.213611  36.488056   101  서산영덕고속도로    30  X
32  1197  0301VMX01300  127.175000  36.483333   101  서산영덕고속도로    30  X

In [ ]:
df_name10 = df[df['도로명'] == '중앙선']
df_name10

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
688   134  0550VME00100  128.980000  35.233889   101  중앙선    55  E
689   135  0550VME00300  128.983611  35.256111   101  중앙선    55  E
690   231  0550VME00400  128.527279  35.915278   101  중앙선    55  E
691   235  0550VME00500  128.535833  36.066111   101  중앙선    55  E
692   291  0550VME00600  128.545833  36.831667   101  중앙선    55  E
693    10  0550VME00800  128.292778  36.989722   101  중앙선    55  E
694    12  0550VME00900  128.150278  37.114444   101  중앙선    55  E
695    14  0550VME01000  128.096944  37.214722   101  중앙선    55  E
696    15  0550VME01100  128.044167  37.254167   101  중앙선    55  E
697    16  0550VME01300  127.971389  37.306389   101  중앙선    55  E
698  1170  0550VME01400  127.691667  36.999444   101  중앙선    55  E
699  1173  0550VMS00200  127.768611  37.785278   101  중앙선    55  S
700   136  0550VMS00300  128.983611  35.256111   101  중앙선    55  S
701   234  0550VMS00400  128.532858  35.930556   101  중앙선    55  S
702   236  0550VMS00500  128.558056  36.230556   101  중앙선    55  S
703   237  0550VMS00600  128.588611  36.319444   101  중앙선    55  S
704   238  0550VMS00700  128.621389  36.438611   101  중앙선    55  S
705   290  0550VMS00800  128.615556  36.509722   101  중앙선    55  S
706    11  0550VMS01000  128.155000  37.095278   101  중앙선    55  S
707    13  0550VMS01100  128.129167  37.163611   101  중앙선    55  S
708  1169  0550VMS01200  127.651667  37.004167   101  중앙선    55  S
709  1172  0550VMS01300  127.711111  37.011389   101  중앙선    55  S
710   133  0550VMX00100  128.965833  35.135556   101  중앙선    55  X
711   132  0550VMX00200  128.974444  35.209444   101  중앙선    55  X
712   232  0550VMX00300  128.548480  35.947500   101  중앙선    55  X
713   233  0550VMX00400  128.551111  35.975833   101  중앙선    55  X
714    18  0550VMX00500  127.934167  37.338056   101  중앙선    55  X
715  1171  0550VMX00600  127.710833  37.011389   101  중앙선    55  X
716  1174  0550VMX00700  127.749722  37.850833   101  중앙선    55  X

In [ ]:
df_name10_num = df_name10.reset_index(drop = True)
df_name10_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    134  0550VME00100  128.980000  35.233889   101  중앙선    55  E
1    135  0550VME00300  128.983611  35.256111   101  중앙선    55  E
2    231  0550VME00400  128.527279  35.915278   101  중앙선    55  E
3    235  0550VME00500  128.535833  36.066111   101  중앙선    55  E
4    291  0550VME00600  128.545833  36.831667   101  중앙선    55  E
5     10  0550VME00800  128.292778  36.989722   101  중앙선    55  E
6     12  0550VME00900  128.150278  37.114444   101  중앙선    55  E
7     14  0550VME01000  128.096944  37.214722   101  중앙선    55  E
8     15  0550VME01100  128.044167  37.254167   101  중앙선    55  E
9     16  0550VME01300  127.971389  37.306389   101  중앙선    55  E
10  1170  0550VME01400  127.691667  36.999444   101  중앙선    55  E
11  1173  0550VMS00200  127.768611  37.785278   101  중앙선    55  S
12   136  0550VMS00300  128.983611  35.256111   101  중앙선    55  S
13   234  0550VMS00400  128.532858  35.930556   101  중앙선    55  S
14   236  0550VMS00500  128.558056  36.230556   101  중앙선    55  S
15   237  0550VMS00600  128.588611  36.319444   101  중앙선    55  S
16   238  0550VMS00700  128.621389  36.438611   101  중앙선    55  S
17   290  0550VMS00800  128.615556  36.509722   101  중앙선    55  S
18    11  0550VMS01000  128.155000  37.095278   101  중앙선    55  S
19    13  0550VMS01100  128.129167  37.163611   101  중앙선    55  S
20  1169  0550VMS01200  127.651667  37.004167   101  중앙선    55  S
21  1172  0550VMS01300  127.711111  37.011389   101  중앙선    55  S
22   133  0550VMX00100  128.965833  35.135556   101  중앙선    55  X
23   132  0550VMX00200  128.974444  35.209444   101  중앙선    55  X
24   232  0550VMX00300  128.548480  35.947500   101  중앙선    55  X
25   233  0550VMX00400  128.551111  35.975833   101  중앙선    55  X
26    18  0550VMX00500  127.934167  37.338056   101  중앙선    55  X
27  1171  0550VMX00600  127.710833  37.011389   101  중앙선    55  X
28  1174  0550VMX00700  127.749722  37.850833   101  중앙선    55  X

In [ ]:
df_name10_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name10_num

    도로명
0   중앙선
1   중앙선
2   중앙선
3   중앙선
4   중앙선
5   중앙선
6   중앙선
7   중앙선
8   중앙선
9   중앙선
10  중앙선
11  중앙선
12  중앙선
13  중앙선
14  중앙선
15  중앙선
16  중앙선
17  중앙선
18  중앙선
19  중앙선
20  중앙선
21  중앙선
22  중앙선
23  중앙선
24  중앙선
25  중앙선
26  중앙선
27  중앙선
28  중앙선

In [ ]:
df_name10_num.iloc[:] = '중앙고속도로'
df_name10_num

       도로명
0   중앙고속도로
1   중앙고속도로
2   중앙고속도로
3   중앙고속도로
4   중앙고속도로
5   중앙고속도로
6   중앙고속도로
7   중앙고속도로
8   중앙고속도로
9   중앙고속도로
10  중앙고속도로
11  중앙고속도로
12  중앙고속도로
13  중앙고속도로
14  중앙고속도로
15  중앙고속도로
16  중앙고속도로
17  중앙고속도로
18  중앙고속도로
19  중앙고속도로
20  중앙고속도로
21  중앙고속도로
22  중앙고속도로
23  중앙고속도로
24  중앙고속도로
25  중앙고속도로
26  중앙고속도로
27  중앙고속도로
28  중앙고속도로

In [ ]:
df_name10_num1 = df_name10.reset_index(drop = True)
df_name10_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    134  0550VME00100  128.980000  35.233889   101  중앙선    55  E
1    135  0550VME00300  128.983611  35.256111   101  중앙선    55  E
2    231  0550VME00400  128.527279  35.915278   101  중앙선    55  E
3    235  0550VME00500  128.535833  36.066111   101  중앙선    55  E
4    291  0550VME00600  128.545833  36.831667   101  중앙선    55  E
5     10  0550VME00800  128.292778  36.989722   101  중앙선    55  E
6     12  0550VME00900  128.150278  37.114444   101  중앙선    55  E
7     14  0550VME01000  128.096944  37.214722   101  중앙선    55  E
8     15  0550VME01100  128.044167  37.254167   101  중앙선    55  E
9     16  0550VME01300  127.971389  37.306389   101  중앙선    55  E
10  1170  0550VME01400  127.691667  36.999444   101  중앙선    55  E
11  1173  0550VMS00200  127.768611  37.785278   101  중앙선    55  S
12   136  0550VMS00300  128.983611  35.256111   101  중앙선    55  S
13   234  0550VMS00400  128.532858  35.930556   101  중앙선    55  S
14   236  0550VMS00500  128.558056  36.230556   101  중앙선    55  S
15   237  0550VMS00600  128.588611  36.319444   101  중앙선    55  S
16   238  0550VMS00700  128.621389  36.438611   101  중앙선    55  S
17   290  0550VMS00800  128.615556  36.509722   101  중앙선    55  S
18    11  0550VMS01000  128.155000  37.095278   101  중앙선    55  S
19    13  0550VMS01100  128.129167  37.163611   101  중앙선    55  S
20  1169  0550VMS01200  127.651667  37.004167   101  중앙선    55  S
21  1172  0550VMS01300  127.711111  37.011389   101  중앙선    55  S
22   133  0550VMX00100  128.965833  35.135556   101  중앙선    55  X
23   132  0550VMX00200  128.974444  35.209444   101  중앙선    55  X
24   232  0550VMX00300  128.548480  35.947500   101  중앙선    55  X
25   233  0550VMX00400  128.551111  35.975833   101  중앙선    55  X
26    18  0550VMX00500  127.934167  37.338056   101  중앙선    55  X
27  1171  0550VMX00600  127.710833  37.011389   101  중앙선    55  X
28  1174  0550VMX00700  127.749722  37.850833   101  중앙선    55  X

In [ ]:
df_name10_num1['도로명'] = df_name10_num['도로명']
df_name10_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0    134  0550VME00100  128.980000  35.233889   101  중앙고속도로    55  E
1    135  0550VME00300  128.983611  35.256111   101  중앙고속도로    55  E
2    231  0550VME00400  128.527279  35.915278   101  중앙고속도로    55  E
3    235  0550VME00500  128.535833  36.066111   101  중앙고속도로    55  E
4    291  0550VME00600  128.545833  36.831667   101  중앙고속도로    55  E
5     10  0550VME00800  128.292778  36.989722   101  중앙고속도로    55  E
6     12  0550VME00900  128.150278  37.114444   101  중앙고속도로    55  E
7     14  0550VME01000  128.096944  37.214722   101  중앙고속도로    55  E
8     15  0550VME01100  128.044167  37.254167   101  중앙고속도로    55  E
9     16  0550VME01300  127.971389  37.306389   101  중앙고속도로    55  E
10  1170  0550VME01400  127.691667  36.999444   101  중앙고속도로    55  E
11  1173  0550VMS00200  127.768611  37.785278   101  중앙고속도로    55  S
12   136  0550VMS00300  128.983611  35.256111   101  중앙고속도로    55  S
13   234  0550VMS00400  128.532858  35.930556   101  중앙고속도로    55  S
14   236  0550VMS00500  128.558056  36.230556   101  중앙고속도로    55  S
15   237  0550VMS00600  128.588611  36.319444   101  중앙고속도로    55  S
16   238  0550VMS00700  128.621389  36.438611   101  중앙고속도로    55  S
17   290  0550VMS00800  128.615556  36.509722   101  중앙고속도로    55  S
18    11  0550VMS01000  128.155000  37.095278   101  중앙고속도로    55  S
19    13  0550VMS01100  128.129167  37.163611   101  중앙고속도로    55  S
20  1169  0550VMS01200  127.651667  37.004167   101  중앙고속도로    55  S
21  1172  0550VMS01300  127.711111  37.011389   101  중앙고속도로    55  S
22   133  0550VMX00100  128.965833  35.135556   101  중앙고속도로    55  X
23   132  0550VMX00200  128.974444  35.209444   101  중앙고속도로    55  X
24   232  0550VMX00300  128.548480  35.947500   101  중앙고속도로    55  X
25   233  0550VMX00400  128.551111  35.975833   101  중앙고속도로    55  X
26    18  0550VMX00500  127.934167  37.338056   101  중앙고속도로    55  X
27  1171  0550VMX00600  127.710833  37.011389   101  중앙고속도로    55  X
28  1174  0550VMX00700  127.749722  37.850833   101  중앙고속도로    55  X

In [ ]:
df_name11 = df[df['도로명'] == '청원상주선']
df_name11

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
432  1244  0300VME00100  127.476389  36.546111   101  청원상주선    30  E
433  1248  0300VME00200  127.593056  36.500278   101  청원상주선    30  E
434  1252  0300VME00300  127.679167  36.470278   101  청원상주선    30  E
435  1256  0300VME00400  127.756389  36.451944   101  청원상주선    30  E
436  1260  0300VME00500  127.936111  36.439444   101  청원상주선    30  E
437  1264  0300VME00600  128.120556  36.373333   101  청원상주선    30  E
438  1268  0300VME00700  128.203889  36.362778   101  청원상주선    30  E
439  1269  0300VME00800  128.216667  36.368056   101  청원상주선    30  E
440  1243  0300VMS00100  127.470833  36.551667   101  청원상주선    30  S
441  1247  0300VMS00200  127.537500  36.517222   101  청원상주선    30  S
442  1251  0300VMS00300  127.650556  36.473889   101  청원상주선    30  S
443  1255  0300VMS00400  127.751944  36.452778   101  청원상주선    30  S
444  1259  0300VMS00500  127.824722  36.452500   101  청원상주선    30  S
445  1263  0300VMS00600  128.007500  36.436389   101  청원상주선    30  S
446  1267  0300VMS00700  128.173889  36.371111   101  청원상주선    30  S
447  1246  0300VMX00100  127.503611  36.515833   101  청원상주선    30  X
448  1245  0300VMX00200  127.505556  36.535833   101  청원상주선    30  X
449  1249  0300VMX00300  127.603889  36.483611   101  청원상주선    30  X
450  1250  0300VMX00400  127.621667  36.475833   101  청원상주선    30  X
451  1253  0300VMX00500  127.736944  36.432222   101  청원상주선    30  X
452  1254  0300VMX00600  127.734167  36.457778   101  청원상주선    30  X
453  1257  0300VMX00700  127.803056  36.448611   101  청원상주선    30  X
454  1258  0300VMX00800  127.782500  36.469722   101  청원상주선    30  X
455  1262  0300VMX00900  127.932222  36.446111   101  청원상주선    30  X
456  1261  0300VMX01000  127.988333  36.444444   101  청원상주선    30  X
457  1266  0300VMX01100  128.150556  36.388333   101  청원상주선    30  X
458  1265  0300VMX01200  128.145556  36.360000   101  청원상주선    30  X

In [ ]:
df_name11_num = df_name11.reset_index(drop = True)
df_name11_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1244  0300VME00100  127.476389  36.546111   101  청원상주선    30  E
1   1248  0300VME00200  127.593056  36.500278   101  청원상주선    30  E
2   1252  0300VME00300  127.679167  36.470278   101  청원상주선    30  E
3   1256  0300VME00400  127.756389  36.451944   101  청원상주선    30  E
4   1260  0300VME00500  127.936111  36.439444   101  청원상주선    30  E
5   1264  0300VME00600  128.120556  36.373333   101  청원상주선    30  E
6   1268  0300VME00700  128.203889  36.362778   101  청원상주선    30  E
7   1269  0300VME00800  128.216667  36.368056   101  청원상주선    30  E
8   1243  0300VMS00100  127.470833  36.551667   101  청원상주선    30  S
9   1247  0300VMS00200  127.537500  36.517222   101  청원상주선    30  S
10  1251  0300VMS00300  127.650556  36.473889   101  청원상주선    30  S
11  1255  0300VMS00400  127.751944  36.452778   101  청원상주선    30  S
12  1259  0300VMS00500  127.824722  36.452500   101  청원상주선    30  S
13  1263  0300VMS00600  128.007500  36.436389   101  청원상주선    30  S
14  1267  0300VMS00700  128.173889  36.371111   101  청원상주선    30  S
15  1246  0300VMX00100  127.503611  36.515833   101  청원상주선    30  X
16  1245  0300VMX00200  127.505556  36.535833   101  청원상주선    30  X
17  1249  0300VMX00300  127.603889  36.483611   101  청원상주선    30  X
18  1250  0300VMX00400  127.621667  36.475833   101  청원상주선    30  X
19  1253  0300VMX00500  127.736944  36.432222   101  청원상주선    30  X
20  1254  0300VMX00600  127.734167  36.457778   101  청원상주선    30  X
21  1257  0300VMX00700  127.803056  36.448611   101  청원상주선    30  X
22  1258  0300VMX00800  127.782500  36.469722   101  청원상주선    30  X
23  1262  0300VMX00900  127.932222  36.446111   101  청원상주선    30  X
24  1261  0300VMX01000  127.988333  36.444444   101  청원상주선    30  X
25  1266  0300VMX01100  128.150556  36.388333   101  청원상주선    30  X
26  1265  0300VMX01200  128.145556  36.360000   101  청원상주선    30  X

In [ ]:
df_name11_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name11_num

      도로명
0   청원상주선
1   청원상주선
2   청원상주선
3   청원상주선
4   청원상주선
5   청원상주선
6   청원상주선
7   청원상주선
8   청원상주선
9   청원상주선
10  청원상주선
11  청원상주선
12  청원상주선
13  청원상주선
14  청원상주선
15  청원상주선
16  청원상주선
17  청원상주선
18  청원상주선
19  청원상주선
20  청원상주선
21  청원상주선
22  청원상주선
23  청원상주선
24  청원상주선
25  청원상주선
26  청원상주선

In [ ]:
df_name11_num.iloc[:] = '서산영덕고속도로'
df_name11_num

         도로명
0   서산영덕고속도로
1   서산영덕고속도로
2   서산영덕고속도로
3   서산영덕고속도로
4   서산영덕고속도로
5   서산영덕고속도로
6   서산영덕고속도로
7   서산영덕고속도로
8   서산영덕고속도로
9   서산영덕고속도로
10  서산영덕고속도로
11  서산영덕고속도로
12  서산영덕고속도로
13  서산영덕고속도로
14  서산영덕고속도로
15  서산영덕고속도로
16  서산영덕고속도로
17  서산영덕고속도로
18  서산영덕고속도로
19  서산영덕고속도로
20  서산영덕고속도로
21  서산영덕고속도로
22  서산영덕고속도로
23  서산영덕고속도로
24  서산영덕고속도로
25  서산영덕고속도로
26  서산영덕고속도로

In [ ]:
df_name11_num1 = df_name11.reset_index(drop = True)
df_name11_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1244  0300VME00100  127.476389  36.546111   101  청원상주선    30  E
1   1248  0300VME00200  127.593056  36.500278   101  청원상주선    30  E
2   1252  0300VME00300  127.679167  36.470278   101  청원상주선    30  E
3   1256  0300VME00400  127.756389  36.451944   101  청원상주선    30  E
4   1260  0300VME00500  127.936111  36.439444   101  청원상주선    30  E
5   1264  0300VME00600  128.120556  36.373333   101  청원상주선    30  E
6   1268  0300VME00700  128.203889  36.362778   101  청원상주선    30  E
7   1269  0300VME00800  128.216667  36.368056   101  청원상주선    30  E
8   1243  0300VMS00100  127.470833  36.551667   101  청원상주선    30  S
9   1247  0300VMS00200  127.537500  36.517222   101  청원상주선    30  S
10  1251  0300VMS00300  127.650556  36.473889   101  청원상주선    30  S
11  1255  0300VMS00400  127.751944  36.452778   101  청원상주선    30  S
12  1259  0300VMS00500  127.824722  36.452500   101  청원상주선    30  S
13  1263  0300VMS00600  128.007500  36.436389   101  청원상주선    30  S
14  1267  0300VMS00700  128.173889  36.371111   101  청원상주선    30  S
15  1246  0300VMX00100  127.503611  36.515833   101  청원상주선    30  X
16  1245  0300VMX00200  127.505556  36.535833   101  청원상주선    30  X
17  1249  0300VMX00300  127.603889  36.483611   101  청원상주선    30  X
18  1250  0300VMX00400  127.621667  36.475833   101  청원상주선    30  X
19  1253  0300VMX00500  127.736944  36.432222   101  청원상주선    30  X
20  1254  0300VMX00600  127.734167  36.457778   101  청원상주선    30  X
21  1257  0300VMX00700  127.803056  36.448611   101  청원상주선    30  X
22  1258  0300VMX00800  127.782500  36.469722   101  청원상주선    30  X
23  1262  0300VMX00900  127.932222  36.446111   101  청원상주선    30  X
24  1261  0300VMX01000  127.988333  36.444444   101  청원상주선    30  X
25  1266  0300VMX01100  128.150556  36.388333   101  청원상주선    30  X
26  1265  0300VMX01200  128.145556  36.360000   101  청원상주선    30  X

In [ ]:
df_name11_num1['도로명'] = df_name11_num['도로명']
df_name11_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1244  0300VME00100  127.476389  36.546111   101  서산영덕고속도로    30  E
1   1248  0300VME00200  127.593056  36.500278   101  서산영덕고속도로    30  E
2   1252  0300VME00300  127.679167  36.470278   101  서산영덕고속도로    30  E
3   1256  0300VME00400  127.756389  36.451944   101  서산영덕고속도로    30  E
4   1260  0300VME00500  127.936111  36.439444   101  서산영덕고속도로    30  E
5   1264  0300VME00600  128.120556  36.373333   101  서산영덕고속도로    30  E
6   1268  0300VME00700  128.203889  36.362778   101  서산영덕고속도로    30  E
7   1269  0300VME00800  128.216667  36.368056   101  서산영덕고속도로    30  E
8   1243  0300VMS00100  127.470833  36.551667   101  서산영덕고속도로    30  S
9   1247  0300VMS00200  127.537500  36.517222   101  서산영덕고속도로    30  S
10  1251  0300VMS00300  127.650556  36.473889   101  서산영덕고속도로    30  S
11  1255  0300VMS00400  127.751944  36.452778   101  서산영덕고속도로    30  S
12  1259  0300VMS00500  127.824722  36.452500   101  서산영덕고속도로    30  S
13  1263  0300VMS00600  128.007500  36.436389   101  서산영덕고속도로    30  S
14  1267  0300VMS00700  128.173889  36.371111   101  서산영덕고속도로    30  S
15  1246  0300VMX00100  127.503611  36.515833   101  서산영덕고속도로    30  X
16  1245  0300VMX00200  127.505556  36.535833   101  서산영덕고속도로    30  X
17  1249  0300VMX00300  127.603889  36.483611   101  서산영덕고속도로    30  X
18  1250  0300VMX00400  127.621667  36.475833   101  서산영덕고속도로    30  X
19  1253  0300VMX00500  127.736944  36.432222   101  서산영덕고속도로    30  X
20  1254  0300VMX00600  127.734167  36.457778   101  서산영덕고속도로    30  X
21  1257  0300VMX00700  127.803056  36.448611   101  서산영덕고속도로    30  X
22  1258  0300VMX00800  127.782500  36.469722   101  서산영덕고속도로    30  X
23  1262  0300VMX00900  127.932222  36.446111   101  서산영덕고속도로    30  X
24  1261  0300VMX01000  127.988333  36.444444   101  서산영덕고속도로    30  X
25  1266  0300VMX01100  128.150556  36.388333   101  서산영덕고속도로    30  X
26  1265  0300VMX01200  128.145556  36.360000   101  서산영덕고속도로    30  X

In [ ]:
df_name12 = df[df['도로명'] == '평택제천선']
df_name12

       순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
231  1116  010411VMS11202  126.931667  37.048333   101  평택제천선    40  S
339   395    0170VMS00100  127.001944  37.024167   101  평택제천선    40  S
552   472    0400VME00200  127.083611  37.028889   101  평택제천선    40  E
553  1146    0400VME00300  127.424167  36.949722   101  평택제천선    40  E
554   474    0400VME00400  127.192500  36.952778   101  평택제천선    40  E
555  1149    0400VME00500  127.288889  36.968333   101  평택제천선    40  E
556  1151    0400VME00600  127.449444  36.925833   101  평택제천선    40  E
557  1155    0400VME00700  127.516944  36.944444   101  평택제천선    40  E
558  1158    0400VME00800  127.580556  36.963611   101  평택제천선    40  E
559  1161    0400VME00900  127.639444  36.998333   101  평택제천선    40  E
560   471    0400VMS00100  126.952222  37.041667   101  평택제천선    40  S
561   473    0400VMS00200  127.154722  37.035556   101  평택제천선    40  S
562  1145    0400VMS00300  127.288889  36.968333   101  평택제천선    40  S
563  1150    0400VMS00600  127.424167  36.949722   101  평택제천선    40  S
564  1154    0400VMS00700  127.507222  36.944444   101  평택제천선    40  S
565  1159    0400VMS00800  127.585556  36.965833   101  평택제천선    40  S
566  1162    0400VMS00900  127.607500  36.995833   101  평택제천선    40  S
567   475    0400VMX00100  127.260000  36.976111   101  평택제천선    40  X
568  1147    0400VMX00200  127.434167  36.935556   101  평택제천선    40  X
569  1148    0400VMX00300  127.449444  36.925833   101  평택제천선    40  X
570  1152    0400VMX00500  127.434167  36.935556   101  평택제천선    40  X
571  1153    0400VMX00550  127.458333  36.943333   101  평택제천선    40  X
572  1156    0400VMX00700  127.569444  36.930278   101  평택제천선    40  X
573  1157    0400VMX00750  127.548056  36.925278   101  평택제천선    40  X
574  1160    0400VMX00800  127.626944  36.974167   101  평택제천선    40  X

In [ ]:
df_name12_num = df_name12.reset_index(drop = True)
df_name12_num

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1116  010411VMS11202  126.931667  37.048333   101  평택제천선    40  S
1    395    0170VMS00100  127.001944  37.024167   101  평택제천선    40  S
2    472    0400VME00200  127.083611  37.028889   101  평택제천선    40  E
3   1146    0400VME00300  127.424167  36.949722   101  평택제천선    40  E
4    474    0400VME00400  127.192500  36.952778   101  평택제천선    40  E
5   1149    0400VME00500  127.288889  36.968333   101  평택제천선    40  E
6   1151    0400VME00600  127.449444  36.925833   101  평택제천선    40  E
7   1155    0400VME00700  127.516944  36.944444   101  평택제천선    40  E
8   1158    0400VME00800  127.580556  36.963611   101  평택제천선    40  E
9   1161    0400VME00900  127.639444  36.998333   101  평택제천선    40  E
10   471    0400VMS00100  126.952222  37.041667   101  평택제천선    40  S
11   473    0400VMS00200  127.154722  37.035556   101  평택제천선    40  S
12  1145    0400VMS00300  127.288889  36.968333   101  평택제천선    40  S
13  1150    0400VMS00600  127.424167  36.949722   101  평택제천선    40  S
14  1154    0400VMS00700  127.507222  36.944444   101  평택제천선    40  S
15  1159    0400VMS00800  127.585556  36.965833   101  평택제천선    40  S
16  1162    0400VMS00900  127.607500  36.995833   101  평택제천선    40  S
17   475    0400VMX00100  127.260000  36.976111   101  평택제천선    40  X
18  1147    0400VMX00200  127.434167  36.935556   101  평택제천선    40  X
19  1148    0400VMX00300  127.449444  36.925833   101  평택제천선    40  X
20  1152    0400VMX00500  127.434167  36.935556   101  평택제천선    40  X
21  1153    0400VMX00550  127.458333  36.943333   101  평택제천선    40  X
22  1156    0400VMX00700  127.569444  36.930278   101  평택제천선    40  X
23  1157    0400VMX00750  127.548056  36.925278   101  평택제천선    40  X
24  1160    0400VMX00800  127.626944  36.974167   101  평택제천선    40  X

In [ ]:
df_name12_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name12_num

      도로명
0   평택제천선
1   평택제천선
2   평택제천선
3   평택제천선
4   평택제천선
5   평택제천선
6   평택제천선
7   평택제천선
8   평택제천선
9   평택제천선
10  평택제천선
11  평택제천선
12  평택제천선
13  평택제천선
14  평택제천선
15  평택제천선
16  평택제천선
17  평택제천선
18  평택제천선
19  평택제천선
20  평택제천선
21  평택제천선
22  평택제천선
23  평택제천선
24  평택제천선

In [ ]:
df_name12_num.iloc[:] = '평택제천고속도로'
df_name12_num

         도로명
0   평택제천고속도로
1   평택제천고속도로
2   평택제천고속도로
3   평택제천고속도로
4   평택제천고속도로
5   평택제천고속도로
6   평택제천고속도로
7   평택제천고속도로
8   평택제천고속도로
9   평택제천고속도로
10  평택제천고속도로
11  평택제천고속도로
12  평택제천고속도로
13  평택제천고속도로
14  평택제천고속도로
15  평택제천고속도로
16  평택제천고속도로
17  평택제천고속도로
18  평택제천고속도로
19  평택제천고속도로
20  평택제천고속도로
21  평택제천고속도로
22  평택제천고속도로
23  평택제천고속도로
24  평택제천고속도로

In [ ]:
df_name12_num1 = df_name12.reset_index(drop = True)
df_name12_num1

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1116  010411VMS11202  126.931667  37.048333   101  평택제천선    40  S
1    395    0170VMS00100  127.001944  37.024167   101  평택제천선    40  S
2    472    0400VME00200  127.083611  37.028889   101  평택제천선    40  E
3   1146    0400VME00300  127.424167  36.949722   101  평택제천선    40  E
4    474    0400VME00400  127.192500  36.952778   101  평택제천선    40  E
5   1149    0400VME00500  127.288889  36.968333   101  평택제천선    40  E
6   1151    0400VME00600  127.449444  36.925833   101  평택제천선    40  E
7   1155    0400VME00700  127.516944  36.944444   101  평택제천선    40  E
8   1158    0400VME00800  127.580556  36.963611   101  평택제천선    40  E
9   1161    0400VME00900  127.639444  36.998333   101  평택제천선    40  E
10   471    0400VMS00100  126.952222  37.041667   101  평택제천선    40  S
11   473    0400VMS00200  127.154722  37.035556   101  평택제천선    40  S
12  1145    0400VMS00300  127.288889  36.968333   101  평택제천선    40  S
13  1150    0400VMS00600  127.424167  36.949722   101  평택제천선    40  S
14  1154    0400VMS00700  127.507222  36.944444   101  평택제천선    40  S
15  1159    0400VMS00800  127.585556  36.965833   101  평택제천선    40  S
16  1162    0400VMS00900  127.607500  36.995833   101  평택제천선    40  S
17   475    0400VMX00100  127.260000  36.976111   101  평택제천선    40  X
18  1147    0400VMX00200  127.434167  36.935556   101  평택제천선    40  X
19  1148    0400VMX00300  127.449444  36.925833   101  평택제천선    40  X
20  1152    0400VMX00500  127.434167  36.935556   101  평택제천선    40  X
21  1153    0400VMX00550  127.458333  36.943333   101  평택제천선    40  X
22  1156    0400VMX00700  127.569444  36.930278   101  평택제천선    40  X
23  1157    0400VMX00750  127.548056  36.925278   101  평택제천선    40  X
24  1160    0400VMX00800  127.626944  36.974167   101  평택제천선    40  X

In [ ]:
df_name12_num1['도로명'] = df_name12_num['도로명']
df_name12_num1

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1116  010411VMS11202  126.931667  37.048333   101  평택제천고속도로    40  S
1    395    0170VMS00100  127.001944  37.024167   101  평택제천고속도로    40  S
2    472    0400VME00200  127.083611  37.028889   101  평택제천고속도로    40  E
3   1146    0400VME00300  127.424167  36.949722   101  평택제천고속도로    40  E
4    474    0400VME00400  127.192500  36.952778   101  평택제천고속도로    40  E
5   1149    0400VME00500  127.288889  36.968333   101  평택제천고속도로    40  E
6   1151    0400VME00600  127.449444  36.925833   101  평택제천고속도로    40  E
7   1155    0400VME00700  127.516944  36.944444   101  평택제천고속도로    40  E
8   1158    0400VME00800  127.580556  36.963611   101  평택제천고속도로    40  E
9   1161    0400VME00900  127.639444  36.998333   101  평택제천고속도로    40  E
10   471    0400VMS00100  126.952222  37.041667   101  평택제천고속도로    40  S
11   473    0400VMS00200  127.154722  37.035556   101  평택제천고속도로    40  S
12  1145    0400VMS00300  127.288889  36.968333   101  평택제천고속도로    40  S
13  1150    0400VMS00600  127.424167  36.949722   101  평택제천고속도로    40  S
14  1154    0400VMS00700  127.507222  36.944444   101  평택제천고속도로    40  S
15  1159    0400VMS00800  127.585556  36.965833   101  평택제천고속도로    40  S
16  1162    0400VMS00900  127.607500  36.995833   101  평택제천고속도로    40  S
17   475    0400VMX00100  127.260000  36.976111   101  평택제천고속도로    40  X
18  1147    0400VMX00200  127.434167  36.935556   101  평택제천고속도로    40  X
19  1148    0400VMX00300  127.449444  36.925833   101  평택제천고속도로    40  X
20  1152    0400VMX00500  127.434167  36.935556   101  평택제천고속도로    40  X
21  1153    0400VMX00550  127.458333  36.943333   101  평택제천고속도로    40  X
22  1156    0400VMX00700  127.569444  36.930278   101  평택제천고속도로    40  X
23  1157    0400VMX00750  127.548056  36.925278   101  평택제천고속도로    40  X
24  1160    0400VMX00800  127.626944  36.974167   101  평택제천고속도로    40  X

In [ ]:
df_name13 = df[df['도로명'] == '익산포항선']
df_name13

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
346   293  0200VME00100  128.809722  35.956389   101  익산포항선    20  E
347   294  0200VME00200  128.905833  36.030833   101  익산포항선    20  E
348   292  0200VMS00100  128.694167  35.941111   101  익산포항선    20  S
349   295  0200VMS00200  128.950000  36.054444   101  익산포항선    20  S
350   297  0200VMX00100  129.306667  36.036389   101  익산포항선    20  X
351   296  0200VMX00200  129.339444  36.056667   101  익산포항선    20  X
352  1331  0201VME00100  127.126667  35.910000   101  익산포항선    20  E
353  1330  0201VME00150  127.159869  35.893692   101  익산포항선    20  E
354   533  0201VME00200  127.204722  35.868889   101  익산포항선    20  E
355   538  0201VME00300  127.406667  35.771667   101  익산포항선    20  E
356   542  0201VME00400  127.533889  35.738889   101  익산포항선    20  E
357  1332  0201VMS00100  127.126389  35.918611   101  익산포항선    20  S
358  1335  0201VMS00150  127.164444  35.883392   101  익산포항선    20  S
359   534  0201VMS00200  127.216944  35.863611   101  익산포항선    20  S
360   537  0201VMS00300  127.258889  35.843056   101  익산포항선    20  S
361   541  0201VMS00400  127.478611  35.771389   101  익산포항선    20  S
362  1333  0201VMX00100  127.160000  35.905833   101  익산포항선    20  X
363  1334  0201VMX00200  127.158056  35.880000   101  익산포항선    20  X
364   536  0201VMX00300  127.258333  35.852222   101  익산포항선    20  X
365   535  0201VMX00400  127.219167  35.851111   101  익산포항선    20  X
366   539  0201VMX00500  127.431667  35.773889   101  익산포항선    20  X
367   540  0201VMX00600  127.432222  35.254722   101  익산포항선    20  X
368   543  0201VMX00800  127.576111  35.695556   101  익산포항선    20  X

In [ ]:
df_name13_num = df_name13.reset_index(drop = True)
df_name13_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    293  0200VME00100  128.809722  35.956389   101  익산포항선    20  E
1    294  0200VME00200  128.905833  36.030833   101  익산포항선    20  E
2    292  0200VMS00100  128.694167  35.941111   101  익산포항선    20  S
3    295  0200VMS00200  128.950000  36.054444   101  익산포항선    20  S
4    297  0200VMX00100  129.306667  36.036389   101  익산포항선    20  X
5    296  0200VMX00200  129.339444  36.056667   101  익산포항선    20  X
6   1331  0201VME00100  127.126667  35.910000   101  익산포항선    20  E
7   1330  0201VME00150  127.159869  35.893692   101  익산포항선    20  E
8    533  0201VME00200  127.204722  35.868889   101  익산포항선    20  E
9    538  0201VME00300  127.406667  35.771667   101  익산포항선    20  E
10   542  0201VME00400  127.533889  35.738889   101  익산포항선    20  E
11  1332  0201VMS00100  127.126389  35.918611   101  익산포항선    20  S
12  1335  0201VMS00150  127.164444  35.883392   101  익산포항선    20  S
13   534  0201VMS00200  127.216944  35.863611   101  익산포항선    20  S
14   537  0201VMS00300  127.258889  35.843056   101  익산포항선    20  S
15   541  0201VMS00400  127.478611  35.771389   101  익산포항선    20  S
16  1333  0201VMX00100  127.160000  35.905833   101  익산포항선    20  X
17  1334  0201VMX00200  127.158056  35.880000   101  익산포항선    20  X
18   536  0201VMX00300  127.258333  35.852222   101  익산포항선    20  X
19   535  0201VMX00400  127.219167  35.851111   101  익산포항선    20  X
20   539  0201VMX00500  127.431667  35.773889   101  익산포항선    20  X
21   540  0201VMX00600  127.432222  35.254722   101  익산포항선    20  X
22   543  0201VMX00800  127.576111  35.695556   101  익산포항선    20  X

In [ ]:
df_name13_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name13_num

      도로명
0   익산포항선
1   익산포항선
2   익산포항선
3   익산포항선
4   익산포항선
5   익산포항선
6   익산포항선
7   익산포항선
8   익산포항선
9   익산포항선
10  익산포항선
11  익산포항선
12  익산포항선
13  익산포항선
14  익산포항선
15  익산포항선
16  익산포항선
17  익산포항선
18  익산포항선
19  익산포항선
20  익산포항선
21  익산포항선
22  익산포항선

In [ ]:
df_name13_num.iloc[:] = '새만금포항고속도로'
df_name13_num

          도로명
0   새만금포항고속도로
1   새만금포항고속도로
2   새만금포항고속도로
3   새만금포항고속도로
4   새만금포항고속도로
5   새만금포항고속도로
6   새만금포항고속도로
7   새만금포항고속도로
8   새만금포항고속도로
9   새만금포항고속도로
10  새만금포항고속도로
11  새만금포항고속도로
12  새만금포항고속도로
13  새만금포항고속도로
14  새만금포항고속도로
15  새만금포항고속도로
16  새만금포항고속도로
17  새만금포항고속도로
18  새만금포항고속도로
19  새만금포항고속도로
20  새만금포항고속도로
21  새만금포항고속도로
22  새만금포항고속도로

In [ ]:
df_name13_num1 = df_name13.reset_index(drop = True)
df_name13_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    293  0200VME00100  128.809722  35.956389   101  익산포항선    20  E
1    294  0200VME00200  128.905833  36.030833   101  익산포항선    20  E
2    292  0200VMS00100  128.694167  35.941111   101  익산포항선    20  S
3    295  0200VMS00200  128.950000  36.054444   101  익산포항선    20  S
4    297  0200VMX00100  129.306667  36.036389   101  익산포항선    20  X
5    296  0200VMX00200  129.339444  36.056667   101  익산포항선    20  X
6   1331  0201VME00100  127.126667  35.910000   101  익산포항선    20  E
7   1330  0201VME00150  127.159869  35.893692   101  익산포항선    20  E
8    533  0201VME00200  127.204722  35.868889   101  익산포항선    20  E
9    538  0201VME00300  127.406667  35.771667   101  익산포항선    20  E
10   542  0201VME00400  127.533889  35.738889   101  익산포항선    20  E
11  1332  0201VMS00100  127.126389  35.918611   101  익산포항선    20  S
12  1335  0201VMS00150  127.164444  35.883392   101  익산포항선    20  S
13   534  0201VMS00200  127.216944  35.863611   101  익산포항선    20  S
14   537  0201VMS00300  127.258889  35.843056   101  익산포항선    20  S
15   541  0201VMS00400  127.478611  35.771389   101  익산포항선    20  S
16  1333  0201VMX00100  127.160000  35.905833   101  익산포항선    20  X
17  1334  0201VMX00200  127.158056  35.880000   101  익산포항선    20  X
18   536  0201VMX00300  127.258333  35.852222   101  익산포항선    20  X
19   535  0201VMX00400  127.219167  35.851111   101  익산포항선    20  X
20   539  0201VMX00500  127.431667  35.773889   101  익산포항선    20  X
21   540  0201VMX00600  127.432222  35.254722   101  익산포항선    20  X
22   543  0201VMX00800  127.576111  35.695556   101  익산포항선    20  X

In [ ]:
df_name13_num1['도로명'] = df_name13_num['도로명']
df_name13_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급        도로명  노선번호 방향
0    293  0200VME00100  128.809722  35.956389   101  새만금포항고속도로    20  E
1    294  0200VME00200  128.905833  36.030833   101  새만금포항고속도로    20  E
2    292  0200VMS00100  128.694167  35.941111   101  새만금포항고속도로    20  S
3    295  0200VMS00200  128.950000  36.054444   101  새만금포항고속도로    20  S
4    297  0200VMX00100  129.306667  36.036389   101  새만금포항고속도로    20  X
5    296  0200VMX00200  129.339444  36.056667   101  새만금포항고속도로    20  X
6   1331  0201VME00100  127.126667  35.910000   101  새만금포항고속도로    20  E
7   1330  0201VME00150  127.159869  35.893692   101  새만금포항고속도로    20  E
8    533  0201VME00200  127.204722  35.868889   101  새만금포항고속도로    20  E
9    538  0201VME00300  127.406667  35.771667   101  새만금포항고속도로    20  E
10   542  0201VME00400  127.533889  35.738889   101  새만금포항고속도로    20  E
11  1332  0201VMS00100  127.126389  35.918611   101  새만금포항고속도로    20  S
12  1335  0201VMS00150  127.164444  35.883392   101  새만금포항고속도로    20  S
13   534  0201VMS00200  127.216944  35.863611   101  새만금포항고속도로    20  S
14   537  0201VMS00300  127.258889  35.843056   101  새만금포항고속도로    20  S
15   541  0201VMS00400  127.478611  35.771389   101  새만금포항고속도로    20  S
16  1333  0201VMX00100  127.160000  35.905833   101  새만금포항고속도로    20  X
17  1334  0201VMX00200  127.158056  35.880000   101  새만금포항고속도로    20  X
18   536  0201VMX00300  127.258333  35.852222   101  새만금포항고속도로    20  X
19   535  0201VMX00400  127.219167  35.851111   101  새만금포항고속도로    20  X
20   539  0201VMX00500  127.431667  35.773889   101  새만금포항고속도로    20  X
21   540  0201VMX00600  127.432222  35.254722   101  새만금포항고속도로    20  X
22   543  0201VMX00800  127.576111  35.695556   101  새만금포항고속도로    20  X

In [ ]:
df_name14 = df[df['도로명'] == '무안광주선']
df_name14

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
250  76  0121VME00100  126.447500  35.016389   101  무안광주선    12  E
251  78  0121VME00200  126.519444  35.040000   101  무안광주선    12  E
252  82  0121VME00300  126.558056  35.058889   101  무안광주선    12  E
253  86  0121VME00400  126.656111  35.081667   101  무안광주선    12  E
254  77  0121VMS00100  126.478056  35.027222   101  무안광주선    12  S
255  79  0121VMS00200  126.522500  35.040556   101  무안광주선    12  S
256  83  0121VMS00300  126.586667  35.066389   101  무안광주선    12  S
257  85  0121VMS00400  126.631389  35.076111   101  무안광주선    12  S
258  89  0121VMS00500  126.728056  35.110278   101  무안광주선    12  S
259  91  0121VMS00600  126.751389  35.137500   101  무안광주선    12  S
260  73  0121VMX00100  126.389444  34.999722   101  무안광주선    12  X
261  93  0121VMX00200  126.778333  35.136667   101  무안광주선    12  X
262  75  0121VMX00300  126.446944  35.006111   101  무안광주선    12  X
263  74  0121VMX00400  126.425278  35.015556   101  무안광주선    12  X
264  80  0121VMX00500  126.547500  35.070000   101  무안광주선    12  X
265  81  0121VMX00600  126.534167  35.057778   101  무안광주선    12  X
266  84  0121VMX00800  126.597222  35.070278   101  무안광주선    12  X
267  88  0121VMX00900  126.696944  35.086667   101  무안광주선    12  X
268  87  0121VMX01000  126.683611  35.114444   101  무안광주선    12  X
269  90  0121VMX01100  126.754167  35.110833   101  무안광주선    12  X
270  92  0121VMX01200  126.797778  35.158889   101  무안광주선    12  X

In [ ]:
df_name14_num = df_name14.reset_index(drop = True)
df_name14_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   76  0121VME00100  126.447500  35.016389   101  무안광주선    12  E
1   78  0121VME00200  126.519444  35.040000   101  무안광주선    12  E
2   82  0121VME00300  126.558056  35.058889   101  무안광주선    12  E
3   86  0121VME00400  126.656111  35.081667   101  무안광주선    12  E
4   77  0121VMS00100  126.478056  35.027222   101  무안광주선    12  S
5   79  0121VMS00200  126.522500  35.040556   101  무안광주선    12  S
6   83  0121VMS00300  126.586667  35.066389   101  무안광주선    12  S
7   85  0121VMS00400  126.631389  35.076111   101  무안광주선    12  S
8   89  0121VMS00500  126.728056  35.110278   101  무안광주선    12  S
9   91  0121VMS00600  126.751389  35.137500   101  무안광주선    12  S
10  73  0121VMX00100  126.389444  34.999722   101  무안광주선    12  X
11  93  0121VMX00200  126.778333  35.136667   101  무안광주선    12  X
12  75  0121VMX00300  126.446944  35.006111   101  무안광주선    12  X
13  74  0121VMX00400  126.425278  35.015556   101  무안광주선    12  X
14  80  0121VMX00500  126.547500  35.070000   101  무안광주선    12  X
15  81  0121VMX00600  126.534167  35.057778   101  무안광주선    12  X
16  84  0121VMX00800  126.597222  35.070278   101  무안광주선    12  X
17  88  0121VMX00900  126.696944  35.086667   101  무안광주선    12  X
18  87  0121VMX01000  126.683611  35.114444   101  무안광주선    12  X
19  90  0121VMX01100  126.754167  35.110833   101  무안광주선    12  X
20  92  0121VMX01200  126.797778  35.158889   101  무안광주선    12  X

In [ ]:
df_name14_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name14_num

      도로명
0   무안광주선
1   무안광주선
2   무안광주선
3   무안광주선
4   무안광주선
5   무안광주선
6   무안광주선
7   무안광주선
8   무안광주선
9   무안광주선
10  무안광주선
11  무안광주선
12  무안광주선
13  무안광주선
14  무안광주선
15  무안광주선
16  무안광주선
17  무안광주선
18  무안광주선
19  무안광주선
20  무안광주선

In [ ]:
df_name14_num.iloc[:] = '무안광주고속도로'
df_name14_num

         도로명
0   무안광주고속도로
1   무안광주고속도로
2   무안광주고속도로
3   무안광주고속도로
4   무안광주고속도로
5   무안광주고속도로
6   무안광주고속도로
7   무안광주고속도로
8   무안광주고속도로
9   무안광주고속도로
10  무안광주고속도로
11  무안광주고속도로
12  무안광주고속도로
13  무안광주고속도로
14  무안광주고속도로
15  무안광주고속도로
16  무안광주고속도로
17  무안광주고속도로
18  무안광주고속도로
19  무안광주고속도로
20  무안광주고속도로

In [ ]:
df_name14_num1 = df_name14.reset_index(drop = True)
df_name14_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   76  0121VME00100  126.447500  35.016389   101  무안광주선    12  E
1   78  0121VME00200  126.519444  35.040000   101  무안광주선    12  E
2   82  0121VME00300  126.558056  35.058889   101  무안광주선    12  E
3   86  0121VME00400  126.656111  35.081667   101  무안광주선    12  E
4   77  0121VMS00100  126.478056  35.027222   101  무안광주선    12  S
5   79  0121VMS00200  126.522500  35.040556   101  무안광주선    12  S
6   83  0121VMS00300  126.586667  35.066389   101  무안광주선    12  S
7   85  0121VMS00400  126.631389  35.076111   101  무안광주선    12  S
8   89  0121VMS00500  126.728056  35.110278   101  무안광주선    12  S
9   91  0121VMS00600  126.751389  35.137500   101  무안광주선    12  S
10  73  0121VMX00100  126.389444  34.999722   101  무안광주선    12  X
11  93  0121VMX00200  126.778333  35.136667   101  무안광주선    12  X
12  75  0121VMX00300  126.446944  35.006111   101  무안광주선    12  X
13  74  0121VMX00400  126.425278  35.015556   101  무안광주선    12  X
14  80  0121VMX00500  126.547500  35.070000   101  무안광주선    12  X
15  81  0121VMX00600  126.534167  35.057778   101  무안광주선    12  X
16  84  0121VMX00800  126.597222  35.070278   101  무안광주선    12  X
17  88  0121VMX00900  126.696944  35.086667   101  무안광주선    12  X
18  87  0121VMX01000  126.683611  35.114444   101  무안광주선    12  X
19  90  0121VMX01100  126.754167  35.110833   101  무안광주선    12  X
20  92  0121VMX01200  126.797778  35.158889   101  무안광주선    12  X

In [ ]:
df_name14_num1['도로명'] = df_name14_num['도로명']
df_name14_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   76  0121VME00100  126.447500  35.016389   101  무안광주고속도로    12  E
1   78  0121VME00200  126.519444  35.040000   101  무안광주고속도로    12  E
2   82  0121VME00300  126.558056  35.058889   101  무안광주고속도로    12  E
3   86  0121VME00400  126.656111  35.081667   101  무안광주고속도로    12  E
4   77  0121VMS00100  126.478056  35.027222   101  무안광주고속도로    12  S
5   79  0121VMS00200  126.522500  35.040556   101  무안광주고속도로    12  S
6   83  0121VMS00300  126.586667  35.066389   101  무안광주고속도로    12  S
7   85  0121VMS00400  126.631389  35.076111   101  무안광주고속도로    12  S
8   89  0121VMS00500  126.728056  35.110278   101  무안광주고속도로    12  S
9   91  0121VMS00600  126.751389  35.137500   101  무안광주고속도로    12  S
10  73  0121VMX00100  126.389444  34.999722   101  무안광주고속도로    12  X
11  93  0121VMX00200  126.778333  35.136667   101  무안광주고속도로    12  X
12  75  0121VMX00300  126.446944  35.006111   101  무안광주고속도로    12  X
13  74  0121VMX00400  126.425278  35.015556   101  무안광주고속도로    12  X
14  80  0121VMX00500  126.547500  35.070000   101  무안광주고속도로    12  X
15  81  0121VMX00600  126.534167  35.057778   101  무안광주고속도로    12  X
16  84  0121VMX00800  126.597222  35.070278   101  무안광주고속도로    12  X
17  88  0121VMX00900  126.696944  35.086667   101  무안광주고속도로    12  X
18  87  0121VMX01000  126.683611  35.114444   101  무안광주고속도로    12  X
19  90  0121VMX01100  126.754167  35.110833   101  무안광주고속도로    12  X
20  92  0121VMX01200  126.797778  35.158889   101  무안광주고속도로    12  X

In [ ]:
df_name15 = df[df['도로명'] == '동해선']
df_name15

       순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
733   478   0650VME00100  129.101111  37.557500   101  동해선    65  E
734   479   0650VME00200  129.072500  37.603333   101  동해선    65  E
735   484   0650VME00400  128.798333  37.889444   101  동해선    65  E
736   488   0650VME00500  128.718056  37.995833   101  동해선    65  E
737   491   0650VME00700  128.635278  38.053056   101  동해선    65  E
738  1122  0650VME0401K2  128.843333  37.738889   101  동해선    65  E
739  1121  0650VMN0081K3  129.106111  37.556111   101  동해선    65  N
740   480   0650VMS00100  129.020278  37.632222   101  동해선    65  S
741   482   0650VMS00200  128.826389  37.798889   101  동해선    65  S
742   487   0650VMS00300  128.758611  37.942222   101  동해선    65  S
743  1123   0650VMS00500  128.661389  38.038889   101  동해선    65  S
744   486   0650VMX00100  128.790000  37.931667   101  동해선    65  X
745   485   0650VMX00200  128.814167  37.911389   101  동해선    65  X
746   490   0650VMX00300  128.665000  38.041111   101  동해선    65  X
747   489   0650VMX00400  128.707500  38.029444   101  동해선    65  X
748   477   0650VMX00600  129.105000  37.520833   101  동해선    65  X
749   476   0650VMX00700  129.113056  37.498056   101  동해선    65  X
750   481   0650VMX00800  128.875278  37.743611   101  동해선    65  X
751   483   0650VMX00900  128.834167  37.868889   101  동해선    65  X
752   492   0650VMX01000  128.587778  38.070278   101  동해선    65  X
753   493   0650VMX01100  128.602222  38.075278   101  동해선    65  X

In [ ]:
df_name15_num = df_name15.reset_index(drop = True)
df_name15_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    478   0650VME00100  129.101111  37.557500   101  동해선    65  E
1    479   0650VME00200  129.072500  37.603333   101  동해선    65  E
2    484   0650VME00400  128.798333  37.889444   101  동해선    65  E
3    488   0650VME00500  128.718056  37.995833   101  동해선    65  E
4    491   0650VME00700  128.635278  38.053056   101  동해선    65  E
5   1122  0650VME0401K2  128.843333  37.738889   101  동해선    65  E
6   1121  0650VMN0081K3  129.106111  37.556111   101  동해선    65  N
7    480   0650VMS00100  129.020278  37.632222   101  동해선    65  S
8    482   0650VMS00200  128.826389  37.798889   101  동해선    65  S
9    487   0650VMS00300  128.758611  37.942222   101  동해선    65  S
10  1123   0650VMS00500  128.661389  38.038889   101  동해선    65  S
11   486   0650VMX00100  128.790000  37.931667   101  동해선    65  X
12   485   0650VMX00200  128.814167  37.911389   101  동해선    65  X
13   490   0650VMX00300  128.665000  38.041111   101  동해선    65  X
14   489   0650VMX00400  128.707500  38.029444   101  동해선    65  X
15   477   0650VMX00600  129.105000  37.520833   101  동해선    65  X
16   476   0650VMX00700  129.113056  37.498056   101  동해선    65  X
17   481   0650VMX00800  128.875278  37.743611   101  동해선    65  X
18   483   0650VMX00900  128.834167  37.868889   101  동해선    65  X
19   492   0650VMX01000  128.587778  38.070278   101  동해선    65  X
20   493   0650VMX01100  128.602222  38.075278   101  동해선    65  X

In [ ]:
df_name15_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name15_num

    도로명
0   동해선
1   동해선
2   동해선
3   동해선
4   동해선
5   동해선
6   동해선
7   동해선
8   동해선
9   동해선
10  동해선
11  동해선
12  동해선
13  동해선
14  동해선
15  동해선
16  동해선
17  동해선
18  동해선
19  동해선
20  동해선

In [ ]:
df_name15_num.iloc[:] = '동해고속도로'
df_name15_num

       도로명
0   동해고속도로
1   동해고속도로
2   동해고속도로
3   동해고속도로
4   동해고속도로
5   동해고속도로
6   동해고속도로
7   동해고속도로
8   동해고속도로
9   동해고속도로
10  동해고속도로
11  동해고속도로
12  동해고속도로
13  동해고속도로
14  동해고속도로
15  동해고속도로
16  동해고속도로
17  동해고속도로
18  동해고속도로
19  동해고속도로
20  동해고속도로

In [ ]:
df_name15_num1 = df_name15.reset_index(drop = True)
df_name15_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    478   0650VME00100  129.101111  37.557500   101  동해선    65  E
1    479   0650VME00200  129.072500  37.603333   101  동해선    65  E
2    484   0650VME00400  128.798333  37.889444   101  동해선    65  E
3    488   0650VME00500  128.718056  37.995833   101  동해선    65  E
4    491   0650VME00700  128.635278  38.053056   101  동해선    65  E
5   1122  0650VME0401K2  128.843333  37.738889   101  동해선    65  E
6   1121  0650VMN0081K3  129.106111  37.556111   101  동해선    65  N
7    480   0650VMS00100  129.020278  37.632222   101  동해선    65  S
8    482   0650VMS00200  128.826389  37.798889   101  동해선    65  S
9    487   0650VMS00300  128.758611  37.942222   101  동해선    65  S
10  1123   0650VMS00500  128.661389  38.038889   101  동해선    65  S
11   486   0650VMX00100  128.790000  37.931667   101  동해선    65  X
12   485   0650VMX00200  128.814167  37.911389   101  동해선    65  X
13   490   0650VMX00300  128.665000  38.041111   101  동해선    65  X
14   489   0650VMX00400  128.707500  38.029444   101  동해선    65  X
15   477   0650VMX00600  129.105000  37.520833   101  동해선    65  X
16   476   0650VMX00700  129.113056  37.498056   101  동해선    65  X
17   481   0650VMX00800  128.875278  37.743611   101  동해선    65  X
18   483   0650VMX00900  128.834167  37.868889   101  동해선    65  X
19   492   0650VMX01000  128.587778  38.070278   101  동해선    65  X
20   493   0650VMX01100  128.602222  38.075278   101  동해선    65  X

In [ ]:
df_name15_num1['도로명'] = df_name15_num['도로명']
df_name15_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0    478   0650VME00100  129.101111  37.557500   101  동해고속도로    65  E
1    479   0650VME00200  129.072500  37.603333   101  동해고속도로    65  E
2    484   0650VME00400  128.798333  37.889444   101  동해고속도로    65  E
3    488   0650VME00500  128.718056  37.995833   101  동해고속도로    65  E
4    491   0650VME00700  128.635278  38.053056   101  동해고속도로    65  E
5   1122  0650VME0401K2  128.843333  37.738889   101  동해고속도로    65  E
6   1121  0650VMN0081K3  129.106111  37.556111   101  동해고속도로    65  N
7    480   0650VMS00100  129.020278  37.632222   101  동해고속도로    65  S
8    482   0650VMS00200  128.826389  37.798889   101  동해고속도로    65  S
9    487   0650VMS00300  128.758611  37.942222   101  동해고속도로    65  S
10  1123   0650VMS00500  128.661389  38.038889   101  동해고속도로    65  S
11   486   0650VMX00100  128.790000  37.931667   101  동해고속도로    65  X
12   485   0650VMX00200  128.814167  37.911389   101  동해고속도로    65  X
13   490   0650VMX00300  128.665000  38.041111   101  동해고속도로    65  X
14   489   0650VMX00400  128.707500  38.029444   101  동해고속도로    65  X
15   477   0650VMX00600  129.105000  37.520833   101  동해고속도로    65  X
16   476   0650VMX00700  129.113056  37.498056   101  동해고속도로    65  X
17   481   0650VMX00800  128.875278  37.743611   101  동해고속도로    65  X
18   483   0650VMX00900  128.834167  37.868889   101  동해고속도로    65  X
19   492   0650VMX01000  128.587778  38.070278   101  동해고속도로    65  X
20   493   0650VMX01100  128.602222  38.075278   101  동해고속도로    65  X

In [ ]:
df_name16 = df[df['도로명'] == '영암순천선']
df_name16

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
206  49  0101VME00200  126.680833  34.698333   101  영암순천선    10  E
207  53  0101VME00500  126.870000  34.692778   101  영암순천선    10  E
208  59  0101VME01100  127.492222  35.045556   101  영암순천선    10  E
209  62  0101VME01400  127.498333  35.031944   101  영암순천선    10  E
210  47  0101VMS00100  126.565278  34.737500   101  영암순천선    10  S
211  52  0101VMS00200  126.754167  34.694722   101  영암순천선    10  S
212  56  0101VMS00500  126.934444  34.723056   101  영암순천선    10  S
213  61  0101VMS01100  127.337500  35.030556   101  영암순천선    10  S
214  44  0101VMX00100  126.488056  34.741944   101  영암순천선    10  X
215  45  0101VMX00200  126.515833  34.734167   101  영암순천선    10  X
216  46  0101VMX00300  126.523611  34.768889   101  영암순천선    10  X
217  48  0101VMX00400  126.595833  34.732778   101  영암순천선    10  X
218  50  0101VMX00500  126.727778  34.669167   101  영암순천선    10  X
219  51  0101VMX00600  126.711667  34.693611   101  영암순천선    10  X
220  54  0101VMX00700  126.902500  34.685000   101  영암순천선    10  X
221  55  0101VMX00800  126.901944  34.708889   101  영암순천선    10  X
222  57  0101VMX00900  127.065278  34.808333   101  영암순천선    10  X
223  58  0101VMX01000  127.134722  34.873333   101  영암순천선    10  X
224  60  0101VMX01200  128.776944  37.738056   101  영암순천선    10  X
225  63  0101VMX01600  127.462917  34.883128   101  영암순천선    10  X

In [ ]:
df_name16_num = df_name16.reset_index(drop = True)
df_name16_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   49  0101VME00200  126.680833  34.698333   101  영암순천선    10  E
1   53  0101VME00500  126.870000  34.692778   101  영암순천선    10  E
2   59  0101VME01100  127.492222  35.045556   101  영암순천선    10  E
3   62  0101VME01400  127.498333  35.031944   101  영암순천선    10  E
4   47  0101VMS00100  126.565278  34.737500   101  영암순천선    10  S
5   52  0101VMS00200  126.754167  34.694722   101  영암순천선    10  S
6   56  0101VMS00500  126.934444  34.723056   101  영암순천선    10  S
7   61  0101VMS01100  127.337500  35.030556   101  영암순천선    10  S
8   44  0101VMX00100  126.488056  34.741944   101  영암순천선    10  X
9   45  0101VMX00200  126.515833  34.734167   101  영암순천선    10  X
10  46  0101VMX00300  126.523611  34.768889   101  영암순천선    10  X
11  48  0101VMX00400  126.595833  34.732778   101  영암순천선    10  X
12  50  0101VMX00500  126.727778  34.669167   101  영암순천선    10  X
13  51  0101VMX00600  126.711667  34.693611   101  영암순천선    10  X
14  54  0101VMX00700  126.902500  34.685000   101  영암순천선    10  X
15  55  0101VMX00800  126.901944  34.708889   101  영암순천선    10  X
16  57  0101VMX00900  127.065278  34.808333   101  영암순천선    10  X
17  58  0101VMX01000  127.134722  34.873333   101  영암순천선    10  X
18  60  0101VMX01200  128.776944  37.738056   101  영암순천선    10  X
19  63  0101VMX01600  127.462917  34.883128   101  영암순천선    10  X

In [ ]:
df_name16_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name16_num

      도로명
0   영암순천선
1   영암순천선
2   영암순천선
3   영암순천선
4   영암순천선
5   영암순천선
6   영암순천선
7   영암순천선
8   영암순천선
9   영암순천선
10  영암순천선
11  영암순천선
12  영암순천선
13  영암순천선
14  영암순천선
15  영암순천선
16  영암순천선
17  영암순천선
18  영암순천선
19  영암순천선

In [ ]:
df_name16_num.iloc[:] = '남해고속도로'
df_name16_num

       도로명
0   남해고속도로
1   남해고속도로
2   남해고속도로
3   남해고속도로
4   남해고속도로
5   남해고속도로
6   남해고속도로
7   남해고속도로
8   남해고속도로
9   남해고속도로
10  남해고속도로
11  남해고속도로
12  남해고속도로
13  남해고속도로
14  남해고속도로
15  남해고속도로
16  남해고속도로
17  남해고속도로
18  남해고속도로
19  남해고속도로

In [ ]:
df_name16_num1 = df_name16.reset_index(drop = True)
df_name16_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   49  0101VME00200  126.680833  34.698333   101  영암순천선    10  E
1   53  0101VME00500  126.870000  34.692778   101  영암순천선    10  E
2   59  0101VME01100  127.492222  35.045556   101  영암순천선    10  E
3   62  0101VME01400  127.498333  35.031944   101  영암순천선    10  E
4   47  0101VMS00100  126.565278  34.737500   101  영암순천선    10  S
5   52  0101VMS00200  126.754167  34.694722   101  영암순천선    10  S
6   56  0101VMS00500  126.934444  34.723056   101  영암순천선    10  S
7   61  0101VMS01100  127.337500  35.030556   101  영암순천선    10  S
8   44  0101VMX00100  126.488056  34.741944   101  영암순천선    10  X
9   45  0101VMX00200  126.515833  34.734167   101  영암순천선    10  X
10  46  0101VMX00300  126.523611  34.768889   101  영암순천선    10  X
11  48  0101VMX00400  126.595833  34.732778   101  영암순천선    10  X
12  50  0101VMX00500  126.727778  34.669167   101  영암순천선    10  X
13  51  0101VMX00600  126.711667  34.693611   101  영암순천선    10  X
14  54  0101VMX00700  126.902500  34.685000   101  영암순천선    10  X
15  55  0101VMX00800  126.901944  34.708889   101  영암순천선    10  X
16  57  0101VMX00900  127.065278  34.808333   101  영암순천선    10  X
17  58  0101VMX01000  127.134722  34.873333   101  영암순천선    10  X
18  60  0101VMX01200  128.776944  37.738056   101  영암순천선    10  X
19  63  0101VMX01600  127.462917  34.883128   101  영암순천선    10  X

In [ ]:
df_name16_num1['도로명'] = df_name16_num['도로명']
df_name16_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   49  0101VME00200  126.680833  34.698333   101  남해고속도로    10  E
1   53  0101VME00500  126.870000  34.692778   101  남해고속도로    10  E
2   59  0101VME01100  127.492222  35.045556   101  남해고속도로    10  E
3   62  0101VME01400  127.498333  35.031944   101  남해고속도로    10  E
4   47  0101VMS00100  126.565278  34.737500   101  남해고속도로    10  S
5   52  0101VMS00200  126.754167  34.694722   101  남해고속도로    10  S
6   56  0101VMS00500  126.934444  34.723056   101  남해고속도로    10  S
7   61  0101VMS01100  127.337500  35.030556   101  남해고속도로    10  S
8   44  0101VMX00100  126.488056  34.741944   101  남해고속도로    10  X
9   45  0101VMX00200  126.515833  34.734167   101  남해고속도로    10  X
10  46  0101VMX00300  126.523611  34.768889   101  남해고속도로    10  X
11  48  0101VMX00400  126.595833  34.732778   101  남해고속도로    10  X
12  50  0101VMX00500  126.727778  34.669167   101  남해고속도로    10  X
13  51  0101VMX00600  126.711667  34.693611   101  남해고속도로    10  X
14  54  0101VMX00700  126.902500  34.685000   101  남해고속도로    10  X
15  55  0101VMX00800  126.901944  34.708889   101  남해고속도로    10  X
16  57  0101VMX00900  127.065278  34.808333   101  남해고속도로    10  X
17  58  0101VMX01000  127.134722  34.873333   101  남해고속도로    10  X
18  60  0101VMX01200  128.776944  37.738056   101  남해고속도로    10  X
19  63  0101VMX01600  127.462917  34.883128   101  남해고속도로    10  X

In [ ]:
df_name17 = df[df['도로명'] == '순천완주선']
df_name17

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
413  574  0270VME00100  127.553611  34.947500   101  순천완주선    27  E
414  575  0270VME00200  127.472139  35.122722   101  순천완주선    27  E
415  577  0270VME00300  127.353897  35.341336   101  순천완주선    27  E
416  578  0270VME00400  127.325497  35.377697   101  순천완주선    27  E
417   21  0270VME00500  127.305806  35.417292   101  순천완주선    27  E
418   23  0270VME00600  127.306439  35.521700   101  순천완주선    27  E
419   25  0270VME00700  127.334528  35.604572   101  순천완주선    27  E
420  547  0270VME01000  127.187706  35.856028   101  순천완주선    27  E
421  579  0270VMS00100  127.319586  35.383742   101  순천완주선    27  S
422   22  0270VMS00200  127.310950  35.431858   101  순천완주선    27  S
423   24  0270VMS00400  127.321608  35.579136   101  순천완주선    27  S
424  544  0270VMS00500  127.304247  35.650089   101  순천완주선    27  S
425  545  0270VMS00600  127.198525  35.799128   101  순천완주선    27  S
426  548  0270VMS00700  127.179706  35.870572   101  순천완주선    27  S
427  573  0270VMX00010  127.548333  34.967778   101  순천완주선    27  X
428  572  0270VMX00020  127.566389  34.941944   101  순천완주선    27  X
429  571  0270VMX00030  127.557778  34.953333   101  순천완주선    27  X
430  576  0270VMX00200  127.701586  35.472361   101  순천완주선    27  X
431  546  0270VMX01200  127.293936  36.405103   101  순천완주선    27  X

In [ ]:
df_name17_num = df_name17.reset_index(drop = True)
df_name17_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   574  0270VME00100  127.553611  34.947500   101  순천완주선    27  E
1   575  0270VME00200  127.472139  35.122722   101  순천완주선    27  E
2   577  0270VME00300  127.353897  35.341336   101  순천완주선    27  E
3   578  0270VME00400  127.325497  35.377697   101  순천완주선    27  E
4    21  0270VME00500  127.305806  35.417292   101  순천완주선    27  E
5    23  0270VME00600  127.306439  35.521700   101  순천완주선    27  E
6    25  0270VME00700  127.334528  35.604572   101  순천완주선    27  E
7   547  0270VME01000  127.187706  35.856028   101  순천완주선    27  E
8   579  0270VMS00100  127.319586  35.383742   101  순천완주선    27  S
9    22  0270VMS00200  127.310950  35.431858   101  순천완주선    27  S
10   24  0270VMS00400  127.321608  35.579136   101  순천완주선    27  S
11  544  0270VMS00500  127.304247  35.650089   101  순천완주선    27  S
12  545  0270VMS00600  127.198525  35.799128   101  순천완주선    27  S
13  548  0270VMS00700  127.179706  35.870572   101  순천완주선    27  S
14  573  0270VMX00010  127.548333  34.967778   101  순천완주선    27  X
15  572  0270VMX00020  127.566389  34.941944   101  순천완주선    27  X
16  571  0270VMX00030  127.557778  34.953333   101  순천완주선    27  X
17  576  0270VMX00200  127.701586  35.472361   101  순천완주선    27  X
18  546  0270VMX01200  127.293936  36.405103   101  순천완주선    27  X

In [ ]:
df_name17_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name17_num

      도로명
0   순천완주선
1   순천완주선
2   순천완주선
3   순천완주선
4   순천완주선
5   순천완주선
6   순천완주선
7   순천완주선
8   순천완주선
9   순천완주선
10  순천완주선
11  순천완주선
12  순천완주선
13  순천완주선
14  순천완주선
15  순천완주선
16  순천완주선
17  순천완주선
18  순천완주선

In [ ]:
df_name17_num.iloc[:] = '순천완주고속도로'
df_name17_num

         도로명
0   순천완주고속도로
1   순천완주고속도로
2   순천완주고속도로
3   순천완주고속도로
4   순천완주고속도로
5   순천완주고속도로
6   순천완주고속도로
7   순천완주고속도로
8   순천완주고속도로
9   순천완주고속도로
10  순천완주고속도로
11  순천완주고속도로
12  순천완주고속도로
13  순천완주고속도로
14  순천완주고속도로
15  순천완주고속도로
16  순천완주고속도로
17  순천완주고속도로
18  순천완주고속도로

In [ ]:
df_name17_num1 = df_name17.reset_index(drop = True)
df_name17_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   574  0270VME00100  127.553611  34.947500   101  순천완주선    27  E
1   575  0270VME00200  127.472139  35.122722   101  순천완주선    27  E
2   577  0270VME00300  127.353897  35.341336   101  순천완주선    27  E
3   578  0270VME00400  127.325497  35.377697   101  순천완주선    27  E
4    21  0270VME00500  127.305806  35.417292   101  순천완주선    27  E
5    23  0270VME00600  127.306439  35.521700   101  순천완주선    27  E
6    25  0270VME00700  127.334528  35.604572   101  순천완주선    27  E
7   547  0270VME01000  127.187706  35.856028   101  순천완주선    27  E
8   579  0270VMS00100  127.319586  35.383742   101  순천완주선    27  S
9    22  0270VMS00200  127.310950  35.431858   101  순천완주선    27  S
10   24  0270VMS00400  127.321608  35.579136   101  순천완주선    27  S
11  544  0270VMS00500  127.304247  35.650089   101  순천완주선    27  S
12  545  0270VMS00600  127.198525  35.799128   101  순천완주선    27  S
13  548  0270VMS00700  127.179706  35.870572   101  순천완주선    27  S
14  573  0270VMX00010  127.548333  34.967778   101  순천완주선    27  X
15  572  0270VMX00020  127.566389  34.941944   101  순천완주선    27  X
16  571  0270VMX00030  127.557778  34.953333   101  순천완주선    27  X
17  576  0270VMX00200  127.701586  35.472361   101  순천완주선    27  X
18  546  0270VMX01200  127.293936  36.405103   101  순천완주선    27  X

In [ ]:
df_name17_num1['도로명'] = df_name17_num['도로명']
df_name17_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   574  0270VME00100  127.553611  34.947500   101  순천완주고속도로    27  E
1   575  0270VME00200  127.472139  35.122722   101  순천완주고속도로    27  E
2   577  0270VME00300  127.353897  35.341336   101  순천완주고속도로    27  E
3   578  0270VME00400  127.325497  35.377697   101  순천완주고속도로    27  E
4    21  0270VME00500  127.305806  35.417292   101  순천완주고속도로    27  E
5    23  0270VME00600  127.306439  35.521700   101  순천완주고속도로    27  E
6    25  0270VME00700  127.334528  35.604572   101  순천완주고속도로    27  E
7   547  0270VME01000  127.187706  35.856028   101  순천완주고속도로    27  E
8   579  0270VMS00100  127.319586  35.383742   101  순천완주고속도로    27  S
9    22  0270VMS00200  127.310950  35.431858   101  순천완주고속도로    27  S
10   24  0270VMS00400  127.321608  35.579136   101  순천완주고속도로    27  S
11  544  0270VMS00500  127.304247  35.650089   101  순천완주고속도로    27  S
12  545  0270VMS00600  127.198525  35.799128   101  순천완주고속도로    27  S
13  548  0270VMS00700  127.179706  35.870572   101  순천완주고속도로    27  S
14  573  0270VMX00010  127.548333  34.967778   101  순천완주고속도로    27  X
15  572  0270VMX00020  127.566389  34.941944   101  순천완주고속도로    27  X
16  571  0270VMX00030  127.557778  34.953333   101  순천완주고속도로    27  X
17  576  0270VMX00200  127.701586  35.472361   101  순천완주고속도로    27  X
18  546  0270VMX01200  127.293936  36.405103   101  순천완주고속도로    27  X

In [ ]:
df_name18 = df[df['도로명'] == '서천공주선']
df_name18

        순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
1056   504  1510VME00100  126.776667  36.213056   101  서천공주선   151  E
1057   507  1510VME00200  126.823611  36.278333   101  서천공주선   151  E
1058   511  1510VME00300  126.923889  36.360833   101  서천공주선   151  E
1059   515  1510VME00400  127.035278  36.445833   101  서천공주선   151  E
1060   517  1510VME00500  127.062222  36.459444   101  서천공주선   151  E
1061  1382  1510VMS00600  126.775000  36.093889   101  서천공주선   151  S
1062   506  1510VMS00700  126.806667  36.267222   101  서천공주선   151  S
1063   510  1510VMS00800  126.877500  36.322222   101  서천공주선   151  S
1064   514  1510VMS00900  126.984444  36.392500   101  서천공주선   151  S
1065   518  1510VMS01000  127.063889  36.478889   101  서천공주선   151  S
1066  1380  1510VMX01100  126.787222  36.045833   101  서천공주선   151  X
1067  1381  1510VMX01200  126.783056  36.039167   101  서천공주선   151  X
1068   505  1510VMX01300  126.813056  36.243889   101  서천공주선   151  X
1069   509  1510VMX01400  126.846944  36.265833   101  서천공주선   151  X
1070   508  1510VMX01500  126.872500  36.273889   101  서천공주선   151  X
1071   512  1510VMX01600  126.936944  36.386944   101  서천공주선   151  X
1072   513  1510VMX01700  126.935833  36.374167   101  서천공주선   151  X
1073   516  1510VMX01800  127.051111  36.467222   101  서천공주선   151  X

In [ ]:
df_name18_num = df_name18.reset_index(drop = True)
df_name18_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    504  1510VME00100  126.776667  36.213056   101  서천공주선   151  E
1    507  1510VME00200  126.823611  36.278333   101  서천공주선   151  E
2    511  1510VME00300  126.923889  36.360833   101  서천공주선   151  E
3    515  1510VME00400  127.035278  36.445833   101  서천공주선   151  E
4    517  1510VME00500  127.062222  36.459444   101  서천공주선   151  E
5   1382  1510VMS00600  126.775000  36.093889   101  서천공주선   151  S
6    506  1510VMS00700  126.806667  36.267222   101  서천공주선   151  S
7    510  1510VMS00800  126.877500  36.322222   101  서천공주선   151  S
8    514  1510VMS00900  126.984444  36.392500   101  서천공주선   151  S
9    518  1510VMS01000  127.063889  36.478889   101  서천공주선   151  S
10  1380  1510VMX01100  126.787222  36.045833   101  서천공주선   151  X
11  1381  1510VMX01200  126.783056  36.039167   101  서천공주선   151  X
12   505  1510VMX01300  126.813056  36.243889   101  서천공주선   151  X
13   509  1510VMX01400  126.846944  36.265833   101  서천공주선   151  X
14   508  1510VMX01500  126.872500  36.273889   101  서천공주선   151  X
15   512  1510VMX01600  126.936944  36.386944   101  서천공주선   151  X
16   513  1510VMX01700  126.935833  36.374167   101  서천공주선   151  X
17   516  1510VMX01800  127.051111  36.467222   101  서천공주선   151  X

In [ ]:
df_name18_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name18_num

      도로명
0   서천공주선
1   서천공주선
2   서천공주선
3   서천공주선
4   서천공주선
5   서천공주선
6   서천공주선
7   서천공주선
8   서천공주선
9   서천공주선
10  서천공주선
11  서천공주선
12  서천공주선
13  서천공주선
14  서천공주선
15  서천공주선
16  서천공주선
17  서천공주선

In [ ]:
df_name18_num.iloc[:] = '서천공주고속도로'
df_name18_num

         도로명
0   서천공주고속도로
1   서천공주고속도로
2   서천공주고속도로
3   서천공주고속도로
4   서천공주고속도로
5   서천공주고속도로
6   서천공주고속도로
7   서천공주고속도로
8   서천공주고속도로
9   서천공주고속도로
10  서천공주고속도로
11  서천공주고속도로
12  서천공주고속도로
13  서천공주고속도로
14  서천공주고속도로
15  서천공주고속도로
16  서천공주고속도로
17  서천공주고속도로

In [ ]:
df_name18_num1 = df_name18.reset_index(drop = True)
df_name18_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    504  1510VME00100  126.776667  36.213056   101  서천공주선   151  E
1    507  1510VME00200  126.823611  36.278333   101  서천공주선   151  E
2    511  1510VME00300  126.923889  36.360833   101  서천공주선   151  E
3    515  1510VME00400  127.035278  36.445833   101  서천공주선   151  E
4    517  1510VME00500  127.062222  36.459444   101  서천공주선   151  E
5   1382  1510VMS00600  126.775000  36.093889   101  서천공주선   151  S
6    506  1510VMS00700  126.806667  36.267222   101  서천공주선   151  S
7    510  1510VMS00800  126.877500  36.322222   101  서천공주선   151  S
8    514  1510VMS00900  126.984444  36.392500   101  서천공주선   151  S
9    518  1510VMS01000  127.063889  36.478889   101  서천공주선   151  S
10  1380  1510VMX01100  126.787222  36.045833   101  서천공주선   151  X
11  1381  1510VMX01200  126.783056  36.039167   101  서천공주선   151  X
12   505  1510VMX01300  126.813056  36.243889   101  서천공주선   151  X
13   509  1510VMX01400  126.846944  36.265833   101  서천공주선   151  X
14   508  1510VMX01500  126.872500  36.273889   101  서천공주선   151  X
15   512  1510VMX01600  126.936944  36.386944   101  서천공주선   151  X
16   513  1510VMX01700  126.935833  36.374167   101  서천공주선   151  X
17   516  1510VMX01800  127.051111  36.467222   101  서천공주선   151  X

In [ ]:
df_name18_num1['도로명'] = df_name18_num['도로명']
df_name18_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0    504  1510VME00100  126.776667  36.213056   101  서천공주고속도로   151  E
1    507  1510VME00200  126.823611  36.278333   101  서천공주고속도로   151  E
2    511  1510VME00300  126.923889  36.360833   101  서천공주고속도로   151  E
3    515  1510VME00400  127.035278  36.445833   101  서천공주고속도로   151  E
4    517  1510VME00500  127.062222  36.459444   101  서천공주고속도로   151  E
5   1382  1510VMS00600  126.775000  36.093889   101  서천공주고속도로   151  S
6    506  1510VMS00700  126.806667  36.267222   101  서천공주고속도로   151  S
7    510  1510VMS00800  126.877500  36.322222   101  서천공주고속도로   151  S
8    514  1510VMS00900  126.984444  36.392500   101  서천공주고속도로   151  S
9    518  1510VMS01000  127.063889  36.478889   101  서천공주고속도로   151  S
10  1380  1510VMX01100  126.787222  36.045833   101  서천공주고속도로   151  X
11  1381  1510VMX01200  126.783056  36.039167   101  서천공주고속도로   151  X
12   505  1510VMX01300  126.813056  36.243889   101  서천공주고속도로   151  X
13   509  1510VMX01400  126.846944  36.265833   101  서천공주고속도로   151  X
14   508  1510VMX01500  126.872500  36.273889   101  서천공주고속도로   151  X
15   512  1510VMX01600  126.936944  36.386944   101  서천공주고속도로   151  X
16   513  1510VMX01700  126.935833  36.374167   101  서천공주고속도로   151  X
17   516  1510VMX01800  127.051111  36.467222   101  서천공주고속도로   151  X

In [ ]:
df_name19 = df[df['도로명'] == '호남선의지선']
df_name19

        순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
1127  1341  2510VME00100  127.117675  36.106967   101  호남선의지선   251  E
1128  1346  2510VME00200  127.270336  36.211764   101  호남선의지선   251  E
1129  1349  2510VME00300  127.294600  36.272153   101  호남선의지선   251  E
1130  1237  2510VME00400  127.325000  36.372500   101  호남선의지선   251  E
1131  1240  2510VME00500  127.354444  36.394444   101  호남선의지선   251  E
1132  1343  2510VMS00100  127.154825  36.146786   101  호남선의지선   251  S
1133  1344  2510VMS00150  127.218353  36.161658   101  호남선의지선   251  S
1134  1345  2510VMS00170  127.243275  36.174728   101  호남선의지선   251  S
1135  1350  2510VMS00200  127.300239  36.275333   101  호남선의지선   251  S
1136  1236  2510VMS00400  127.307500  36.309722   101  호남선의지선   251  S
1137  1241  2510VMS00500  127.358889  36.400278   101  호남선의지선   251  S
1138  1342  2510VMX00100  127.125411  36.127531   101  호남선의지선   251  X
1139  1347  2510VMX00200  127.276247  36.253167   101  호남선의지선   251  X
1140  1348  2510VMX00300  127.276247  36.253167   101  호남선의지선   251  X
1141  1239  2510VMX00400  127.327222  36.361667   101  호남선의지선   251  X
1142  1238  2510VMX00500  127.332500  36.366111   101  호남선의지선   251  X
1143  1242  2510VMX00600  127.378056  36.412222   101  호남선의지선   251  X

In [ ]:
df_name19_num = df_name19.reset_index(drop = True)
df_name19_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   1341  2510VME00100  127.117675  36.106967   101  호남선의지선   251  E
1   1346  2510VME00200  127.270336  36.211764   101  호남선의지선   251  E
2   1349  2510VME00300  127.294600  36.272153   101  호남선의지선   251  E
3   1237  2510VME00400  127.325000  36.372500   101  호남선의지선   251  E
4   1240  2510VME00500  127.354444  36.394444   101  호남선의지선   251  E
5   1343  2510VMS00100  127.154825  36.146786   101  호남선의지선   251  S
6   1344  2510VMS00150  127.218353  36.161658   101  호남선의지선   251  S
7   1345  2510VMS00170  127.243275  36.174728   101  호남선의지선   251  S
8   1350  2510VMS00200  127.300239  36.275333   101  호남선의지선   251  S
9   1236  2510VMS00400  127.307500  36.309722   101  호남선의지선   251  S
10  1241  2510VMS00500  127.358889  36.400278   101  호남선의지선   251  S
11  1342  2510VMX00100  127.125411  36.127531   101  호남선의지선   251  X
12  1347  2510VMX00200  127.276247  36.253167   101  호남선의지선   251  X
13  1348  2510VMX00300  127.276247  36.253167   101  호남선의지선   251  X
14  1239  2510VMX00400  127.327222  36.361667   101  호남선의지선   251  X
15  1238  2510VMX00500  127.332500  36.366111   101  호남선의지선   251  X
16  1242  2510VMX00600  127.378056  36.412222   101  호남선의지선   251  X

In [ ]:
df_name19_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name19_num

       도로명
0   호남선의지선
1   호남선의지선
2   호남선의지선
3   호남선의지선
4   호남선의지선
5   호남선의지선
6   호남선의지선
7   호남선의지선
8   호남선의지선
9   호남선의지선
10  호남선의지선
11  호남선의지선
12  호남선의지선
13  호남선의지선
14  호남선의지선
15  호남선의지선
16  호남선의지선

In [ ]:
df_name19_num.iloc[:] = '호남고속도로지선'
df_name19_num

         도로명
0   호남고속도로지선
1   호남고속도로지선
2   호남고속도로지선
3   호남고속도로지선
4   호남고속도로지선
5   호남고속도로지선
6   호남고속도로지선
7   호남고속도로지선
8   호남고속도로지선
9   호남고속도로지선
10  호남고속도로지선
11  호남고속도로지선
12  호남고속도로지선
13  호남고속도로지선
14  호남고속도로지선
15  호남고속도로지선
16  호남고속도로지선

In [ ]:
df_name19_num1 = df_name19.reset_index(drop = True)
df_name19_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   1341  2510VME00100  127.117675  36.106967   101  호남선의지선   251  E
1   1346  2510VME00200  127.270336  36.211764   101  호남선의지선   251  E
2   1349  2510VME00300  127.294600  36.272153   101  호남선의지선   251  E
3   1237  2510VME00400  127.325000  36.372500   101  호남선의지선   251  E
4   1240  2510VME00500  127.354444  36.394444   101  호남선의지선   251  E
5   1343  2510VMS00100  127.154825  36.146786   101  호남선의지선   251  S
6   1344  2510VMS00150  127.218353  36.161658   101  호남선의지선   251  S
7   1345  2510VMS00170  127.243275  36.174728   101  호남선의지선   251  S
8   1350  2510VMS00200  127.300239  36.275333   101  호남선의지선   251  S
9   1236  2510VMS00400  127.307500  36.309722   101  호남선의지선   251  S
10  1241  2510VMS00500  127.358889  36.400278   101  호남선의지선   251  S
11  1342  2510VMX00100  127.125411  36.127531   101  호남선의지선   251  X
12  1347  2510VMX00200  127.276247  36.253167   101  호남선의지선   251  X
13  1348  2510VMX00300  127.276247  36.253167   101  호남선의지선   251  X
14  1239  2510VMX00400  127.327222  36.361667   101  호남선의지선   251  X
15  1238  2510VMX00500  127.332500  36.366111   101  호남선의지선   251  X
16  1242  2510VMX00600  127.378056  36.412222   101  호남선의지선   251  X

In [ ]:
df_name19_num1['도로명'] = df_name19_num['도로명']
df_name19_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1341  2510VME00100  127.117675  36.106967   101  호남고속도로지선   251  E
1   1346  2510VME00200  127.270336  36.211764   101  호남고속도로지선   251  E
2   1349  2510VME00300  127.294600  36.272153   101  호남고속도로지선   251  E
3   1237  2510VME00400  127.325000  36.372500   101  호남고속도로지선   251  E
4   1240  2510VME00500  127.354444  36.394444   101  호남고속도로지선   251  E
5   1343  2510VMS00100  127.154825  36.146786   101  호남고속도로지선   251  S
6   1344  2510VMS00150  127.218353  36.161658   101  호남고속도로지선   251  S
7   1345  2510VMS00170  127.243275  36.174728   101  호남고속도로지선   251  S
8   1350  2510VMS00200  127.300239  36.275333   101  호남고속도로지선   251  S
9   1236  2510VMS00400  127.307500  36.309722   101  호남고속도로지선   251  S
10  1241  2510VMS00500  127.358889  36.400278   101  호남고속도로지선   251  S
11  1342  2510VMX00100  127.125411  36.127531   101  호남고속도로지선   251  X
12  1347  2510VMX00200  127.276247  36.253167   101  호남고속도로지선   251  X
13  1348  2510VMX00300  127.276247  36.253167   101  호남고속도로지선   251  X
14  1239  2510VMX00400  127.327222  36.361667   101  호남고속도로지선   251  X
15  1238  2510VMX00500  127.332500  36.366111   101  호남고속도로지선   251  X
16  1242  2510VMX00600  127.378056  36.412222   101  호남고속도로지선   251  X

In [ ]:
df_name20 = df[df['도로명'] == '서울양양선']
df_name20

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
717    19  0600VME00001  127.171944  37.576389   101  서울양양선    60  E
718  1133  0600VME00002  127.241944  37.597222   101  서울양양선    60  E
719  1136  0600VME00004  127.323889  37.631944   101  서울양양선    60  E
720  1139  0600VME00008  127.592778  37.726111   101  서울양양선    60  E
721  1141  0600VME00009  127.694444  37.745000   101  서울양양선    60  E
722  1134  0600VMS00001  127.241944  37.597222   101  서울양양선    60  S
723  1137  0600VMS00003  127.328333  37.633889   101  서울양양선    60  S
724  1138  0600VMS00004  127.403611  37.637778   101  서울양양선    60  S
725  1140  0600VMS00008  127.656944  37.740556   101  서울양양선    60  S
726  1142  0600VMS00100  127.810556  37.756944   101  서울양양선    60  S
727  1143  0600VMS00200  127.917222  37.748333   101  서울양양선    60  S
728    20  0600VMX00001  127.194167  37.576667   101  서울양양선    60  X
729  1132  0600VMX00002  127.207500  37.595000   101  서울양양선    60  X
730  1131  0600VMX00003  127.212500  37.596667   101  서울양양선    60  X
731  1135  0600VMX00004  127.301667  37.649722   101  서울양양선    60  X
732  1144  0600VMX00100  127.970278  37.776944   101  서울양양선    60  X

In [ ]:
df_name20_num = df_name20.reset_index(drop = True)
df_name20_num

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0     19  0600VME00001  127.171944  37.576389   101  서울양양선    60  E
1   1133  0600VME00002  127.241944  37.597222   101  서울양양선    60  E
2   1136  0600VME00004  127.323889  37.631944   101  서울양양선    60  E
3   1139  0600VME00008  127.592778  37.726111   101  서울양양선    60  E
4   1141  0600VME00009  127.694444  37.745000   101  서울양양선    60  E
5   1134  0600VMS00001  127.241944  37.597222   101  서울양양선    60  S
6   1137  0600VMS00003  127.328333  37.633889   101  서울양양선    60  S
7   1138  0600VMS00004  127.403611  37.637778   101  서울양양선    60  S
8   1140  0600VMS00008  127.656944  37.740556   101  서울양양선    60  S
9   1142  0600VMS00100  127.810556  37.756944   101  서울양양선    60  S
10  1143  0600VMS00200  127.917222  37.748333   101  서울양양선    60  S
11    20  0600VMX00001  127.194167  37.576667   101  서울양양선    60  X
12  1132  0600VMX00002  127.207500  37.595000   101  서울양양선    60  X
13  1131  0600VMX00003  127.212500  37.596667   101  서울양양선    60  X
14  1135  0600VMX00004  127.301667  37.649722   101  서울양양선    60  X
15  1144  0600VMX00100  127.970278  37.776944   101  서울양양선    60  X

In [ ]:
df_name20_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name20_num

      도로명
0   서울양양선
1   서울양양선
2   서울양양선
3   서울양양선
4   서울양양선
5   서울양양선
6   서울양양선
7   서울양양선
8   서울양양선
9   서울양양선
10  서울양양선
11  서울양양선
12  서울양양선
13  서울양양선
14  서울양양선
15  서울양양선

In [ ]:
df_name20_num.iloc[:] = '서울양양고속도로'
df_name20_num

         도로명
0   서울양양고속도로
1   서울양양고속도로
2   서울양양고속도로
3   서울양양고속도로
4   서울양양고속도로
5   서울양양고속도로
6   서울양양고속도로
7   서울양양고속도로
8   서울양양고속도로
9   서울양양고속도로
10  서울양양고속도로
11  서울양양고속도로
12  서울양양고속도로
13  서울양양고속도로
14  서울양양고속도로
15  서울양양고속도로

In [ ]:
df_name20_num1 = df_name20.reset_index(drop = True)
df_name20_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0     19  0600VME00001  127.171944  37.576389   101  서울양양선    60  E
1   1133  0600VME00002  127.241944  37.597222   101  서울양양선    60  E
2   1136  0600VME00004  127.323889  37.631944   101  서울양양선    60  E
3   1139  0600VME00008  127.592778  37.726111   101  서울양양선    60  E
4   1141  0600VME00009  127.694444  37.745000   101  서울양양선    60  E
5   1134  0600VMS00001  127.241944  37.597222   101  서울양양선    60  S
6   1137  0600VMS00003  127.328333  37.633889   101  서울양양선    60  S
7   1138  0600VMS00004  127.403611  37.637778   101  서울양양선    60  S
8   1140  0600VMS00008  127.656944  37.740556   101  서울양양선    60  S
9   1142  0600VMS00100  127.810556  37.756944   101  서울양양선    60  S
10  1143  0600VMS00200  127.917222  37.748333   101  서울양양선    60  S
11    20  0600VMX00001  127.194167  37.576667   101  서울양양선    60  X
12  1132  0600VMX00002  127.207500  37.595000   101  서울양양선    60  X
13  1131  0600VMX00003  127.212500  37.596667   101  서울양양선    60  X
14  1135  0600VMX00004  127.301667  37.649722   101  서울양양선    60  X
15  1144  0600VMX00100  127.970278  37.776944   101  서울양양선    60  X

In [ ]:
df_name20_num1['도로명'] = df_name20_num['도로명']
df_name20_num1

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0     19  0600VME00001  127.171944  37.576389   101  서울양양고속도로    60  E
1   1133  0600VME00002  127.241944  37.597222   101  서울양양고속도로    60  E
2   1136  0600VME00004  127.323889  37.631944   101  서울양양고속도로    60  E
3   1139  0600VME00008  127.592778  37.726111   101  서울양양고속도로    60  E
4   1141  0600VME00009  127.694444  37.745000   101  서울양양고속도로    60  E
5   1134  0600VMS00001  127.241944  37.597222   101  서울양양고속도로    60  S
6   1137  0600VMS00003  127.328333  37.633889   101  서울양양고속도로    60  S
7   1138  0600VMS00004  127.403611  37.637778   101  서울양양고속도로    60  S
8   1140  0600VMS00008  127.656944  37.740556   101  서울양양고속도로    60  S
9   1142  0600VMS00100  127.810556  37.756944   101  서울양양고속도로    60  S
10  1143  0600VMS00200  127.917222  37.748333   101  서울양양고속도로    60  S
11    20  0600VMX00001  127.194167  37.576667   101  서울양양고속도로    60  X
12  1132  0600VMX00002  127.207500  37.595000   101  서울양양고속도로    60  X
13  1131  0600VMX00003  127.212500  37.596667   101  서울양양고속도로    60  X
14  1135  0600VMX00004  127.301667  37.649722   101  서울양양고속도로    60  X
15  1144  0600VMX00100  127.970278  37.776944   101  서울양양고속도로    60  X

In [ ]:
df_name21 = df[df['도로명'] == '88올림픽선']
df_name21

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
235  552  0120VME00100  127.076667  35.348056   101  88올림픽선    12  E
236   26  0120VME00250  127.276172  35.391481   101  88올림픽선    12  E
237   28  0120VME00400  127.480278  35.481667   101  88올림픽선    12  E
238  204  0120VME00500  127.929167  35.659722   101  88올림픽선    12  E
239  206  0120VME00700  128.342778  35.745278   101  88올림픽선    12  E
240  209  0120VME00800  128.440833  35.772222   101  88올림픽선    12  E
241  551  0120VMS00100  126.997222  35.305000   101  88올림픽선    12  S
242   27  0120VMS00300  127.416111  35.438056   101  88올림픽선    12  S
243   29  0120VMS00400  127.656111  35.533333   101  88올림픽선    12  S
244  203  0120VMS00500  127.784444  35.538333   101  88올림픽선    12  S
245  205  0120VMS00600  128.180278  35.704722   101  88올림픽선    12  S
246  208  0120VMS00700  128.408611  35.764444   101  88올림픽선    12  S
247  549  0120VMX00100  126.976111  35.293333   101  88올림픽선    12  X
248  550  0120VMX00200  126.980833  35.307500   101  88올림픽선    12  X
249  207  0120VMX00300  128.397222  35.754722   101  88올림픽선    12  X

In [ ]:
df_name21_num = df_name21.reset_index(drop = True)
df_name21_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   552  0120VME00100  127.076667  35.348056   101  88올림픽선    12  E
1    26  0120VME00250  127.276172  35.391481   101  88올림픽선    12  E
2    28  0120VME00400  127.480278  35.481667   101  88올림픽선    12  E
3   204  0120VME00500  127.929167  35.659722   101  88올림픽선    12  E
4   206  0120VME00700  128.342778  35.745278   101  88올림픽선    12  E
5   209  0120VME00800  128.440833  35.772222   101  88올림픽선    12  E
6   551  0120VMS00100  126.997222  35.305000   101  88올림픽선    12  S
7    27  0120VMS00300  127.416111  35.438056   101  88올림픽선    12  S
8    29  0120VMS00400  127.656111  35.533333   101  88올림픽선    12  S
9   203  0120VMS00500  127.784444  35.538333   101  88올림픽선    12  S
10  205  0120VMS00600  128.180278  35.704722   101  88올림픽선    12  S
11  208  0120VMS00700  128.408611  35.764444   101  88올림픽선    12  S
12  549  0120VMX00100  126.976111  35.293333   101  88올림픽선    12  X
13  550  0120VMX00200  126.980833  35.307500   101  88올림픽선    12  X
14  207  0120VMX00300  128.397222  35.754722   101  88올림픽선    12  X

In [ ]:
df_name21_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name21_num

       도로명
0   88올림픽선
1   88올림픽선
2   88올림픽선
3   88올림픽선
4   88올림픽선
5   88올림픽선
6   88올림픽선
7   88올림픽선
8   88올림픽선
9   88올림픽선
10  88올림픽선
11  88올림픽선
12  88올림픽선
13  88올림픽선
14  88올림픽선

In [ ]:
df_name21_num.iloc[:] = '광주대구고속도로'
df_name21_num

         도로명
0   광주대구고속도로
1   광주대구고속도로
2   광주대구고속도로
3   광주대구고속도로
4   광주대구고속도로
5   광주대구고속도로
6   광주대구고속도로
7   광주대구고속도로
8   광주대구고속도로
9   광주대구고속도로
10  광주대구고속도로
11  광주대구고속도로
12  광주대구고속도로
13  광주대구고속도로
14  광주대구고속도로

In [ ]:
df_name21_num1 = df_name21.reset_index(drop = True)
df_name21_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   552  0120VME00100  127.076667  35.348056   101  88올림픽선    12  E
1    26  0120VME00250  127.276172  35.391481   101  88올림픽선    12  E
2    28  0120VME00400  127.480278  35.481667   101  88올림픽선    12  E
3   204  0120VME00500  127.929167  35.659722   101  88올림픽선    12  E
4   206  0120VME00700  128.342778  35.745278   101  88올림픽선    12  E
5   209  0120VME00800  128.440833  35.772222   101  88올림픽선    12  E
6   551  0120VMS00100  126.997222  35.305000   101  88올림픽선    12  S
7    27  0120VMS00300  127.416111  35.438056   101  88올림픽선    12  S
8    29  0120VMS00400  127.656111  35.533333   101  88올림픽선    12  S
9   203  0120VMS00500  127.784444  35.538333   101  88올림픽선    12  S
10  205  0120VMS00600  128.180278  35.704722   101  88올림픽선    12  S
11  208  0120VMS00700  128.408611  35.764444   101  88올림픽선    12  S
12  549  0120VMX00100  126.976111  35.293333   101  88올림픽선    12  X
13  550  0120VMX00200  126.980833  35.307500   101  88올림픽선    12  X
14  207  0120VMX00300  128.397222  35.754722   101  88올림픽선    12  X

In [ ]:
df_name21_num1['도로명'] = df_name21_num['도로명']
df_name21_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   552  0120VME00100  127.076667  35.348056   101  광주대구고속도로    12  E
1    26  0120VME00250  127.276172  35.391481   101  광주대구고속도로    12  E
2    28  0120VME00400  127.480278  35.481667   101  광주대구고속도로    12  E
3   204  0120VME00500  127.929167  35.659722   101  광주대구고속도로    12  E
4   206  0120VME00700  128.342778  35.745278   101  광주대구고속도로    12  E
5   209  0120VME00800  128.440833  35.772222   101  광주대구고속도로    12  E
6   551  0120VMS00100  126.997222  35.305000   101  광주대구고속도로    12  S
7    27  0120VMS00300  127.416111  35.438056   101  광주대구고속도로    12  S
8    29  0120VMS00400  127.656111  35.533333   101  광주대구고속도로    12  S
9   203  0120VMS00500  127.784444  35.538333   101  광주대구고속도로    12  S
10  205  0120VMS00600  128.180278  35.704722   101  광주대구고속도로    12  S
11  208  0120VMS00700  128.408611  35.764444   101  광주대구고속도로    12  S
12  549  0120VMX00100  126.976111  35.293333   101  광주대구고속도로    12  X
13  550  0120VMX00200  126.980833  35.307500   101  광주대구고속도로    12  X
14  207  0120VMX00300  128.397222  35.754722   101  광주대구고속도로    12  X

In [ ]:
df_name22 = df[df['도로명'] == '고창담양선']
df_name22

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
271   30   0140VME00100  126.661389  35.408333   101  고창담양선   253  E
272   36   0140VME00300  126.775000  35.348333   101  고창담양선   253  E
273   38   0140VME00400  126.861111  35.268333   101  고창담양선   253  E
274   40   0140VME00500  126.929167  35.248333   101  고창담양선   253  E
275  584  0140VME0052K2  126.695000  35.386111   101  고창담양선   253  E
276   33   0140VMS00100  126.697500  35.383611   101  고창담양선   253  S
277   37   0140VMS00200  126.796944  35.336667   101  고창담양선   253  S
278   39   0140VMS00300  126.923056  35.249722   101  고창담양선   253  S
279   41   0140VMS00400  127.008056  35.251944   101  고창담양선   253  S
280   31   0140VMX00100  126.676111  35.407222   101  고창담양선   253  X
281   32   0140VMX00200  126.680556  35.407222   101  고창담양선   253  X
282   34   0140VMX00300  126.753889  35.321667   101  고창담양선   253  X
283   35   0140VMX00400  126.763333  35.320000   101  고창담양선   253  X

In [ ]:
df_name22_num = df_name22.reset_index(drop = True)
df_name22_num

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    30   0140VME00100  126.661389  35.408333   101  고창담양선   253  E
1    36   0140VME00300  126.775000  35.348333   101  고창담양선   253  E
2    38   0140VME00400  126.861111  35.268333   101  고창담양선   253  E
3    40   0140VME00500  126.929167  35.248333   101  고창담양선   253  E
4   584  0140VME0052K2  126.695000  35.386111   101  고창담양선   253  E
5    33   0140VMS00100  126.697500  35.383611   101  고창담양선   253  S
6    37   0140VMS00200  126.796944  35.336667   101  고창담양선   253  S
7    39   0140VMS00300  126.923056  35.249722   101  고창담양선   253  S
8    41   0140VMS00400  127.008056  35.251944   101  고창담양선   253  S
9    31   0140VMX00100  126.676111  35.407222   101  고창담양선   253  X
10   32   0140VMX00200  126.680556  35.407222   101  고창담양선   253  X
11   34   0140VMX00300  126.753889  35.321667   101  고창담양선   253  X
12   35   0140VMX00400  126.763333  35.320000   101  고창담양선   253  X

In [ ]:
df_name22_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name22_num

      도로명
0   고창담양선
1   고창담양선
2   고창담양선
3   고창담양선
4   고창담양선
5   고창담양선
6   고창담양선
7   고창담양선
8   고창담양선
9   고창담양선
10  고창담양선
11  고창담양선
12  고창담양선

In [ ]:
df_name22_num.iloc[:] = '고창담양고속도로'
df_name22_num

         도로명
0   고창담양고속도로
1   고창담양고속도로
2   고창담양고속도로
3   고창담양고속도로
4   고창담양고속도로
5   고창담양고속도로
6   고창담양고속도로
7   고창담양고속도로
8   고창담양고속도로
9   고창담양고속도로
10  고창담양고속도로
11  고창담양고속도로
12  고창담양고속도로

In [ ]:
df_name22_num1 = df_name22.reset_index(drop = True)
df_name22_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0    30   0140VME00100  126.661389  35.408333   101  고창담양선   253  E
1    36   0140VME00300  126.775000  35.348333   101  고창담양선   253  E
2    38   0140VME00400  126.861111  35.268333   101  고창담양선   253  E
3    40   0140VME00500  126.929167  35.248333   101  고창담양선   253  E
4   584  0140VME0052K2  126.695000  35.386111   101  고창담양선   253  E
5    33   0140VMS00100  126.697500  35.383611   101  고창담양선   253  S
6    37   0140VMS00200  126.796944  35.336667   101  고창담양선   253  S
7    39   0140VMS00300  126.923056  35.249722   101  고창담양선   253  S
8    41   0140VMS00400  127.008056  35.251944   101  고창담양선   253  S
9    31   0140VMX00100  126.676111  35.407222   101  고창담양선   253  X
10   32   0140VMX00200  126.680556  35.407222   101  고창담양선   253  X
11   34   0140VMX00300  126.753889  35.321667   101  고창담양선   253  X
12   35   0140VMX00400  126.763333  35.320000   101  고창담양선   253  X

In [ ]:
df_name22_num1['도로명'] = df_name22_num['도로명']
df_name22_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0    30   0140VME00100  126.661389  35.408333   101  고창담양고속도로   253  E
1    36   0140VME00300  126.775000  35.348333   101  고창담양고속도로   253  E
2    38   0140VME00400  126.861111  35.268333   101  고창담양고속도로   253  E
3    40   0140VME00500  126.929167  35.248333   101  고창담양고속도로   253  E
4   584  0140VME0052K2  126.695000  35.386111   101  고창담양고속도로   253  E
5    33   0140VMS00100  126.697500  35.383611   101  고창담양고속도로   253  S
6    37   0140VMS00200  126.796944  35.336667   101  고창담양고속도로   253  S
7    39   0140VMS00300  126.923056  35.249722   101  고창담양고속도로   253  S
8    41   0140VMS00400  127.008056  35.251944   101  고창담양고속도로   253  S
9    31   0140VMX00100  126.676111  35.407222   101  고창담양고속도로   253  X
10   32   0140VMX00200  126.680556  35.407222   101  고창담양고속도로   253  X
11   34   0140VMX00300  126.753889  35.321667   101  고창담양고속도로   253  X
12   35   0140VMX00400  126.763333  35.320000   101  고창담양고속도로   253  X

In [ ]:
df_name23 = df[df['도로명'] == '평택화성선']
df_name23

       순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
226  1111  010411VME11002  126.985278  37.018056   101  평택화성선    17  E
227  1112  010411VME11301  126.991667  37.066111   101  평택화성선    17  E
228  1113  010411VME11502  126.995556  37.105556   101  평택화성선    17  E
230  1114  010411VME12302  126.975278  37.180833   101  평택화성선    17  E
232  1115  010411VMS12201  126.966111  37.208889   101  평택화성선    17  S
337   389    0170VME00200  126.979167  37.006389   101  평택화성선    17  E
338   392    0170VME00500  126.998056  37.154722   101  평택화성선    17  E
340   388    0170VMS00200  127.007500  37.015278   101  평택화성선    17  S
341   390    0170VMS00400  126.991667  37.066111   101  평택화성선    17  S
342   391    0170VMS00600  126.996389  37.120556   101  평택화성선    17  S
343   393    0170VMS00700  126.998056  37.161111   101  평택화성선    17  S
344   394    0170VMS00800  126.966111  37.208889   101  평택화성선    17  S

In [ ]:
df_name23_num = df_name23.reset_index(drop = True)
df_name23_num

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1111  010411VME11002  126.985278  37.018056   101  평택화성선    17  E
1   1112  010411VME11301  126.991667  37.066111   101  평택화성선    17  E
2   1113  010411VME11502  126.995556  37.105556   101  평택화성선    17  E
3   1114  010411VME12302  126.975278  37.180833   101  평택화성선    17  E
4   1115  010411VMS12201  126.966111  37.208889   101  평택화성선    17  S
5    389    0170VME00200  126.979167  37.006389   101  평택화성선    17  E
6    392    0170VME00500  126.998056  37.154722   101  평택화성선    17  E
7    388    0170VMS00200  127.007500  37.015278   101  평택화성선    17  S
8    390    0170VMS00400  126.991667  37.066111   101  평택화성선    17  S
9    391    0170VMS00600  126.996389  37.120556   101  평택화성선    17  S
10   393    0170VMS00700  126.998056  37.161111   101  평택화성선    17  S
11   394    0170VMS00800  126.966111  37.208889   101  평택화성선    17  S

In [ ]:
df_name23_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name23_num

      도로명
0   평택화성선
1   평택화성선
2   평택화성선
3   평택화성선
4   평택화성선
5   평택화성선
6   평택화성선
7   평택화성선
8   평택화성선
9   평택화성선
10  평택화성선
11  평택화성선

In [ ]:
df_name23_num.iloc[:] = '평택화성고속도로'
df_name23_num

         도로명
0   평택화성고속도로
1   평택화성고속도로
2   평택화성고속도로
3   평택화성고속도로
4   평택화성고속도로
5   평택화성고속도로
6   평택화성고속도로
7   평택화성고속도로
8   평택화성고속도로
9   평택화성고속도로
10  평택화성고속도로
11  평택화성고속도로

In [ ]:
df_name23_num1 = df_name23.reset_index(drop = True)
df_name23_num1

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   1111  010411VME11002  126.985278  37.018056   101  평택화성선    17  E
1   1112  010411VME11301  126.991667  37.066111   101  평택화성선    17  E
2   1113  010411VME11502  126.995556  37.105556   101  평택화성선    17  E
3   1114  010411VME12302  126.975278  37.180833   101  평택화성선    17  E
4   1115  010411VMS12201  126.966111  37.208889   101  평택화성선    17  S
5    389    0170VME00200  126.979167  37.006389   101  평택화성선    17  E
6    392    0170VME00500  126.998056  37.154722   101  평택화성선    17  E
7    388    0170VMS00200  127.007500  37.015278   101  평택화성선    17  S
8    390    0170VMS00400  126.991667  37.066111   101  평택화성선    17  S
9    391    0170VMS00600  126.996389  37.120556   101  평택화성선    17  S
10   393    0170VMS00700  126.998056  37.161111   101  평택화성선    17  S
11   394    0170VMS00800  126.966111  37.208889   101  평택화성선    17  S

In [ ]:
df_name23_num1['도로명'] = df_name23_num['도로명']
df_name23_num1

      순번          VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1111  010411VME11002  126.985278  37.018056   101  평택화성고속도로    17  E
1   1112  010411VME11301  126.991667  37.066111   101  평택화성고속도로    17  E
2   1113  010411VME11502  126.995556  37.105556   101  평택화성고속도로    17  E
3   1114  010411VME12302  126.975278  37.180833   101  평택화성고속도로    17  E
4   1115  010411VMS12201  126.966111  37.208889   101  평택화성고속도로    17  S
5    389    0170VME00200  126.979167  37.006389   101  평택화성고속도로    17  E
6    392    0170VME00500  126.998056  37.154722   101  평택화성고속도로    17  E
7    388    0170VMS00200  127.007500  37.015278   101  평택화성고속도로    17  S
8    390    0170VMS00400  126.991667  37.066111   101  평택화성고속도로    17  S
9    391    0170VMS00600  126.996389  37.120556   101  평택화성고속도로    17  S
10   393    0170VMS00700  126.998056  37.161111   101  평택화성고속도로    17  S
11   394    0170VMS00800  126.966111  37.208889   101  평택화성고속도로    17  S

In [ ]:
df_name24 = df[df['도로명'] == '중부내륙지선']
df_name24

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
1434  240  4510VME00200  128.508056  35.817222   101  중부내륙지선   451  E
1435  246  4510VME00300  128.531944  35.870556   101  중부내륙지선   451  E
1436  241  4510VMS00300  128.507778  35.816944   101  중부내륙지선   451  S
1437  197  4510VMX00100  128.474444  35.726667   101  중부내륙지선   451  X
1438  239  4510VMX00150  128.484167  35.795278   101  중부내륙지선   451  X
1439  242  4510VMX00200  128.524444  35.833611   101  중부내륙지선   451  X
1440  243  4510VMX00300  128.527880  35.839187   101  중부내륙지선   451  X
1441  245  4510VMX00400  128.521700  35.851667   101  중부내륙지선   451  X
1442  244  4510VMX00500  128.524490  35.860278   101  중부내륙지선   451  X
1443  247  4510VMX00600  128.525863  35.886389   101  중부내륙지선   451  X

In [ ]:
df_name24_num = df_name24.reset_index(drop = True)
df_name24_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  240  4510VME00200  128.508056  35.817222   101  중부내륙지선   451  E
1  246  4510VME00300  128.531944  35.870556   101  중부내륙지선   451  E
2  241  4510VMS00300  128.507778  35.816944   101  중부내륙지선   451  S
3  197  4510VMX00100  128.474444  35.726667   101  중부내륙지선   451  X
4  239  4510VMX00150  128.484167  35.795278   101  중부내륙지선   451  X
5  242  4510VMX00200  128.524444  35.833611   101  중부내륙지선   451  X
6  243  4510VMX00300  128.527880  35.839187   101  중부내륙지선   451  X
7  245  4510VMX00400  128.521700  35.851667   101  중부내륙지선   451  X
8  244  4510VMX00500  128.524490  35.860278   101  중부내륙지선   451  X
9  247  4510VMX00600  128.525863  35.886389   101  중부내륙지선   451  X

In [ ]:
df_name24_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name24_num

      도로명
0  중부내륙지선
1  중부내륙지선
2  중부내륙지선
3  중부내륙지선
4  중부내륙지선
5  중부내륙지선
6  중부내륙지선
7  중부내륙지선
8  중부내륙지선
9  중부내륙지선

In [ ]:
df_name24_num.iloc[:] = '중부내륙고속도로지선'
df_name24_num

          도로명
0  중부내륙고속도로지선
1  중부내륙고속도로지선
2  중부내륙고속도로지선
3  중부내륙고속도로지선
4  중부내륙고속도로지선
5  중부내륙고속도로지선
6  중부내륙고속도로지선
7  중부내륙고속도로지선
8  중부내륙고속도로지선
9  중부내륙고속도로지선

In [ ]:
df_name24_num1 = df_name24.reset_index(drop = True)
df_name24_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  240  4510VME00200  128.508056  35.817222   101  중부내륙지선   451  E
1  246  4510VME00300  128.531944  35.870556   101  중부내륙지선   451  E
2  241  4510VMS00300  128.507778  35.816944   101  중부내륙지선   451  S
3  197  4510VMX00100  128.474444  35.726667   101  중부내륙지선   451  X
4  239  4510VMX00150  128.484167  35.795278   101  중부내륙지선   451  X
5  242  4510VMX00200  128.524444  35.833611   101  중부내륙지선   451  X
6  243  4510VMX00300  128.527880  35.839187   101  중부내륙지선   451  X
7  245  4510VMX00400  128.521700  35.851667   101  중부내륙지선   451  X
8  244  4510VMX00500  128.524490  35.860278   101  중부내륙지선   451  X
9  247  4510VMX00600  128.525863  35.886389   101  중부내륙지선   451  X

In [ ]:
df_name24_num1['도로명'] = df_name24_num['도로명']
df_name24_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급         도로명  노선번호 방향
0  240  4510VME00200  128.508056  35.817222   101  중부내륙고속도로지선   451  E
1  246  4510VME00300  128.531944  35.870556   101  중부내륙고속도로지선   451  E
2  241  4510VMS00300  128.507778  35.816944   101  중부내륙고속도로지선   451  S
3  197  4510VMX00100  128.474444  35.726667   101  중부내륙고속도로지선   451  X
4  239  4510VMX00150  128.484167  35.795278   101  중부내륙고속도로지선   451  X
5  242  4510VMX00200  128.524444  35.833611   101  중부내륙고속도로지선   451  X
6  243  4510VMX00300  128.527880  35.839187   101  중부내륙고속도로지선   451  X
7  245  4510VMX00400  128.521700  35.851667   101  중부내륙고속도로지선   451  X
8  244  4510VMX00500  128.524490  35.860278   101  중부내륙고속도로지선   451  X
9  247  4510VMX00600  128.525863  35.886389   101  중부내륙고속도로지선   451  X

In [ ]:
df_name25 = df[df['도로명'] == '제2경인선']
df_name25

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
822  410  1100VME00100  126.694444  37.430278   101  제2경인선   110  E
823  412  1100VME00200  126.773889  37.428333   101  제2경인선   110  E
824  411  1100VMS00100  126.760000  37.429444   101  제2경인선   110  S
825  414  1100VMS00300  126.869722  37.392222   101  제2경인선   110  S
826  409  1100VMX00100  126.745556  37.440833   101  제2경인선   110  X
827  413  1100VMX00150  126.776111  37.436111   101  제2경인선   110  X
828   17  1100VMX00250  126.768611  37.419722   101  제2경인선   110  X

In [ ]:
df_name25_num = df_name25.reset_index(drop = True)
df_name25_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  410  1100VME00100  126.694444  37.430278   101  제2경인선   110  E
1  412  1100VME00200  126.773889  37.428333   101  제2경인선   110  E
2  411  1100VMS00100  126.760000  37.429444   101  제2경인선   110  S
3  414  1100VMS00300  126.869722  37.392222   101  제2경인선   110  S
4  409  1100VMX00100  126.745556  37.440833   101  제2경인선   110  X
5  413  1100VMX00150  126.776111  37.436111   101  제2경인선   110  X
6   17  1100VMX00250  126.768611  37.419722   101  제2경인선   110  X

In [ ]:
df_name25_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name25_num

     도로명
0  제2경인선
1  제2경인선
2  제2경인선
3  제2경인선
4  제2경인선
5  제2경인선
6  제2경인선

In [ ]:
df_name25_num.iloc[:] = '제2경인고속도로'
df_name25_num

        도로명
0  제2경인고속도로
1  제2경인고속도로
2  제2경인고속도로
3  제2경인고속도로
4  제2경인고속도로
5  제2경인고속도로
6  제2경인고속도로

In [ ]:
df_name25_num1 = df_name25.reset_index(drop = True)
df_name25_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  410  1100VME00100  126.694444  37.430278   101  제2경인선   110  E
1  412  1100VME00200  126.773889  37.428333   101  제2경인선   110  E
2  411  1100VMS00100  126.760000  37.429444   101  제2경인선   110  S
3  414  1100VMS00300  126.869722  37.392222   101  제2경인선   110  S
4  409  1100VMX00100  126.745556  37.440833   101  제2경인선   110  X
5  413  1100VMX00150  126.776111  37.436111   101  제2경인선   110  X
6   17  1100VMX00250  126.768611  37.419722   101  제2경인선   110  X

In [ ]:
df_name25_num1['도로명'] = df_name25_num['도로명']
df_name25_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0  410  1100VME00100  126.694444  37.430278   101  제2경인고속도로   110  E
1  412  1100VME00200  126.773889  37.428333   101  제2경인고속도로   110  E
2  411  1100VMS00100  126.760000  37.429444   101  제2경인고속도로   110  S
3  414  1100VMS00300  126.869722  37.392222   101  제2경인고속도로   110  S
4  409  1100VMX00100  126.745556  37.440833   101  제2경인고속도로   110  X
5  413  1100VMX00150  126.776111  37.436111   101  제2경인고속도로   110  X
6   17  1100VMX00250  126.768611  37.419722   101  제2경인고속도로   110  X

In [ ]:
df_name26 = df[df['도로명'] == '경인선']
df_name26

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
879  455  1200VME00100  126.641389  37.454167   101  경인선   120  E
880  456  1200VME00300  126.738611  37.523333   101  경인선   120  E
881  457  1200VMS00100  126.738611  37.523333   101  경인선   120  S
882  460  1200VMS00200  126.821389  37.520278   101  경인선   120  S
883  458  1200VMX00100  126.775278  37.520833   101  경인선   120  X
884  459  1200VMX00200  126.777500  37.525278   101  경인선   120  X

In [ ]:
df_name26_num = df_name26.reset_index(drop = True)
df_name26_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  455  1200VME00100  126.641389  37.454167   101  경인선   120  E
1  456  1200VME00300  126.738611  37.523333   101  경인선   120  E
2  457  1200VMS00100  126.738611  37.523333   101  경인선   120  S
3  460  1200VMS00200  126.821389  37.520278   101  경인선   120  S
4  458  1200VMX00100  126.775278  37.520833   101  경인선   120  X
5  459  1200VMX00200  126.777500  37.525278   101  경인선   120  X

In [ ]:
df_name26_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name26_num

   도로명
0  경인선
1  경인선
2  경인선
3  경인선
4  경인선
5  경인선

In [ ]:
df_name26_num.iloc[:] = '경인고속도로'
df_name26_num

      도로명
0  경인고속도로
1  경인고속도로
2  경인고속도로
3  경인고속도로
4  경인고속도로
5  경인고속도로

In [ ]:
df_name26_num1 = df_name26.reset_index(drop = True)
df_name26_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  455  1200VME00100  126.641389  37.454167   101  경인선   120  E
1  456  1200VME00300  126.738611  37.523333   101  경인선   120  E
2  457  1200VMS00100  126.738611  37.523333   101  경인선   120  S
3  460  1200VMS00200  126.821389  37.520278   101  경인선   120  S
4  458  1200VMX00100  126.775278  37.520833   101  경인선   120  X
5  459  1200VMX00200  126.777500  37.525278   101  경인선   120  X

In [ ]:
df_name26_num1['도로명'] = df_name26_num['도로명']
df_name26_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  455  1200VME00100  126.641389  37.454167   101  경인고속도로   120  E
1  456  1200VME00300  126.738611  37.523333   101  경인고속도로   120  E
2  457  1200VMS00100  126.738611  37.523333   101  경인고속도로   120  S
3  460  1200VMS00200  126.821389  37.520278   101  경인고속도로   120  S
4  458  1200VMX00100  126.775278  37.520833   101  경인고속도로   120  X
5  459  1200VMX00200  126.777500  37.525278   101  경인고속도로   120  X

In [ ]:
df_name27 = df[df['도로명'] == '남해제1지선']
df_name27

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
812  1084  1020VME00100  128.536667  35.241111   101  남해제1지선   102  E
813  1085  1020VMS00100  128.546111  35.238333   101  남해제1지선   102  S
814  1086  1020VMX00020  128.575833  35.226111   101  남해제1지선   102  X
815  1088  1020VMX00050  128.587222  35.238333   101  남해제1지선   102  X
816  1087  1020VMX00070  128.602222  35.248611   101  남해제1지선   102  X

In [ ]:
df_name27_num = df_name27.reset_index(drop = True)
df_name27_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  1084  1020VME00100  128.536667  35.241111   101  남해제1지선   102  E
1  1085  1020VMS00100  128.546111  35.238333   101  남해제1지선   102  S
2  1086  1020VMX00020  128.575833  35.226111   101  남해제1지선   102  X
3  1088  1020VMX00050  128.587222  35.238333   101  남해제1지선   102  X
4  1087  1020VMX00070  128.602222  35.248611   101  남해제1지선   102  X

In [ ]:
df_name27_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name27_num

      도로명
0  남해제1지선
1  남해제1지선
2  남해제1지선
3  남해제1지선
4  남해제1지선

In [ ]:
df_name27_num.iloc[:] = '남해고속도로제1지선'
df_name27_num

          도로명
0  남해고속도로제1지선
1  남해고속도로제1지선
2  남해고속도로제1지선
3  남해고속도로제1지선
4  남해고속도로제1지선

In [ ]:
df_name27_num1 = df_name27.reset_index(drop = True)
df_name27_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  1084  1020VME00100  128.536667  35.241111   101  남해제1지선   102  E
1  1085  1020VMS00100  128.546111  35.238333   101  남해제1지선   102  S
2  1086  1020VMX00020  128.575833  35.226111   101  남해제1지선   102  X
3  1088  1020VMX00050  128.587222  35.238333   101  남해제1지선   102  X
4  1087  1020VMX00070  128.602222  35.248611   101  남해제1지선   102  X

In [ ]:
df_name27_num1['도로명'] = df_name27_num['도로명']
df_name27_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급         도로명  노선번호 방향
0  1084  1020VME00100  128.536667  35.241111   101  남해고속도로제1지선   102  E
1  1085  1020VMS00100  128.546111  35.238333   101  남해고속도로제1지선   102  S
2  1086  1020VMX00020  128.575833  35.226111   101  남해고속도로제1지선   102  X
3  1088  1020VMX00050  128.587222  35.238333   101  남해고속도로제1지선   102  X
4  1087  1020VMX00070  128.602222  35.248611   101  남해고속도로제1지선   102  X

In [ ]:
df_name28 = df[df['도로명'] == '남해제2지선']
df_name28

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
817  1090  1040VME00100  128.879722  35.166667   101  남해제2지선   104  E
818  1089  1040VMX00100  128.793889  35.185833   101  남해제2지선   104  X
819  1091  1040VMX00200  128.887778  35.154722   101  남해제2지선   104  X
820  1092  1040VMX00300  128.955278  35.146944   101  남해제2지선   104  X
821  1093  1040VMX00400  128.991389  35.145000   101  남해제2지선   104  X

In [ ]:
df_name28_num = df_name28.reset_index(drop = True)
df_name28_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  1090  1040VME00100  128.879722  35.166667   101  남해제2지선   104  E
1  1089  1040VMX00100  128.793889  35.185833   101  남해제2지선   104  X
2  1091  1040VMX00200  128.887778  35.154722   101  남해제2지선   104  X
3  1092  1040VMX00300  128.955278  35.146944   101  남해제2지선   104  X
4  1093  1040VMX00400  128.991389  35.145000   101  남해제2지선   104  X

In [ ]:
df_name28_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name28_num

      도로명
0  남해제2지선
1  남해제2지선
2  남해제2지선
3  남해제2지선
4  남해제2지선

In [ ]:
df_name28_num.iloc[:] = '남해고속도로제2지선'
df_name28_num

          도로명
0  남해고속도로제2지선
1  남해고속도로제2지선
2  남해고속도로제2지선
3  남해고속도로제2지선
4  남해고속도로제2지선

In [ ]:
df_name28_num1 = df_name28.reset_index(drop = True)
df_name28_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  1090  1040VME00100  128.879722  35.166667   101  남해제2지선   104  E
1  1089  1040VMX00100  128.793889  35.185833   101  남해제2지선   104  X
2  1091  1040VMX00200  128.887778  35.154722   101  남해제2지선   104  X
3  1092  1040VMX00300  128.955278  35.146944   101  남해제2지선   104  X
4  1093  1040VMX00400  128.991389  35.145000   101  남해제2지선   104  X

In [ ]:
df_name28_num1['도로명'] = df_name28_num['도로명']
df_name28_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급         도로명  노선번호 방향
0  1090  1040VME00100  128.879722  35.166667   101  남해고속도로제2지선   104  E
1  1089  1040VMX00100  128.793889  35.185833   101  남해고속도로제2지선   104  X
2  1091  1040VMX00200  128.887778  35.154722   101  남해고속도로제2지선   104  X
3  1092  1040VMX00300  128.955278  35.146944   101  남해고속도로제2지선   104  X
4  1093  1040VMX00400  128.991389  35.145000   101  남해고속도로제2지선   104  X

In [ ]:
df_name29 = df[df['도로명'] == '봉담동탄선']
df_name29

        순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
233   1120  010411VMS12403  127.024444  37.172778   101  봉담동탄선   400  S
234   1118  010411VMS12703  127.088611  37.178333   101  봉담동탄선   400  S
345   1119  020001VMS21004  127.053889  37.180000   101  봉담동탄선   400  S
1317   397    4000VME00100  127.063056  37.183611   101  봉담동탄선   400  E
1318   398    4000VME00200  127.029722  37.174444   101  봉담동탄선   400  E

In [ ]:
df_name29_num = df_name29.reset_index(drop = True)
df_name29_num

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  1120  010411VMS12403  127.024444  37.172778   101  봉담동탄선   400  S
1  1118  010411VMS12703  127.088611  37.178333   101  봉담동탄선   400  S
2  1119  020001VMS21004  127.053889  37.180000   101  봉담동탄선   400  S
3   397    4000VME00100  127.063056  37.183611   101  봉담동탄선   400  E
4   398    4000VME00200  127.029722  37.174444   101  봉담동탄선   400  E

In [ ]:
df_name29_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name29_num

     도로명
0  봉담동탄선
1  봉담동탄선
2  봉담동탄선
3  봉담동탄선
4  봉담동탄선

In [ ]:
df_name29_num.iloc[:] = '수도권제2순환고속도로'
df_name29_num

           도로명
0  수도권제2순환고속도로
1  수도권제2순환고속도로
2  수도권제2순환고속도로
3  수도권제2순환고속도로
4  수도권제2순환고속도로

In [ ]:
df_name29_num1 = df_name29.reset_index(drop = True)
df_name29_num1

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  1120  010411VMS12403  127.024444  37.172778   101  봉담동탄선   400  S
1  1118  010411VMS12703  127.088611  37.178333   101  봉담동탄선   400  S
2  1119  020001VMS21004  127.053889  37.180000   101  봉담동탄선   400  S
3   397    4000VME00100  127.063056  37.183611   101  봉담동탄선   400  E
4   398    4000VME00200  127.029722  37.174444   101  봉담동탄선   400  E

In [ ]:
df_name29_num1['도로명'] = df_name29_num['도로명']
df_name29_num1

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급          도로명  노선번호 방향
0  1120  010411VMS12403  127.024444  37.172778   101  수도권제2순환고속도로   400  S
1  1118  010411VMS12703  127.088611  37.178333   101  수도권제2순환고속도로   400  S
2  1119  020001VMS21004  127.053889  37.180000   101  수도권제2순환고속도로   400  S
3   397    4000VME00100  127.063056  37.183611   101  수도권제2순환고속도로   400  E
4   398    4000VME00200  127.029722  37.174444   101  수도권제2순환고속도로   400  E

In [ ]:
df_name30 = df[df['도로명'] == '울산선']
df_name30

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
334  141  0160VMS00200  129.143889  35.598056   101  울산선    16  S
335  143  0160VMX00100  129.265556  35.547222   101  울산선    16  X
336  142  0160VMX00200  129.296944  35.517500   101  울산선    16  X

In [ ]:
df_name30_num = df_name30.reset_index(drop = True)
df_name30_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  141  0160VMS00200  129.143889  35.598056   101  울산선    16  S
1  143  0160VMX00100  129.265556  35.547222   101  울산선    16  X
2  142  0160VMX00200  129.296944  35.517500   101  울산선    16  X

In [ ]:
df_name30_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name30_num

   도로명
0  울산선
1  울산선
2  울산선

In [ ]:
df_name30_num.iloc[:] = '울산고속도로'
df_name30_num

      도로명
0  울산고속도로
1  울산고속도로
2  울산고속도로

In [ ]:
df_name30_num1 = df_name30.reset_index(drop = True)
df_name30_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  141  0160VMS00200  129.143889  35.598056   101  울산선    16  S
1  143  0160VMX00100  129.265556  35.547222   101  울산선    16  X
2  142  0160VMX00200  129.296944  35.517500   101  울산선    16  X

In [ ]:
df_name30_num1['도로명'] = df_name30_num['도로명']
df_name30_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  141  0160VMS00200  129.143889  35.598056   101  울산고속도로    16  S
1  143  0160VMX00100  129.265556  35.547222   101  울산고속도로    16  X
2  142  0160VMX00200  129.296944  35.517500   101  울산고속도로    16  X

In [ ]:
df_name31 = df[df['도로명'] == '중앙선지선']
df_name31

       순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
1487  138  5510VMS00100  129.014722  35.316944   101  중앙선지선   551  S
1488  137  5510VMX00100  129.017500  35.275000   101  중앙선지선   551  X
1489  139  5510VMX00200  129.029722  35.318889   101  중앙선지선   551  X

In [ ]:
df_name31_num = df_name31.reset_index(drop = True)
df_name31_num

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  138  5510VMS00100  129.014722  35.316944   101  중앙선지선   551  S
1  137  5510VMX00100  129.017500  35.275000   101  중앙선지선   551  X
2  139  5510VMX00200  129.029722  35.318889   101  중앙선지선   551  X

In [ ]:
df_name31_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name31_num

     도로명
0  중앙선지선
1  중앙선지선
2  중앙선지선

In [ ]:
df_name31_num.iloc[:] = '중앙고속도로지선'
df_name31_num

        도로명
0  중앙고속도로지선
1  중앙고속도로지선
2  중앙고속도로지선

In [ ]:
df_name31_num1 = df_name31.reset_index(drop = True)
df_name31_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  138  5510VMS00100  129.014722  35.316944   101  중앙선지선   551  S
1  137  5510VMX00100  129.017500  35.275000   101  중앙선지선   551  X
2  139  5510VMX00200  129.029722  35.318889   101  중앙선지선   551  X

In [ ]:
df_name31_num1['도로명'] = df_name31_num['도로명']
df_name31_num1

    순번        VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0  138  5510VMS00100  129.014722  35.316944   101  중앙고속도로지선   551  S
1  137  5510VMX00100  129.017500  35.275000   101  중앙고속도로지선   551  X
2  139  5510VMX00200  129.029722  35.318889   101  중앙고속도로지선   551  X

In [ ]:
df_name32 = df[df['도로명'] == '오산화성선']
df_name32

        순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
229   1117  010411VME11901  127.010278  37.188611   101  오산화성선   171  E
1319   396    4000VMS00200  127.010278  37.188611   101  오산화성선   171  S

In [ ]:
df_name32_num = df_name32.reset_index(drop = True)
df_name32_num

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  1117  010411VME11901  127.010278  37.188611   101  오산화성선   171  E
1   396    4000VMS00200  127.010278  37.188611   101  오산화성선   171  S

In [ ]:
df_name32_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name32_num

     도로명
0  오산화성선
1  오산화성선

In [ ]:
df_name32_num.iloc[:] = '오산화성고속도로'
df_name32_num

        도로명
0  오산화성고속도로
1  오산화성고속도로

In [ ]:
df_name32_num1 = df_name32.reset_index(drop = True)
df_name32_num1

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0  1117  010411VME11901  127.010278  37.188611   101  오산화성선   171  E
1   396    4000VMS00200  127.010278  37.188611   101  오산화성선   171  S

In [ ]:
df_name32_num1['도로명'] = df_name32_num['도로명']
df_name32_num1

     순번          VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0  1117  010411VME11901  127.010278  37.188611   101  오산화성고속도로   171  E
1   396    4000VMS00200  127.010278  37.188611   101  오산화성고속도로   171  S

In [ ]:
df_name33 = df[df['도로명'] == '부산울산선']
df_name33

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
754  144  0651VME00100  129.205278  35.212222   101  부산울산선   651  E
755  148  0651VME00200  129.208056  35.257500   101  부산울산선   651  E
756  150  0651VME00300  129.227778  35.299444   101  부산울산선   651  E
757  154  0651VME00400  129.251944  35.365000   101  부산울산선   651  E
758  157  0651VME00500  129.282222  35.451667   101  부산울산선   651  E
759  159  0651VME00600  129.269167  35.495000   101  부산울산선   651  E
760  147  0651VMS00100  129.205278  35.235833   101  부산울산선   651  S
761  151  0651VMS00200  129.229167  35.311389   101  부산울산선   651  S
762  153  0651VMS00300  129.251944  35.364167   101  부산울산선   651  S
763  156  0651VMS00400  129.274444  35.428333   101  부산울산선   651  S
764  160  0651VMS00500  129.263056  35.498611   101  부산울산선   651  S
765  145  0651VMX00100  129.165000  35.175556   101  부산울산선   651  X
766  146  0651VMX00200  129.205556  35.195833   101  부산울산선   651  X
767  149  0651VMX00300  129.228889  35.268056   101  부산울산선   651  X
768  152  0651VMX00400  129.238333  35.311389   101  부산울산선   651  X
769  155  0651VMX00500  129.281944  35.424444   101  부산울산선   651  X
770  158  0651VMX00600  129.295278  35.495000   101  부산울산선   651  X
771  162  0651VMX00700  129.231389  35.503056   101  부산울산선   651  X
772  161  0651VMX00800  129.243611  35.523056   101  부산울산선   651  X

In [ ]:
df_name33_num = df_name33.reset_index(drop = True)
df_name33_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   144  0651VME00100  129.205278  35.212222   101  부산울산선   651  E
1   148  0651VME00200  129.208056  35.257500   101  부산울산선   651  E
2   150  0651VME00300  129.227778  35.299444   101  부산울산선   651  E
3   154  0651VME00400  129.251944  35.365000   101  부산울산선   651  E
4   157  0651VME00500  129.282222  35.451667   101  부산울산선   651  E
5   159  0651VME00600  129.269167  35.495000   101  부산울산선   651  E
6   147  0651VMS00100  129.205278  35.235833   101  부산울산선   651  S
7   151  0651VMS00200  129.229167  35.311389   101  부산울산선   651  S
8   153  0651VMS00300  129.251944  35.364167   101  부산울산선   651  S
9   156  0651VMS00400  129.274444  35.428333   101  부산울산선   651  S
10  160  0651VMS00500  129.263056  35.498611   101  부산울산선   651  S
11  145  0651VMX00100  129.165000  35.175556   101  부산울산선   651  X
12  146  0651VMX00200  129.205556  35.195833   101  부산울산선   651  X
13  149  0651VMX00300  129.228889  35.268056   101  부산울산선   651  X
14  152  0651VMX00400  129.238333  35.311389   101  부산울산선   651  X
15  155  0651VMX00500  129.281944  35.424444   101  부산울산선   651  X
16  158  0651VMX00600  129.295278  35.495000   101  부산울산선   651  X
17  162  0651VMX00700  129.231389  35.503056   101  부산울산선   651  X
18  161  0651VMX00800  129.243611  35.523056   101  부산울산선   651  X

In [ ]:
df_name33_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name33_num

      도로명
0   부산울산선
1   부산울산선
2   부산울산선
3   부산울산선
4   부산울산선
5   부산울산선
6   부산울산선
7   부산울산선
8   부산울산선
9   부산울산선
10  부산울산선
11  부산울산선
12  부산울산선
13  부산울산선
14  부산울산선
15  부산울산선
16  부산울산선
17  부산울산선
18  부산울산선

In [ ]:
df_name33_num.iloc[:] = '동해고속도로'
df_name33_num

       도로명
0   동해고속도로
1   동해고속도로
2   동해고속도로
3   동해고속도로
4   동해고속도로
5   동해고속도로
6   동해고속도로
7   동해고속도로
8   동해고속도로
9   동해고속도로
10  동해고속도로
11  동해고속도로
12  동해고속도로
13  동해고속도로
14  동해고속도로
15  동해고속도로
16  동해고속도로
17  동해고속도로
18  동해고속도로

In [ ]:
df_name33_num2 = df_name33.reset_index(drop = True)
df_name33_num2

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   144  0651VME00100  129.205278  35.212222   101  부산울산선   651  E
1   148  0651VME00200  129.208056  35.257500   101  부산울산선   651  E
2   150  0651VME00300  129.227778  35.299444   101  부산울산선   651  E
3   154  0651VME00400  129.251944  35.365000   101  부산울산선   651  E
4   157  0651VME00500  129.282222  35.451667   101  부산울산선   651  E
5   159  0651VME00600  129.269167  35.495000   101  부산울산선   651  E
6   147  0651VMS00100  129.205278  35.235833   101  부산울산선   651  S
7   151  0651VMS00200  129.229167  35.311389   101  부산울산선   651  S
8   153  0651VMS00300  129.251944  35.364167   101  부산울산선   651  S
9   156  0651VMS00400  129.274444  35.428333   101  부산울산선   651  S
10  160  0651VMS00500  129.263056  35.498611   101  부산울산선   651  S
11  145  0651VMX00100  129.165000  35.175556   101  부산울산선   651  X
12  146  0651VMX00200  129.205556  35.195833   101  부산울산선   651  X
13  149  0651VMX00300  129.228889  35.268056   101  부산울산선   651  X
14  152  0651VMX00400  129.238333  35.311389   101  부산울산선   651  X
15  155  0651VMX00500  129.281944  35.424444   101  부산울산선   651  X
16  158  0651VMX00600  129.295278  35.495000   101  부산울산선   651  X
17  162  0651VMX00700  129.231389  35.503056   101  부산울산선   651  X
18  161  0651VMX00800  129.243611  35.523056   101  부산울산선   651  X

In [ ]:
df_name33_num2.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '도로명', '방향'], axis = 1, inplace = True)
df_name33_num2

    노선번호
0    651
1    651
2    651
3    651
4    651
5    651
6    651
7    651
8    651
9    651
10   651
11   651
12   651
13   651
14   651
15   651
16   651
17   651
18   651

In [ ]:
df_name33_num2.iloc[:] = '65'
df_name33_num2

   노선번호
0    65
1    65
2    65
3    65
4    65
5    65
6    65
7    65
8    65
9    65
10   65
11   65
12   65
13   65
14   65
15   65
16   65
17   65
18   65

In [ ]:
df_name33_num1 = df_name33.reset_index(drop = True)
df_name33_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급    도로명  노선번호 방향
0   144  0651VME00100  129.205278  35.212222   101  부산울산선   651  E
1   148  0651VME00200  129.208056  35.257500   101  부산울산선   651  E
2   150  0651VME00300  129.227778  35.299444   101  부산울산선   651  E
3   154  0651VME00400  129.251944  35.365000   101  부산울산선   651  E
4   157  0651VME00500  129.282222  35.451667   101  부산울산선   651  E
5   159  0651VME00600  129.269167  35.495000   101  부산울산선   651  E
6   147  0651VMS00100  129.205278  35.235833   101  부산울산선   651  S
7   151  0651VMS00200  129.229167  35.311389   101  부산울산선   651  S
8   153  0651VMS00300  129.251944  35.364167   101  부산울산선   651  S
9   156  0651VMS00400  129.274444  35.428333   101  부산울산선   651  S
10  160  0651VMS00500  129.263056  35.498611   101  부산울산선   651  S
11  145  0651VMX00100  129.165000  35.175556   101  부산울산선   651  X
12  146  0651VMX00200  129.205556  35.195833   101  부산울산선   651  X
13  149  0651VMX00300  129.228889  35.268056   101  부산울산선   651  X
14  152  0651VMX00400  129.238333  35.311389   101  부산울산선   651  X
15  155  0651VMX00500  129.281944  35.424444   101  부산울산선   651  X
16  158  0651VMX00600  129.295278  35.495000   101  부산울산선   651  X
17  162  0651VMX00700  129.231389  35.503056   101  부산울산선   651  X
18  161  0651VMX00800  129.243611  35.523056   101  부산울산선   651  X

In [ ]:
df_name33_num1['도로명'] = df_name33_num['도로명']
df_name33_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0   144  0651VME00100  129.205278  35.212222   101  동해고속도로   651  E
1   148  0651VME00200  129.208056  35.257500   101  동해고속도로   651  E
2   150  0651VME00300  129.227778  35.299444   101  동해고속도로   651  E
3   154  0651VME00400  129.251944  35.365000   101  동해고속도로   651  E
4   157  0651VME00500  129.282222  35.451667   101  동해고속도로   651  E
5   159  0651VME00600  129.269167  35.495000   101  동해고속도로   651  E
6   147  0651VMS00100  129.205278  35.235833   101  동해고속도로   651  S
7   151  0651VMS00200  129.229167  35.311389   101  동해고속도로   651  S
8   153  0651VMS00300  129.251944  35.364167   101  동해고속도로   651  S
9   156  0651VMS00400  129.274444  35.428333   101  동해고속도로   651  S
10  160  0651VMS00500  129.263056  35.498611   101  동해고속도로   651  S
11  145  0651VMX00100  129.165000  35.175556   101  동해고속도로   651  X
12  146  0651VMX00200  129.205556  35.195833   101  동해고속도로   651  X
13  149  0651VMX00300  129.228889  35.268056   101  동해고속도로   651  X
14  152  0651VMX00400  129.238333  35.311389   101  동해고속도로   651  X
15  155  0651VMX00500  129.281944  35.424444   101  동해고속도로   651  X
16  158  0651VMX00600  129.295278  35.495000   101  동해고속도로   651  X
17  162  0651VMX00700  129.231389  35.503056   101  동해고속도로   651  X
18  161  0651VMX00800  129.243611  35.523056   101  동해고속도로   651  X

In [ ]:
df_name33_num1['노선번호'] = df_name33_num2['노선번호']
df_name33_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명 노선번호 방향
0   144  0651VME00100  129.205278  35.212222   101  동해고속도로   65  E
1   148  0651VME00200  129.208056  35.257500   101  동해고속도로   65  E
2   150  0651VME00300  129.227778  35.299444   101  동해고속도로   65  E
3   154  0651VME00400  129.251944  35.365000   101  동해고속도로   65  E
4   157  0651VME00500  129.282222  35.451667   101  동해고속도로   65  E
5   159  0651VME00600  129.269167  35.495000   101  동해고속도로   65  E
6   147  0651VMS00100  129.205278  35.235833   101  동해고속도로   65  S
7   151  0651VMS00200  129.229167  35.311389   101  동해고속도로   65  S
8   153  0651VMS00300  129.251944  35.364167   101  동해고속도로   65  S
9   156  0651VMS00400  129.274444  35.428333   101  동해고속도로   65  S
10  160  0651VMS00500  129.263056  35.498611   101  동해고속도로   65  S
11  145  0651VMX00100  129.165000  35.175556   101  동해고속도로   65  X
12  146  0651VMX00200  129.205556  35.195833   101  동해고속도로   65  X
13  149  0651VMX00300  129.228889  35.268056   101  동해고속도로   65  X
14  152  0651VMX00400  129.238333  35.311389   101  동해고속도로   65  X
15  155  0651VMX00500  129.281944  35.424444   101  동해고속도로   65  X
16  158  0651VMX00600  129.295278  35.495000   101  동해고속도로   65  X
17  162  0651VMX00700  129.231389  35.503056   101  동해고속도로   65  X
18  161  0651VMX00800  129.243611  35.523056   101  동해고속도로   65  X

In [ ]:
df_name34 = df[df['도로명'] == '대전남부순환선']
df_name34

        순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
1144  1285  3000VME00100  127.413889  36.273611   101  대전남부순환선   300  E
1145  1283  3000VMS00100  127.363889  36.285556   101  대전남부순환선   300  S
1146  1282  3000VMX00700  127.321944  36.297222   101  대전남부순환선   300  X
1147  1284  3000VMX00800  127.378333  36.286944   101  대전남부순환선   300  X

In [ ]:
df_name34_num = df_name34.reset_index(drop = True)
df_name34_num

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
0  1285  3000VME00100  127.413889  36.273611   101  대전남부순환선   300  E
1  1283  3000VMS00100  127.363889  36.285556   101  대전남부순환선   300  S
2  1282  3000VMX00700  127.321944  36.297222   101  대전남부순환선   300  X
3  1284  3000VMX00800  127.378333  36.286944   101  대전남부순환선   300  X

In [ ]:
df_name34_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_name34_num

       도로명
0  대전남부순환선
1  대전남부순환선
2  대전남부순환선
3  대전남부순환선

In [ ]:
df_name34_num.iloc[:] = '대전남부순환고속도로'
df_name34_num

          도로명
0  대전남부순환고속도로
1  대전남부순환고속도로
2  대전남부순환고속도로
3  대전남부순환고속도로

In [ ]:
df_name34_num1 = df_name34.reset_index(drop = True)
df_name34_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급      도로명  노선번호 방향
0  1285  3000VME00100  127.413889  36.273611   101  대전남부순환선   300  E
1  1283  3000VMS00100  127.363889  36.285556   101  대전남부순환선   300  S
2  1282  3000VMX00700  127.321944  36.297222   101  대전남부순환선   300  X
3  1284  3000VMX00800  127.378333  36.286944   101  대전남부순환선   300  X

In [ ]:
df_name34_num1['도로명'] = df_name34_num['도로명']
df_name34_num1

     순번        VMS_ID       좌표(X)      좌표(Y)  도로등급         도로명  노선번호 방향
0  1285  3000VME00100  127.413889  36.273611   101  대전남부순환고속도로   300  E
1  1283  3000VMS00100  127.363889  36.285556   101  대전남부순환고속도로   300  S
2  1282  3000VMX00700  127.321944  36.297222   101  대전남부순환고속도로   300  X
3  1284  3000VMX00800  127.378333  36.286944   101  대전남부순환고속도로   300  X

## 파일 합치기

In [ ]:
df_name_all = pd.concat([df_name1_num1, df_name2_num1, df_name3_num1, df_name4_num1, df_name5_num1, df_name6_num1, df_name7_num1, df_name8_num1, df_name9_num1, df_name10_num1, df_name11_num1, df_name12_num1, df_name13_num1, df_name14_num1, df_name15_num1, df_name16_num1, df_name17_num1, df_name18_num1, df_name19_num1, df_name20_num1, df_name21_num1, df_name22_num1, df_name23_num1, df_name24_num1, df_name25_num1, df_name26_num1, df_name27_num1, df_name28_num1, df_name29_num1, df_name30_num1, df_name31_num1, df_name32_num1, df_name33_num1, df_name34_num1])
df_name_all

      순번        VMS_ID       좌표(X)      좌표(Y)  도로등급         도로명 노선번호 방향
0    112  0010VME00100  129.105278  35.279167   101      경부고속도로    1  E
1    114  0010VME00200  129.061944  35.317778   101      경부고속도로    1  E
2    118  0010VME00400  129.088611  35.466111   101      경부고속도로    1  E
3    120  0010VME00500  129.106944  35.519167   101      경부고속도로    1  E
4    248  0010VME00600  129.113944  35.830778   101      경부고속도로    1  E
..   ...           ...         ...        ...   ...         ...  ... ..
18   161  0651VMX00800  129.243611  35.523056   101      동해고속도로   65  X
0   1285  3000VME00100  127.413889  36.273611   101  대전남부순환고속도로  300  E
1   1283  3000VMS00100  127.363889  36.285556   101  대전남부순환고속도로  300  S
2   1282  3000VMX00700  127.321944  36.297222   101  대전남부순환고속도로  300  X
3   1284  3000VMX00800  127.378333  36.286944   101  대전남부순환고속도로  300  X

[890 rows x 8 columns]

## 확인

In [ ]:
df_all = df_name_all['도로명'].value_counts().index.tolist()
df_all

['경부고속도로',
 '남해고속도로',
 '영동고속도로',
 '중부고속도로',
 '서산영덕고속도로',
 '중부내륙고속도로',
 '서해안고속도로',
 '호남고속도로',
 '동해고속도로',
 '수도권제1순환선',
 '중앙고속도로',
 '평택제천고속도로',
 '새만금포항고속도로',
 '무안광주고속도로',
 '순천완주고속도로',
 '서천공주고속도로',
 '호남고속도로지선',
 '서울양양고속도로',
 '광주대구고속도로',
 '고창담양고속도로',
 '평택화성고속도로',
 '중부내륙고속도로지선',
 '제2경인고속도로',
 '경인고속도로',
 '남해고속도로제1지선',
 '남해고속도로제2지선',
 '수도권제2순환고속도로',
 '대전남부순환고속도로',
 '울산고속도로',
 '중앙고속도로지선',
 '오산화성고속도로']

In [ ]:
len(df_all)

31

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      1490 non-null   int64
 1   VMS_ID  1490 non-null   object
 2   좌표(X)   1490 non-null   float64
 3   좌표(Y)   1490 non-null   float64
 4   도로등급    1490 non-null   int64
 5   도로명     890 non-null    object
 6   노선번호    1490 non-null   int64
 7   방향      1490 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 93.2+ KB

## 결측치 변경

In [ ]:
df_null = df.loc[df['도로명'].isna()]
df_null

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
829    591  12001VME00101  127.072175  37.016314   103  NaN     1  E
830    592  12001VME00201  127.116036  36.978978   103  NaN     1  E
831    594  12001VME00401  127.064989  37.042178   103  NaN     1  E
832    596  12001VME00601  127.065403  37.121278   103  NaN     1  E
833    598  12001VME00801  127.041856  37.196414   103  NaN     1  E
...    ...            ...         ...        ...   ...  ...   ... ..
1482  1049  52022VME50101  126.972996  35.046152   103  NaN    22  E
1483  1048  52022VMS50001  126.925582  35.136574   103  NaN    22  S
1484  1075  52026VME21101  127.277909  35.841145   103  NaN    26  E
1485  1074  52026VMN21001  126.973701  35.886580   103  NaN    26  N
1486  1076  52026VMS21201  127.328327  35.856220   103  NaN    26  S

[600 rows x 8 columns]

In [ ]:
df_null_all = df_null['노선번호'].value_counts().index.tolist()
df_null_all

[1,
 4,
 7,
 6,
 17,
 42,
 21,
 39,
 45,
 38,
 3,
 14,
 23,
 32,
 43,
 5,
 35,
 36,
 46,
 77,
 34,
 47,
 2,
 82,
 44,
 29,
 19,
 25,
 999,
 99,
 96,
 40,
 37,
 28,
 946,
 33,
 13,
 26,
 312,
 306,
 903,
 22,
 189,
 68,
 10,
 399,
 340,
 329,
 88]

In [ ]:
len(df_null_all)

49

In [ ]:
df_null1 = df_null[df_null['노선번호'] == 1]
df_null1

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
829    591  12001VME00101  127.072175  37.016314   103  NaN     1  E
830    592  12001VME00201  127.116036  36.978978   103  NaN     1  E
831    594  12001VME00401  127.064989  37.042178   103  NaN     1  E
832    596  12001VME00601  127.065403  37.121278   103  NaN     1  E
833    598  12001VME00801  127.041856  37.196414   103  NaN     1  E
834    600  12001VME01551  126.888083  37.680833   103  NaN     1  E
835    602  12001VME01601  126.847783  37.721369   103  NaN     1  E
836    604  12001VME01801  126.788403  37.780469   103  NaN     1  E
837    606  12001VME02001  126.788689  37.854094   103  NaN     1  E
838    593  12001VMS00301  127.099156  37.001044   103  NaN     1  S
839    595  12001VMS00501  127.063594  37.095144   103  NaN     1  S
840    597  12001VMS00701  127.069164  37.160467   103  NaN     1  S
841    599  12001VMS00901  127.038403  37.203114   103  NaN     1  S
842    601  12001VMS01561  126.851339  37.713936   103  NaN     1  S
843    603  12001VMS01701  126.802828  37.750922   103  NaN     1  S
844    605  12001VMS01901  126.793081  37.810186   103  NaN     1  S
845    607  12001VMS02101  126.766306  37.882783   103  NaN     1  S
1148   985  32001VME50001  127.096368  36.103115   103  NaN     1  E
1149   986  32001VME50201  127.095593  36.182094   103  NaN     1  E
1150   988  32001VME50401  127.203110  36.208733   103  NaN     1  E
1151   910  32001VME58101  127.263776  36.352107   103  NaN     1  E
1152  1024  32001VME60001  127.270764  36.414039   103  NaN     1  E
1153   942  32001VME74001  127.289539  36.568219   103  NaN     1  E
1154   943  32001VME74201  127.259070  36.655458   103  NaN     1  E
1155   944  32001VME74302  127.180255  36.680473   103  NaN     1  E
1156   945  32001VME74501  127.171445  36.757040   103  NaN     1  E
1157   933  32001VME74701  127.164993  36.814113   103  NaN     1  E
1158   946  32001VME75002  127.134892  36.920833   103  NaN     1  E
1159   867  32001VMS50101  127.105877  36.144114   103  NaN     1  S
1160   987  32001VMS50301  127.134597  36.214203   103  NaN     1  S
1161   989  32001VMS50501  127.227487  36.227215   103  NaN     1  S
1162   909  32001VMS58001  127.269511  36.359374   103  NaN     1  S
1163   947  32001VMS74102  127.289487  36.627055   103  NaN     1  S
1164   866  32001VMS74401  127.153933  36.695820   103  NaN     1  S
1165   934  32001VMS74601  127.164540  36.792943   103  NaN     1  S
1166   935  32001VMS74801  127.154575  36.845718   103  NaN     1  S
1167   948  32001VMS74902  127.143927  36.883828   103  NaN     1  S
1444  1036  52001VME10201  126.834931  35.045804   103  NaN     1  E
1445  1037  52001VME10301  126.709763  35.032965   103  NaN     1  E
1446  1039  52001VME10501  126.590199  35.031272   103  NaN     1  E
1447  1040  52001VME10703  126.440427  34.940794   103  NaN     1  E
1448  1042  52001VME10901  126.425179  34.844751   103  NaN     1  E
1449  1043  52001VME11001  126.824823  35.233166   103  NaN     1  E
1450  1066  52001VME21201  127.052924  35.972544   103  NaN     1  E
1451  1034  52001VMS10001  126.898223  35.124887   103  NaN     1  S
1452  1035  52001VMS10101  126.842492  35.052812   103  NaN     1  S
1453  1038  52001VMS10401  126.618789  35.026552   103  NaN     1  S
1454  1041  52001VMS10801  126.443017  34.947647   103  NaN     1  S
1455  1044  52001VMS11101  126.832676  35.344504   103  NaN     1  S
1456  1065  52001VMS21101  127.057871  35.940607   103  NaN     1  S
1457  1067  52001VMS21301  127.080880  36.052163   103  NaN     1  S

In [ ]:
df_null1_num = df_null1.reset_index(drop = True)
df_null1_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    591  12001VME00101  127.072175  37.016314   103  NaN     1  E
1    592  12001VME00201  127.116036  36.978978   103  NaN     1  E
2    594  12001VME00401  127.064989  37.042178   103  NaN     1  E
3    596  12001VME00601  127.065403  37.121278   103  NaN     1  E
4    598  12001VME00801  127.041856  37.196414   103  NaN     1  E
5    600  12001VME01551  126.888083  37.680833   103  NaN     1  E
6    602  12001VME01601  126.847783  37.721369   103  NaN     1  E
7    604  12001VME01801  126.788403  37.780469   103  NaN     1  E
8    606  12001VME02001  126.788689  37.854094   103  NaN     1  E
9    593  12001VMS00301  127.099156  37.001044   103  NaN     1  S
10   595  12001VMS00501  127.063594  37.095144   103  NaN     1  S
11   597  12001VMS00701  127.069164  37.160467   103  NaN     1  S
12   599  12001VMS00901  127.038403  37.203114   103  NaN     1  S
13   601  12001VMS01561  126.851339  37.713936   103  NaN     1  S
14   603  12001VMS01701  126.802828  37.750922   103  NaN     1  S
15   605  12001VMS01901  126.793081  37.810186   103  NaN     1  S
16   607  12001VMS02101  126.766306  37.882783   103  NaN     1  S
17   985  32001VME50001  127.096368  36.103115   103  NaN     1  E
18   986  32001VME50201  127.095593  36.182094   103  NaN     1  E
19   988  32001VME50401  127.203110  36.208733   103  NaN     1  E
20   910  32001VME58101  127.263776  36.352107   103  NaN     1  E
21  1024  32001VME60001  127.270764  36.414039   103  NaN     1  E
22   942  32001VME74001  127.289539  36.568219   103  NaN     1  E
23   943  32001VME74201  127.259070  36.655458   103  NaN     1  E
24   944  32001VME74302  127.180255  36.680473   103  NaN     1  E
25   945  32001VME74501  127.171445  36.757040   103  NaN     1  E
26   933  32001VME74701  127.164993  36.814113   103  NaN     1  E
27   946  32001VME75002  127.134892  36.920833   103  NaN     1  E
28   867  32001VMS50101  127.105877  36.144114   103  NaN     1  S
29   987  32001VMS50301  127.134597  36.214203   103  NaN     1  S
30   989  32001VMS50501  127.227487  36.227215   103  NaN     1  S
31   909  32001VMS58001  127.269511  36.359374   103  NaN     1  S
32   947  32001VMS74102  127.289487  36.627055   103  NaN     1  S
33   866  32001VMS74401  127.153933  36.695820   103  NaN     1  S
34   934  32001VMS74601  127.164540  36.792943   103  NaN     1  S
35   935  32001VMS74801  127.154575  36.845718   103  NaN     1  S
36   948  32001VMS74902  127.143927  36.883828   103  NaN     1  S
37  1036  52001VME10201  126.834931  35.045804   103  NaN     1  E
38  1037  52001VME10301  126.709763  35.032965   103  NaN     1  E
39  1039  52001VME10501  126.590199  35.031272   103  NaN     1  E
40  1040  52001VME10703  126.440427  34.940794   103  NaN     1  E
41  1042  52001VME10901  126.425179  34.844751   103  NaN     1  E
42  1043  52001VME11001  126.824823  35.233166   103  NaN     1  E
43  1066  52001VME21201  127.052924  35.972544   103  NaN     1  E
44  1034  52001VMS10001  126.898223  35.124887   103  NaN     1  S
45  1035  52001VMS10101  126.842492  35.052812   103  NaN     1  S
46  1038  52001VMS10401  126.618789  35.026552   103  NaN     1  S
47  1041  52001VMS10801  126.443017  34.947647   103  NaN     1  S
48  1044  52001VMS11101  126.832676  35.344504   103  NaN     1  S
49  1065  52001VMS21101  127.057871  35.940607   103  NaN     1  S
50  1067  52001VMS21301  127.080880  36.052163   103  NaN     1  S

In [ ]:
df_null1_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null1_num

    도로명
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN
30  NaN
31  NaN
32  NaN
33  NaN
34  NaN
35  NaN
36  NaN
37  NaN
38  NaN
39  NaN
40  NaN
41  NaN
42  NaN
43  NaN
44  NaN
45  NaN
46  NaN
47  NaN
48  NaN
49  NaN
50  NaN

In [ ]:
df_null1_num.iloc[:] = '경부고속도로'
df_null1_num

       도로명
0   경부고속도로
1   경부고속도로
2   경부고속도로
3   경부고속도로
4   경부고속도로
5   경부고속도로
6   경부고속도로
7   경부고속도로
8   경부고속도로
9   경부고속도로
10  경부고속도로
11  경부고속도로
12  경부고속도로
13  경부고속도로
14  경부고속도로
15  경부고속도로
16  경부고속도로
17  경부고속도로
18  경부고속도로
19  경부고속도로
20  경부고속도로
21  경부고속도로
22  경부고속도로
23  경부고속도로
24  경부고속도로
25  경부고속도로
26  경부고속도로
27  경부고속도로
28  경부고속도로
29  경부고속도로
30  경부고속도로
31  경부고속도로
32  경부고속도로
33  경부고속도로
34  경부고속도로
35  경부고속도로
36  경부고속도로
37  경부고속도로
38  경부고속도로
39  경부고속도로
40  경부고속도로
41  경부고속도로
42  경부고속도로
43  경부고속도로
44  경부고속도로
45  경부고속도로
46  경부고속도로
47  경부고속도로
48  경부고속도로
49  경부고속도로
50  경부고속도로

In [ ]:
df_null1_num1 = df_null1.reset_index(drop = True)
df_null1_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    591  12001VME00101  127.072175  37.016314   103  NaN     1  E
1    592  12001VME00201  127.116036  36.978978   103  NaN     1  E
2    594  12001VME00401  127.064989  37.042178   103  NaN     1  E
3    596  12001VME00601  127.065403  37.121278   103  NaN     1  E
4    598  12001VME00801  127.041856  37.196414   103  NaN     1  E
5    600  12001VME01551  126.888083  37.680833   103  NaN     1  E
6    602  12001VME01601  126.847783  37.721369   103  NaN     1  E
7    604  12001VME01801  126.788403  37.780469   103  NaN     1  E
8    606  12001VME02001  126.788689  37.854094   103  NaN     1  E
9    593  12001VMS00301  127.099156  37.001044   103  NaN     1  S
10   595  12001VMS00501  127.063594  37.095144   103  NaN     1  S
11   597  12001VMS00701  127.069164  37.160467   103  NaN     1  S
12   599  12001VMS00901  127.038403  37.203114   103  NaN     1  S
13   601  12001VMS01561  126.851339  37.713936   103  NaN     1  S
14   603  12001VMS01701  126.802828  37.750922   103  NaN     1  S
15   605  12001VMS01901  126.793081  37.810186   103  NaN     1  S
16   607  12001VMS02101  126.766306  37.882783   103  NaN     1  S
17   985  32001VME50001  127.096368  36.103115   103  NaN     1  E
18   986  32001VME50201  127.095593  36.182094   103  NaN     1  E
19   988  32001VME50401  127.203110  36.208733   103  NaN     1  E
20   910  32001VME58101  127.263776  36.352107   103  NaN     1  E
21  1024  32001VME60001  127.270764  36.414039   103  NaN     1  E
22   942  32001VME74001  127.289539  36.568219   103  NaN     1  E
23   943  32001VME74201  127.259070  36.655458   103  NaN     1  E
24   944  32001VME74302  127.180255  36.680473   103  NaN     1  E
25   945  32001VME74501  127.171445  36.757040   103  NaN     1  E
26   933  32001VME74701  127.164993  36.814113   103  NaN     1  E
27   946  32001VME75002  127.134892  36.920833   103  NaN     1  E
28   867  32001VMS50101  127.105877  36.144114   103  NaN     1  S
29   987  32001VMS50301  127.134597  36.214203   103  NaN     1  S
30   989  32001VMS50501  127.227487  36.227215   103  NaN     1  S
31   909  32001VMS58001  127.269511  36.359374   103  NaN     1  S
32   947  32001VMS74102  127.289487  36.627055   103  NaN     1  S
33   866  32001VMS74401  127.153933  36.695820   103  NaN     1  S
34   934  32001VMS74601  127.164540  36.792943   103  NaN     1  S
35   935  32001VMS74801  127.154575  36.845718   103  NaN     1  S
36   948  32001VMS74902  127.143927  36.883828   103  NaN     1  S
37  1036  52001VME10201  126.834931  35.045804   103  NaN     1  E
38  1037  52001VME10301  126.709763  35.032965   103  NaN     1  E
39  1039  52001VME10501  126.590199  35.031272   103  NaN     1  E
40  1040  52001VME10703  126.440427  34.940794   103  NaN     1  E
41  1042  52001VME10901  126.425179  34.844751   103  NaN     1  E
42  1043  52001VME11001  126.824823  35.233166   103  NaN     1  E
43  1066  52001VME21201  127.052924  35.972544   103  NaN     1  E
44  1034  52001VMS10001  126.898223  35.124887   103  NaN     1  S
45  1035  52001VMS10101  126.842492  35.052812   103  NaN     1  S
46  1038  52001VMS10401  126.618789  35.026552   103  NaN     1  S
47  1041  52001VMS10801  126.443017  34.947647   103  NaN     1  S
48  1044  52001VMS11101  126.832676  35.344504   103  NaN     1  S
49  1065  52001VMS21101  127.057871  35.940607   103  NaN     1  S
50  1067  52001VMS21301  127.080880  36.052163   103  NaN     1  S

In [ ]:
df_null1_num1['도로명'] = df_null1_num['도로명']
df_null1_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0    591  12001VME00101  127.072175  37.016314   103  경부고속도로     1  E
1    592  12001VME00201  127.116036  36.978978   103  경부고속도로     1  E
2    594  12001VME00401  127.064989  37.042178   103  경부고속도로     1  E
3    596  12001VME00601  127.065403  37.121278   103  경부고속도로     1  E
4    598  12001VME00801  127.041856  37.196414   103  경부고속도로     1  E
5    600  12001VME01551  126.888083  37.680833   103  경부고속도로     1  E
6    602  12001VME01601  126.847783  37.721369   103  경부고속도로     1  E
7    604  12001VME01801  126.788403  37.780469   103  경부고속도로     1  E
8    606  12001VME02001  126.788689  37.854094   103  경부고속도로     1  E
9    593  12001VMS00301  127.099156  37.001044   103  경부고속도로     1  S
10   595  12001VMS00501  127.063594  37.095144   103  경부고속도로     1  S
11   597  12001VMS00701  127.069164  37.160467   103  경부고속도로     1  S
12   599  12001VMS00901  127.038403  37.203114   103  경부고속도로     1  S
13   601  12001VMS01561  126.851339  37.713936   103  경부고속도로     1  S
14   603  12001VMS01701  126.802828  37.750922   103  경부고속도로     1  S
15   605  12001VMS01901  126.793081  37.810186   103  경부고속도로     1  S
16   607  12001VMS02101  126.766306  37.882783   103  경부고속도로     1  S
17   985  32001VME50001  127.096368  36.103115   103  경부고속도로     1  E
18   986  32001VME50201  127.095593  36.182094   103  경부고속도로     1  E
19   988  32001VME50401  127.203110  36.208733   103  경부고속도로     1  E
20   910  32001VME58101  127.263776  36.352107   103  경부고속도로     1  E
21  1024  32001VME60001  127.270764  36.414039   103  경부고속도로     1  E
22   942  32001VME74001  127.289539  36.568219   103  경부고속도로     1  E
23   943  32001VME74201  127.259070  36.655458   103  경부고속도로     1  E
24   944  32001VME74302  127.180255  36.680473   103  경부고속도로     1  E
25   945  32001VME74501  127.171445  36.757040   103  경부고속도로     1  E
26   933  32001VME74701  127.164993  36.814113   103  경부고속도로     1  E
27   946  32001VME75002  127.134892  36.920833   103  경부고속도로     1  E
28   867  32001VMS50101  127.105877  36.144114   103  경부고속도로     1  S
29   987  32001VMS50301  127.134597  36.214203   103  경부고속도로     1  S
30   989  32001VMS50501  127.227487  36.227215   103  경부고속도로     1  S
31   909  32001VMS58001  127.269511  36.359374   103  경부고속도로     1  S
32   947  32001VMS74102  127.289487  36.627055   103  경부고속도로     1  S
33   866  32001VMS74401  127.153933  36.695820   103  경부고속도로     1  S
34   934  32001VMS74601  127.164540  36.792943   103  경부고속도로     1  S
35   935  32001VMS74801  127.154575  36.845718   103  경부고속도로     1  S
36   948  32001VMS74902  127.143927  36.883828   103  경부고속도로     1  S
37  1036  52001VME10201  126.834931  35.045804   103  경부고속도로     1  E
38  1037  52001VME10301  126.709763  35.032965   103  경부고속도로     1  E
39  1039  52001VME10501  126.590199  35.031272   103  경부고속도로     1  E
40  1040  52001VME10703  126.440427  34.940794   103  경부고속도로     1  E
41  1042  52001VME10901  126.425179  34.844751   103  경부고속도로     1  E
42  1043  52001VME11001  126.824823  35.233166   103  경부고속도로     1  E
43  1066  52001VME21201  127.052924  35.972544   103  경부고속도로     1  E
44  1034  52001VMS10001  126.898223  35.124887   103  경부고속도로     1  S
45  1035  52001VMS10101  126.842492  35.052812   103  경부고속도로     1  S
46  1038  52001VMS10401  126.618789  35.026552   103  경부고속도로     1  S
47  1041  52001VMS10801  126.443017  34.947647   103  경부고속도로     1  S
48  1044  52001VMS11101  126.832676  35.344504   103  경부고속도로     1  S
49  1065  52001VMS21101  127.057871  35.940607   103  경부고속도로     1  S
50  1067  52001VMS21301  127.080880  36.052163   103  경부고속도로     1  S

In [ ]:
df_null2 = df_null[df_null['노선번호'] == 17]
df_null2

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
885    642  12017VME00201  127.425144  37.071961   103  NaN    17  E
886    644  12017VME00401  127.413561  37.126372   103  NaN    17  E
887    646  12017VME00551  127.324370  37.203740   103  NaN    17  E
888    641  12017VMS00101  127.410322  37.059547   103  NaN    17  S
889    643  12017VMS00301  127.433550  37.096731   103  NaN    17  S
890    645  12017VMS00501  127.387375  37.146306   103  NaN    17  S
891    647  12017VMS00601  127.311420  37.222710   103  NaN    17  S
1185   983  32017VME78101  127.424973  36.490878   103  NaN    17  E
1186   949  32017VME78301  127.469842  36.591470   103  NaN    17  E
1187   936  32017VME78501  127.499479  36.674247   103  NaN    17  E
1188   950  32017VME78701  127.471382  36.719450   103  NaN    17  E
1189   951  32017VME78902  127.441624  36.770335   103  NaN    17  E
1190   952  32017VME79001  127.428851  36.845201   103  NaN    17  E
1191   906  32017VME79201  127.442196  36.959402   103  NaN    17  E
1192   953  32017VMS78201  127.430729  36.551217   103  NaN    17  S
1193   937  32017VMS78401  127.493818  36.595862   103  NaN    17  S
1194   977  32017VMS78601  127.480684  36.687592   103  NaN    17  S
1195   982  32017VMS78752  127.471112  36.720557   103  NaN    17  S
1196   954  32017VMS78801  127.449892  36.752026   103  NaN    17  S
1197   955  32017VMS79101  127.450708  36.905564   103  NaN    17  S
1198   921  32017VMS79301  127.441640  36.961147   103  NaN    17  S
1311   883  35017VME85401  127.416882  36.817279   103  NaN    17  E
1461  1053  52017VME05201  127.547335  34.916677   103  NaN    17  E
1462  1055  52017VME10101  127.571934  34.904596   103  NaN    17  E
1463  1056  52017VME10201  127.500245  34.991267   103  NaN    17  E
1464  1058  52017VME10401  127.460190  35.145019   103  NaN    17  E
1465  1060  52017VME10601  127.475787  35.205608   103  NaN    17  E
1466  1069  52017VME20201  127.293895  35.630210   103  NaN    17  E
1467  1050  52017VMS04902  127.614125  34.820986   103  NaN    17  S
1468  1051  52017VMS05001  127.581970  34.862820   103  NaN    17  S
1469  1052  52017VMS05101  127.551735  34.894802   103  NaN    17  S
1470  1054  52017VMS05301  127.586329  34.938810   103  NaN    17  S
1471  1057  52017VMS10301  127.478422  35.005008   103  NaN    17  S
1472  1059  52017VMS10501  127.459975  35.144306   103  NaN    17  S
1473  1068  52017VMS20101  127.213038  35.765474   103  NaN    17  S

In [ ]:
df_null2_num = df_null2.reset_index(drop = True)
df_null2_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    642  12017VME00201  127.425144  37.071961   103  NaN    17  E
1    644  12017VME00401  127.413561  37.126372   103  NaN    17  E
2    646  12017VME00551  127.324370  37.203740   103  NaN    17  E
3    641  12017VMS00101  127.410322  37.059547   103  NaN    17  S
4    643  12017VMS00301  127.433550  37.096731   103  NaN    17  S
5    645  12017VMS00501  127.387375  37.146306   103  NaN    17  S
6    647  12017VMS00601  127.311420  37.222710   103  NaN    17  S
7    983  32017VME78101  127.424973  36.490878   103  NaN    17  E
8    949  32017VME78301  127.469842  36.591470   103  NaN    17  E
9    936  32017VME78501  127.499479  36.674247   103  NaN    17  E
10   950  32017VME78701  127.471382  36.719450   103  NaN    17  E
11   951  32017VME78902  127.441624  36.770335   103  NaN    17  E
12   952  32017VME79001  127.428851  36.845201   103  NaN    17  E
13   906  32017VME79201  127.442196  36.959402   103  NaN    17  E
14   953  32017VMS78201  127.430729  36.551217   103  NaN    17  S
15   937  32017VMS78401  127.493818  36.595862   103  NaN    17  S
16   977  32017VMS78601  127.480684  36.687592   103  NaN    17  S
17   982  32017VMS78752  127.471112  36.720557   103  NaN    17  S
18   954  32017VMS78801  127.449892  36.752026   103  NaN    17  S
19   955  32017VMS79101  127.450708  36.905564   103  NaN    17  S
20   921  32017VMS79301  127.441640  36.961147   103  NaN    17  S
21   883  35017VME85401  127.416882  36.817279   103  NaN    17  E
22  1053  52017VME05201  127.547335  34.916677   103  NaN    17  E
23  1055  52017VME10101  127.571934  34.904596   103  NaN    17  E
24  1056  52017VME10201  127.500245  34.991267   103  NaN    17  E
25  1058  52017VME10401  127.460190  35.145019   103  NaN    17  E
26  1060  52017VME10601  127.475787  35.205608   103  NaN    17  E
27  1069  52017VME20201  127.293895  35.630210   103  NaN    17  E
28  1050  52017VMS04902  127.614125  34.820986   103  NaN    17  S
29  1051  52017VMS05001  127.581970  34.862820   103  NaN    17  S
30  1052  52017VMS05101  127.551735  34.894802   103  NaN    17  S
31  1054  52017VMS05301  127.586329  34.938810   103  NaN    17  S
32  1057  52017VMS10301  127.478422  35.005008   103  NaN    17  S
33  1059  52017VMS10501  127.459975  35.144306   103  NaN    17  S
34  1068  52017VMS20101  127.213038  35.765474   103  NaN    17  S

In [ ]:
df_null2_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null2_num

    도로명
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN
30  NaN
31  NaN
32  NaN
33  NaN
34  NaN

In [ ]:
df_null2_num.iloc[:] = '평택파주고속도로'
df_null2_num

         도로명
0   평택파주고속도로
1   평택파주고속도로
2   평택파주고속도로
3   평택파주고속도로
4   평택파주고속도로
5   평택파주고속도로
6   평택파주고속도로
7   평택파주고속도로
8   평택파주고속도로
9   평택파주고속도로
10  평택파주고속도로
11  평택파주고속도로
12  평택파주고속도로
13  평택파주고속도로
14  평택파주고속도로
15  평택파주고속도로
16  평택파주고속도로
17  평택파주고속도로
18  평택파주고속도로
19  평택파주고속도로
20  평택파주고속도로
21  평택파주고속도로
22  평택파주고속도로
23  평택파주고속도로
24  평택파주고속도로
25  평택파주고속도로
26  평택파주고속도로
27  평택파주고속도로
28  평택파주고속도로
29  평택파주고속도로
30  평택파주고속도로
31  평택파주고속도로
32  평택파주고속도로
33  평택파주고속도로
34  평택파주고속도로

In [ ]:
df_null2_num1 = df_null2.reset_index(drop = True)
df_null2_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    642  12017VME00201  127.425144  37.071961   103  NaN    17  E
1    644  12017VME00401  127.413561  37.126372   103  NaN    17  E
2    646  12017VME00551  127.324370  37.203740   103  NaN    17  E
3    641  12017VMS00101  127.410322  37.059547   103  NaN    17  S
4    643  12017VMS00301  127.433550  37.096731   103  NaN    17  S
5    645  12017VMS00501  127.387375  37.146306   103  NaN    17  S
6    647  12017VMS00601  127.311420  37.222710   103  NaN    17  S
7    983  32017VME78101  127.424973  36.490878   103  NaN    17  E
8    949  32017VME78301  127.469842  36.591470   103  NaN    17  E
9    936  32017VME78501  127.499479  36.674247   103  NaN    17  E
10   950  32017VME78701  127.471382  36.719450   103  NaN    17  E
11   951  32017VME78902  127.441624  36.770335   103  NaN    17  E
12   952  32017VME79001  127.428851  36.845201   103  NaN    17  E
13   906  32017VME79201  127.442196  36.959402   103  NaN    17  E
14   953  32017VMS78201  127.430729  36.551217   103  NaN    17  S
15   937  32017VMS78401  127.493818  36.595862   103  NaN    17  S
16   977  32017VMS78601  127.480684  36.687592   103  NaN    17  S
17   982  32017VMS78752  127.471112  36.720557   103  NaN    17  S
18   954  32017VMS78801  127.449892  36.752026   103  NaN    17  S
19   955  32017VMS79101  127.450708  36.905564   103  NaN    17  S
20   921  32017VMS79301  127.441640  36.961147   103  NaN    17  S
21   883  35017VME85401  127.416882  36.817279   103  NaN    17  E
22  1053  52017VME05201  127.547335  34.916677   103  NaN    17  E
23  1055  52017VME10101  127.571934  34.904596   103  NaN    17  E
24  1056  52017VME10201  127.500245  34.991267   103  NaN    17  E
25  1058  52017VME10401  127.460190  35.145019   103  NaN    17  E
26  1060  52017VME10601  127.475787  35.205608   103  NaN    17  E
27  1069  52017VME20201  127.293895  35.630210   103  NaN    17  E
28  1050  52017VMS04902  127.614125  34.820986   103  NaN    17  S
29  1051  52017VMS05001  127.581970  34.862820   103  NaN    17  S
30  1052  52017VMS05101  127.551735  34.894802   103  NaN    17  S
31  1054  52017VMS05301  127.586329  34.938810   103  NaN    17  S
32  1057  52017VMS10301  127.478422  35.005008   103  NaN    17  S
33  1059  52017VMS10501  127.459975  35.144306   103  NaN    17  S
34  1068  52017VMS20101  127.213038  35.765474   103  NaN    17  S

In [ ]:
df_null2_num1['도로명'] = df_null2_num['도로명']
df_null2_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0    642  12017VME00201  127.425144  37.071961   103  평택파주고속도로    17  E
1    644  12017VME00401  127.413561  37.126372   103  평택파주고속도로    17  E
2    646  12017VME00551  127.324370  37.203740   103  평택파주고속도로    17  E
3    641  12017VMS00101  127.410322  37.059547   103  평택파주고속도로    17  S
4    643  12017VMS00301  127.433550  37.096731   103  평택파주고속도로    17  S
5    645  12017VMS00501  127.387375  37.146306   103  평택파주고속도로    17  S
6    647  12017VMS00601  127.311420  37.222710   103  평택파주고속도로    17  S
7    983  32017VME78101  127.424973  36.490878   103  평택파주고속도로    17  E
8    949  32017VME78301  127.469842  36.591470   103  평택파주고속도로    17  E
9    936  32017VME78501  127.499479  36.674247   103  평택파주고속도로    17  E
10   950  32017VME78701  127.471382  36.719450   103  평택파주고속도로    17  E
11   951  32017VME78902  127.441624  36.770335   103  평택파주고속도로    17  E
12   952  32017VME79001  127.428851  36.845201   103  평택파주고속도로    17  E
13   906  32017VME79201  127.442196  36.959402   103  평택파주고속도로    17  E
14   953  32017VMS78201  127.430729  36.551217   103  평택파주고속도로    17  S
15   937  32017VMS78401  127.493818  36.595862   103  평택파주고속도로    17  S
16   977  32017VMS78601  127.480684  36.687592   103  평택파주고속도로    17  S
17   982  32017VMS78752  127.471112  36.720557   103  평택파주고속도로    17  S
18   954  32017VMS78801  127.449892  36.752026   103  평택파주고속도로    17  S
19   955  32017VMS79101  127.450708  36.905564   103  평택파주고속도로    17  S
20   921  32017VMS79301  127.441640  36.961147   103  평택파주고속도로    17  S
21   883  35017VME85401  127.416882  36.817279   103  평택파주고속도로    17  E
22  1053  52017VME05201  127.547335  34.916677   103  평택파주고속도로    17  E
23  1055  52017VME10101  127.571934  34.904596   103  평택파주고속도로    17  E
24  1056  52017VME10201  127.500245  34.991267   103  평택파주고속도로    17  E
25  1058  52017VME10401  127.460190  35.145019   103  평택파주고속도로    17  E
26  1060  52017VME10601  127.475787  35.205608   103  평택파주고속도로    17  E
27  1069  52017VME20201  127.293895  35.630210   103  평택파주고속도로    17  E
28  1050  52017VMS04902  127.614125  34.820986   103  평택파주고속도로    17  S
29  1051  52017VMS05001  127.581970  34.862820   103  평택파주고속도로    17  S
30  1052  52017VMS05101  127.551735  34.894802   103  평택파주고속도로    17  S
31  1054  52017VMS05301  127.586329  34.938810   103  평택파주고속도로    17  S
32  1057  52017VMS10301  127.478422  35.005008   103  평택파주고속도로    17  S
33  1059  52017VMS10501  127.459975  35.144306   103  평택파주고속도로    17  S
34  1068  52017VMS20101  127.213038  35.765474   103  평택파주고속도로    17  S

In [ ]:
df_null3 = df_null[df_null['노선번호'] == 45]
df_null3

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
980    742  12045VME00101  127.022717  37.017256   103  NaN    45  E
981    743  12045VME00201  127.050819  37.017614   103  NaN    45  E
982    745  12045VME00401  127.144300  37.034822   103  NaN    45  E
983    747  12045VME00601  127.200508  37.067558   103  NaN    45  E
984    749  12045VME00801  127.216378  37.097883   103  NaN    45  E
985    751  12045VME01001  127.204492  37.208889   103  NaN    45  E
986    753  12045VME05101  127.210958  37.228503   103  NaN    45  E
987    755  12045VME05301  127.365897  37.648244   103  NaN    45  E
988    757  12045VME10151  127.245219  37.328083   103  NaN    45  E
989    758  12045VME10201  127.282822  37.488247   103  NaN    45  E
990    759  12045VME10301  127.257369  37.534706   103  NaN    45  E
991    760  12045VME11001  127.374767  37.676119   103  NaN    45  E
992    762  12045VME11201  127.394708  37.709697   103  NaN    45  E
993    744  12045VMS00301  127.092781  37.023314   103  NaN    45  S
994    746  12045VMS00501  127.163575  37.052875   103  NaN    45  S
995    748  12045VMS00701  127.210672  37.079600   103  NaN    45  S
996    750  12045VMS00901  127.204033  37.171747   103  NaN    45  S
997    752  12045VMS01101  127.210594  37.226092   103  NaN    45  S
998    764  12045VMS02401  127.219711  37.277169   103  NaN    45  S
999    754  12045VMS05201  127.315653  37.562103   103  NaN    45  S
1000   756  12045VMS10101  127.268764  37.462400   103  NaN    45  S
1001   761  12045VMS11101  127.380914  37.690869   103  NaN    45  S
1002   763  12045VMS11301  127.406883  37.730156   103  NaN    45  S
1296   905  32045VME70301  126.812300  36.696636   103  NaN    45  E
1297   892  32045VME90001  127.006483  36.804988   103  NaN    45  E
1298   894  32045VME90201  127.033864  36.909231   103  NaN    45  E
1299  1013  32045VMS00501  126.572649  36.696084   103  NaN    45  S
1300   893  32045VMS90101  127.031580  36.905518   103  NaN    45  S

In [ ]:
df_null3_num = df_null3.reset_index(drop = True)
df_null3_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    742  12045VME00101  127.022717  37.017256   103  NaN    45  E
1    743  12045VME00201  127.050819  37.017614   103  NaN    45  E
2    745  12045VME00401  127.144300  37.034822   103  NaN    45  E
3    747  12045VME00601  127.200508  37.067558   103  NaN    45  E
4    749  12045VME00801  127.216378  37.097883   103  NaN    45  E
5    751  12045VME01001  127.204492  37.208889   103  NaN    45  E
6    753  12045VME05101  127.210958  37.228503   103  NaN    45  E
7    755  12045VME05301  127.365897  37.648244   103  NaN    45  E
8    757  12045VME10151  127.245219  37.328083   103  NaN    45  E
9    758  12045VME10201  127.282822  37.488247   103  NaN    45  E
10   759  12045VME10301  127.257369  37.534706   103  NaN    45  E
11   760  12045VME11001  127.374767  37.676119   103  NaN    45  E
12   762  12045VME11201  127.394708  37.709697   103  NaN    45  E
13   744  12045VMS00301  127.092781  37.023314   103  NaN    45  S
14   746  12045VMS00501  127.163575  37.052875   103  NaN    45  S
15   748  12045VMS00701  127.210672  37.079600   103  NaN    45  S
16   750  12045VMS00901  127.204033  37.171747   103  NaN    45  S
17   752  12045VMS01101  127.210594  37.226092   103  NaN    45  S
18   764  12045VMS02401  127.219711  37.277169   103  NaN    45  S
19   754  12045VMS05201  127.315653  37.562103   103  NaN    45  S
20   756  12045VMS10101  127.268764  37.462400   103  NaN    45  S
21   761  12045VMS11101  127.380914  37.690869   103  NaN    45  S
22   763  12045VMS11301  127.406883  37.730156   103  NaN    45  S
23   905  32045VME70301  126.812300  36.696636   103  NaN    45  E
24   892  32045VME90001  127.006483  36.804988   103  NaN    45  E
25   894  32045VME90201  127.033864  36.909231   103  NaN    45  E
26  1013  32045VMS00501  126.572649  36.696084   103  NaN    45  S
27   893  32045VMS90101  127.031580  36.905518   103  NaN    45  S

In [ ]:
df_null3_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null3_num

    도로명
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN

In [ ]:
df_null3_num.iloc[:] = '중부내륙고속도로'
df_null3_num

         도로명
0   중부내륙고속도로
1   중부내륙고속도로
2   중부내륙고속도로
3   중부내륙고속도로
4   중부내륙고속도로
5   중부내륙고속도로
6   중부내륙고속도로
7   중부내륙고속도로
8   중부내륙고속도로
9   중부내륙고속도로
10  중부내륙고속도로
11  중부내륙고속도로
12  중부내륙고속도로
13  중부내륙고속도로
14  중부내륙고속도로
15  중부내륙고속도로
16  중부내륙고속도로
17  중부내륙고속도로
18  중부내륙고속도로
19  중부내륙고속도로
20  중부내륙고속도로
21  중부내륙고속도로
22  중부내륙고속도로
23  중부내륙고속도로
24  중부내륙고속도로
25  중부내륙고속도로
26  중부내륙고속도로
27  중부내륙고속도로

In [ ]:
df_null3_num1 = df_null3.reset_index(drop = True)
df_null3_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0    742  12045VME00101  127.022717  37.017256   103  NaN    45  E
1    743  12045VME00201  127.050819  37.017614   103  NaN    45  E
2    745  12045VME00401  127.144300  37.034822   103  NaN    45  E
3    747  12045VME00601  127.200508  37.067558   103  NaN    45  E
4    749  12045VME00801  127.216378  37.097883   103  NaN    45  E
5    751  12045VME01001  127.204492  37.208889   103  NaN    45  E
6    753  12045VME05101  127.210958  37.228503   103  NaN    45  E
7    755  12045VME05301  127.365897  37.648244   103  NaN    45  E
8    757  12045VME10151  127.245219  37.328083   103  NaN    45  E
9    758  12045VME10201  127.282822  37.488247   103  NaN    45  E
10   759  12045VME10301  127.257369  37.534706   103  NaN    45  E
11   760  12045VME11001  127.374767  37.676119   103  NaN    45  E
12   762  12045VME11201  127.394708  37.709697   103  NaN    45  E
13   744  12045VMS00301  127.092781  37.023314   103  NaN    45  S
14   746  12045VMS00501  127.163575  37.052875   103  NaN    45  S
15   748  12045VMS00701  127.210672  37.079600   103  NaN    45  S
16   750  12045VMS00901  127.204033  37.171747   103  NaN    45  S
17   752  12045VMS01101  127.210594  37.226092   103  NaN    45  S
18   764  12045VMS02401  127.219711  37.277169   103  NaN    45  S
19   754  12045VMS05201  127.315653  37.562103   103  NaN    45  S
20   756  12045VMS10101  127.268764  37.462400   103  NaN    45  S
21   761  12045VMS11101  127.380914  37.690869   103  NaN    45  S
22   763  12045VMS11301  127.406883  37.730156   103  NaN    45  S
23   905  32045VME70301  126.812300  36.696636   103  NaN    45  E
24   892  32045VME90001  127.006483  36.804988   103  NaN    45  E
25   894  32045VME90201  127.033864  36.909231   103  NaN    45  E
26  1013  32045VMS00501  126.572649  36.696084   103  NaN    45  S
27   893  32045VMS90101  127.031580  36.905518   103  NaN    45  S

In [ ]:
df_null3_num1['도로명'] = df_null3_num['도로명']
df_null3_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0    742  12045VME00101  127.022717  37.017256   103  중부내륙고속도로    45  E
1    743  12045VME00201  127.050819  37.017614   103  중부내륙고속도로    45  E
2    745  12045VME00401  127.144300  37.034822   103  중부내륙고속도로    45  E
3    747  12045VME00601  127.200508  37.067558   103  중부내륙고속도로    45  E
4    749  12045VME00801  127.216378  37.097883   103  중부내륙고속도로    45  E
5    751  12045VME01001  127.204492  37.208889   103  중부내륙고속도로    45  E
6    753  12045VME05101  127.210958  37.228503   103  중부내륙고속도로    45  E
7    755  12045VME05301  127.365897  37.648244   103  중부내륙고속도로    45  E
8    757  12045VME10151  127.245219  37.328083   103  중부내륙고속도로    45  E
9    758  12045VME10201  127.282822  37.488247   103  중부내륙고속도로    45  E
10   759  12045VME10301  127.257369  37.534706   103  중부내륙고속도로    45  E
11   760  12045VME11001  127.374767  37.676119   103  중부내륙고속도로    45  E
12   762  12045VME11201  127.394708  37.709697   103  중부내륙고속도로    45  E
13   744  12045VMS00301  127.092781  37.023314   103  중부내륙고속도로    45  S
14   746  12045VMS00501  127.163575  37.052875   103  중부내륙고속도로    45  S
15   748  12045VMS00701  127.210672  37.079600   103  중부내륙고속도로    45  S
16   750  12045VMS00901  127.204033  37.171747   103  중부내륙고속도로    45  S
17   752  12045VMS01101  127.210594  37.226092   103  중부내륙고속도로    45  S
18   764  12045VMS02401  127.219711  37.277169   103  중부내륙고속도로    45  S
19   754  12045VMS05201  127.315653  37.562103   103  중부내륙고속도로    45  S
20   756  12045VMS10101  127.268764  37.462400   103  중부내륙고속도로    45  S
21   761  12045VMS11101  127.380914  37.690869   103  중부내륙고속도로    45  S
22   763  12045VMS11301  127.406883  37.730156   103  중부내륙고속도로    45  S
23   905  32045VME70301  126.812300  36.696636   103  중부내륙고속도로    45  E
24   892  32045VME90001  127.006483  36.804988   103  중부내륙고속도로    45  E
25   894  32045VME90201  127.033864  36.909231   103  중부내륙고속도로    45  E
26  1013  32045VMS00501  126.572649  36.696084   103  중부내륙고속도로    45  S
27   893  32045VMS90101  127.031580  36.905518   103  중부내륙고속도로    45  S

In [ ]:
df_null4 = df_null[df_null['노선번호'] == 14]
df_null4

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
1391  1448  42014VME10152  129.206996  35.251789   103  NaN    14  E
1392  1449  42014VME10201  129.165418  35.235941   103  NaN    14  E
1393  1450  42014VME11001  129.237656  35.297609   103  NaN    14  E
1394  1451  42014VME11201  129.265908  35.409310   103  NaN    14  E
1395  1452  42014VME11501  129.291115  35.461585   103  NaN    14  E
1396  1453  42014VME21002  128.967955  35.212341   103  NaN    14  E
1397  1454  42014VME21202  128.867870  35.252352   103  NaN    14  E
1398  1455  42014VME21402  128.781379  35.294069   103  NaN    14  E
1399  1465  42014VME21502  128.718584  35.312394   103  NaN    14  E
1400  1456  42014VMN10101  129.220909  35.243976   103  NaN    14  N
1401  1457  42014VMN11301  129.290528  35.435943   103  NaN    14  N
1402  1458  42014VMS10001  129.229522  35.269705   103  NaN    14  S
1403  1459  42014VMS11101  129.247061  35.337549   103  NaN    14  S
1404  1460  42014VMS11401  129.284240  35.445281   103  NaN    14  S
1405  1461  42014VMS21302  128.763228  35.296049   103  NaN    14  S
1406  1464  42014VMS21602  128.652610  35.269479   103  NaN    14  S
1407  1462  42024VMN20001  129.134115  35.565691   103  NaN    14  N
1408  1463  42024VMN20101  129.125328  35.579962   103  NaN    14  N

In [ ]:
df_null4_num = df_null4.reset_index(drop = True)
df_null4_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   1448  42014VME10152  129.206996  35.251789   103  NaN    14  E
1   1449  42014VME10201  129.165418  35.235941   103  NaN    14  E
2   1450  42014VME11001  129.237656  35.297609   103  NaN    14  E
3   1451  42014VME11201  129.265908  35.409310   103  NaN    14  E
4   1452  42014VME11501  129.291115  35.461585   103  NaN    14  E
5   1453  42014VME21002  128.967955  35.212341   103  NaN    14  E
6   1454  42014VME21202  128.867870  35.252352   103  NaN    14  E
7   1455  42014VME21402  128.781379  35.294069   103  NaN    14  E
8   1465  42014VME21502  128.718584  35.312394   103  NaN    14  E
9   1456  42014VMN10101  129.220909  35.243976   103  NaN    14  N
10  1457  42014VMN11301  129.290528  35.435943   103  NaN    14  N
11  1458  42014VMS10001  129.229522  35.269705   103  NaN    14  S
12  1459  42014VMS11101  129.247061  35.337549   103  NaN    14  S
13  1460  42014VMS11401  129.284240  35.445281   103  NaN    14  S
14  1461  42014VMS21302  128.763228  35.296049   103  NaN    14  S
15  1464  42014VMS21602  128.652610  35.269479   103  NaN    14  S
16  1462  42024VMN20001  129.134115  35.565691   103  NaN    14  N
17  1463  42024VMN20101  129.125328  35.579962   103  NaN    14  N

In [ ]:
df_null4_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null4_num

    도로명
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN

In [ ]:
df_null4_num.iloc[:] = '함양울산고속도로'
df_null4_num

         도로명
0   함양울산고속도로
1   함양울산고속도로
2   함양울산고속도로
3   함양울산고속도로
4   함양울산고속도로
5   함양울산고속도로
6   함양울산고속도로
7   함양울산고속도로
8   함양울산고속도로
9   함양울산고속도로
10  함양울산고속도로
11  함양울산고속도로
12  함양울산고속도로
13  함양울산고속도로
14  함양울산고속도로
15  함양울산고속도로
16  함양울산고속도로
17  함양울산고속도로

In [ ]:
df_null4_num1 = df_null4.reset_index(drop = True)
df_null4_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   1448  42014VME10152  129.206996  35.251789   103  NaN    14  E
1   1449  42014VME10201  129.165418  35.235941   103  NaN    14  E
2   1450  42014VME11001  129.237656  35.297609   103  NaN    14  E
3   1451  42014VME11201  129.265908  35.409310   103  NaN    14  E
4   1452  42014VME11501  129.291115  35.461585   103  NaN    14  E
5   1453  42014VME21002  128.967955  35.212341   103  NaN    14  E
6   1454  42014VME21202  128.867870  35.252352   103  NaN    14  E
7   1455  42014VME21402  128.781379  35.294069   103  NaN    14  E
8   1465  42014VME21502  128.718584  35.312394   103  NaN    14  E
9   1456  42014VMN10101  129.220909  35.243976   103  NaN    14  N
10  1457  42014VMN11301  129.290528  35.435943   103  NaN    14  N
11  1458  42014VMS10001  129.229522  35.269705   103  NaN    14  S
12  1459  42014VMS11101  129.247061  35.337549   103  NaN    14  S
13  1460  42014VMS11401  129.284240  35.445281   103  NaN    14  S
14  1461  42014VMS21302  128.763228  35.296049   103  NaN    14  S
15  1464  42014VMS21602  128.652610  35.269479   103  NaN    14  S
16  1462  42024VMN20001  129.134115  35.565691   103  NaN    14  N
17  1463  42024VMN20101  129.125328  35.579962   103  NaN    14  N

In [ ]:
df_null4_num1['도로명'] = df_null4_num['도로명']
df_null4_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1448  42014VME10152  129.206996  35.251789   103  함양울산고속도로    14  E
1   1449  42014VME10201  129.165418  35.235941   103  함양울산고속도로    14  E
2   1450  42014VME11001  129.237656  35.297609   103  함양울산고속도로    14  E
3   1451  42014VME11201  129.265908  35.409310   103  함양울산고속도로    14  E
4   1452  42014VME11501  129.291115  35.461585   103  함양울산고속도로    14  E
5   1453  42014VME21002  128.967955  35.212341   103  함양울산고속도로    14  E
6   1454  42014VME21202  128.867870  35.252352   103  함양울산고속도로    14  E
7   1455  42014VME21402  128.781379  35.294069   103  함양울산고속도로    14  E
8   1465  42014VME21502  128.718584  35.312394   103  함양울산고속도로    14  E
9   1456  42014VMN10101  129.220909  35.243976   103  함양울산고속도로    14  N
10  1457  42014VMN11301  129.290528  35.435943   103  함양울산고속도로    14  N
11  1458  42014VMS10001  129.229522  35.269705   103  함양울산고속도로    14  S
12  1459  42014VMS11101  129.247061  35.337549   103  함양울산고속도로    14  S
13  1460  42014VMS11401  129.284240  35.445281   103  함양울산고속도로    14  S
14  1461  42014VMS21302  128.763228  35.296049   103  함양울산고속도로    14  S
15  1464  42014VMS21602  128.652610  35.269479   103  함양울산고속도로    14  S
16  1462  42024VMN20001  129.134115  35.565691   103  함양울산고속도로    14  N
17  1463  42024VMN20101  129.125328  35.579962   103  함양울산고속도로    14  N

In [ ]:
df_null5 = df_null[df_null['노선번호'] == 32]
df_null5

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
1246  1016  32032VME01001  126.460617  36.771764   103  NaN    32  E
1247   958  32032VME01101  126.486824  36.785441   103  NaN    32  E
1248   959  32032VME01201  126.557168  36.808877   103  NaN    32  E
1249   960  32032VME01501  126.685652  36.901798   103  NaN    32  E
1250  1017  32032VME30001  127.134709  36.466200   103  NaN    32  E
1251  1021  32032VME30201  127.171281  36.451076   103  NaN    32  E
1252  1023  32032VME30401  127.219831  36.418458   103  NaN    32  E
1253  1026  32032VME30601  127.257014  36.384309   103  NaN    32  E
1254   904  32032VME70101  126.846564  36.674288   103  NaN    32  E
1255   961  32032VMS01301  126.581368  36.833858   103  NaN    32  S
1256   962  32032VMS01401  126.641376  36.903904   103  NaN    32  S
1257   963  32032VMS01601  126.730458  36.893475   103  NaN    32  S
1258   964  32032VMS01701  126.752380  36.866920   103  NaN    32  S
1259  1020  32032VMS30101  127.174504  36.450392   103  NaN    32  S
1260  1022  32032VMS30301  127.218825  36.423186   103  NaN    32  S
1261  1025  32032VMS30501  127.257197  36.384449   103  NaN    32  S
1262  1027  32032VMS30701  127.311854  36.359247   103  NaN    32  S

In [ ]:
df_null5_num = df_null5.reset_index(drop = True)
df_null5_num

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   1016  32032VME01001  126.460617  36.771764   103  NaN    32  E
1    958  32032VME01101  126.486824  36.785441   103  NaN    32  E
2    959  32032VME01201  126.557168  36.808877   103  NaN    32  E
3    960  32032VME01501  126.685652  36.901798   103  NaN    32  E
4   1017  32032VME30001  127.134709  36.466200   103  NaN    32  E
5   1021  32032VME30201  127.171281  36.451076   103  NaN    32  E
6   1023  32032VME30401  127.219831  36.418458   103  NaN    32  E
7   1026  32032VME30601  127.257014  36.384309   103  NaN    32  E
8    904  32032VME70101  126.846564  36.674288   103  NaN    32  E
9    961  32032VMS01301  126.581368  36.833858   103  NaN    32  S
10   962  32032VMS01401  126.641376  36.903904   103  NaN    32  S
11   963  32032VMS01601  126.730458  36.893475   103  NaN    32  S
12   964  32032VMS01701  126.752380  36.866920   103  NaN    32  S
13  1020  32032VMS30101  127.174504  36.450392   103  NaN    32  S
14  1022  32032VMS30301  127.218825  36.423186   103  NaN    32  S
15  1025  32032VMS30501  127.257197  36.384449   103  NaN    32  S
16  1027  32032VMS30701  127.311854  36.359247   103  NaN    32  S

In [ ]:
df_null5_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null5_num

    도로명
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN

In [ ]:
df_null5_num.iloc[:] = '아산청주고속도로'
df_null5_num

         도로명
0   아산청주고속도로
1   아산청주고속도로
2   아산청주고속도로
3   아산청주고속도로
4   아산청주고속도로
5   아산청주고속도로
6   아산청주고속도로
7   아산청주고속도로
8   아산청주고속도로
9   아산청주고속도로
10  아산청주고속도로
11  아산청주고속도로
12  아산청주고속도로
13  아산청주고속도로
14  아산청주고속도로
15  아산청주고속도로
16  아산청주고속도로

In [ ]:
df_null5_num1 = df_null5.reset_index(drop = True)
df_null5_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   1016  32032VME01001  126.460617  36.771764   103  NaN    32  E
1    958  32032VME01101  126.486824  36.785441   103  NaN    32  E
2    959  32032VME01201  126.557168  36.808877   103  NaN    32  E
3    960  32032VME01501  126.685652  36.901798   103  NaN    32  E
4   1017  32032VME30001  127.134709  36.466200   103  NaN    32  E
5   1021  32032VME30201  127.171281  36.451076   103  NaN    32  E
6   1023  32032VME30401  127.219831  36.418458   103  NaN    32  E
7   1026  32032VME30601  127.257014  36.384309   103  NaN    32  E
8    904  32032VME70101  126.846564  36.674288   103  NaN    32  E
9    961  32032VMS01301  126.581368  36.833858   103  NaN    32  S
10   962  32032VMS01401  126.641376  36.903904   103  NaN    32  S
11   963  32032VMS01601  126.730458  36.893475   103  NaN    32  S
12   964  32032VMS01701  126.752380  36.866920   103  NaN    32  S
13  1020  32032VMS30101  127.174504  36.450392   103  NaN    32  S
14  1022  32032VMS30301  127.218825  36.423186   103  NaN    32  S
15  1025  32032VMS30501  127.257197  36.384449   103  NaN    32  S
16  1027  32032VMS30701  127.311854  36.359247   103  NaN    32  S

In [ ]:
df_null5_num1['도로명'] = df_null5_num['도로명']
df_null5_num1

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   1016  32032VME01001  126.460617  36.771764   103  아산청주고속도로    32  E
1    958  32032VME01101  126.486824  36.785441   103  아산청주고속도로    32  E
2    959  32032VME01201  126.557168  36.808877   103  아산청주고속도로    32  E
3    960  32032VME01501  126.685652  36.901798   103  아산청주고속도로    32  E
4   1017  32032VME30001  127.134709  36.466200   103  아산청주고속도로    32  E
5   1021  32032VME30201  127.171281  36.451076   103  아산청주고속도로    32  E
6   1023  32032VME30401  127.219831  36.418458   103  아산청주고속도로    32  E
7   1026  32032VME30601  127.257014  36.384309   103  아산청주고속도로    32  E
8    904  32032VME70101  126.846564  36.674288   103  아산청주고속도로    32  E
9    961  32032VMS01301  126.581368  36.833858   103  아산청주고속도로    32  S
10   962  32032VMS01401  126.641376  36.903904   103  아산청주고속도로    32  S
11   963  32032VMS01601  126.730458  36.893475   103  아산청주고속도로    32  S
12   964  32032VMS01701  126.752380  36.866920   103  아산청주고속도로    32  S
13  1020  32032VMS30101  127.174504  36.450392   103  아산청주고속도로    32  S
14  1022  32032VMS30301  127.218825  36.423186   103  아산청주고속도로    32  S
15  1025  32032VMS30501  127.257197  36.384449   103  아산청주고속도로    32  S
16  1027  32032VMS30701  127.311854  36.359247   103  아산청주고속도로    32  S

In [ ]:
df_null6 = df_null[df_null['노선번호'] == 29]
df_null6

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
1239   976  32029VME40001  126.586420  36.593971   103  NaN    29  E
1240  1011  32029VME40201  126.535446  36.644149   103  NaN    29  E
1241  1012  32029VME40301  126.543889  36.702853   103  NaN    29  E
1242  1015  32029VME40501  126.476472  36.767493   103  NaN    29  E
1243   923  32029VMS39901  126.613436  36.586267   103  NaN    29  S
1244  1010  32029VMS40101  126.544670  36.614425   103  NaN    29  S
1245  1014  32029VMS40401  126.525098  36.729798   103  NaN    29  S

In [ ]:
df_null6_num = df_null6.reset_index(drop = True)
df_null6_num

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   976  32029VME40001  126.586420  36.593971   103  NaN    29  E
1  1011  32029VME40201  126.535446  36.644149   103  NaN    29  E
2  1012  32029VME40301  126.543889  36.702853   103  NaN    29  E
3  1015  32029VME40501  126.476472  36.767493   103  NaN    29  E
4   923  32029VMS39901  126.613436  36.586267   103  NaN    29  S
5  1010  32029VMS40101  126.544670  36.614425   103  NaN    29  S
6  1014  32029VMS40401  126.525098  36.729798   103  NaN    29  S

In [ ]:
df_null6_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null6_num

   도로명
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN

In [ ]:
df_null6_num.iloc[:] = '세종포천고속도로'
df_null6_num

        도로명
0  세종포천고속도로
1  세종포천고속도로
2  세종포천고속도로
3  세종포천고속도로
4  세종포천고속도로
5  세종포천고속도로
6  세종포천고속도로

In [ ]:
df_null6_num1 = df_null6.reset_index(drop = True)
df_null6_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   976  32029VME40001  126.586420  36.593971   103  NaN    29  E
1  1011  32029VME40201  126.535446  36.644149   103  NaN    29  E
2  1012  32029VME40301  126.543889  36.702853   103  NaN    29  E
3  1015  32029VME40501  126.476472  36.767493   103  NaN    29  E
4   923  32029VMS39901  126.613436  36.586267   103  NaN    29  S
5  1010  32029VMS40101  126.544670  36.614425   103  NaN    29  S
6  1014  32029VMS40401  126.525098  36.729798   103  NaN    29  S

In [ ]:
df_null6_num1['도로명'] = df_null6_num['도로명']
df_null6_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   976  32029VME40001  126.586420  36.593971   103  세종포천고속도로    29  E
1  1011  32029VME40201  126.535446  36.644149   103  세종포천고속도로    29  E
2  1012  32029VME40301  126.543889  36.702853   103  세종포천고속도로    29  E
3  1015  32029VME40501  126.476472  36.767493   103  세종포천고속도로    29  E
4   923  32029VMS39901  126.613436  36.586267   103  세종포천고속도로    29  S
5  1010  32029VMS40101  126.544670  36.614425   103  세종포천고속도로    29  S
6  1014  32029VMS40401  126.525098  36.729798   103  세종포천고속도로    29  S

In [ ]:
df_null7 = df_null[df_null['노선번호'] == 40]
df_null7

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
1293   972  32040VME00101  127.403177  36.529027   103  NaN    40  E
1294   930  32040VME01101  126.528930  36.598763   103  NaN    40  E
1295  1009  32040VMS01001  126.582535  36.613516   103  NaN    40  S
1304   973  34540VME50001  127.452298  36.731463   103  NaN    40  E
1305   974  34540VME50101  127.436889  36.707391   103  NaN    40  E

In [ ]:
df_null7_num = df_null7.reset_index(drop = True)
df_null7_num

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   972  32040VME00101  127.403177  36.529027   103  NaN    40  E
1   930  32040VME01101  126.528930  36.598763   103  NaN    40  E
2  1009  32040VMS01001  126.582535  36.613516   103  NaN    40  S
3   973  34540VME50001  127.452298  36.731463   103  NaN    40  E
4   974  34540VME50101  127.436889  36.707391   103  NaN    40  E

In [ ]:
df_null7_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null7_num

   도로명
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [ ]:
df_null7_num.iloc[:] = '평택제천고속도로'
df_null7_num

        도로명
0  평택제천고속도로
1  평택제천고속도로
2  평택제천고속도로
3  평택제천고속도로
4  평택제천고속도로

In [ ]:
df_null7_num1 = df_null7.reset_index(drop = True)
df_null7_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0   972  32040VME00101  127.403177  36.529027   103  NaN    40  E
1   930  32040VME01101  126.528930  36.598763   103  NaN    40  E
2  1009  32040VMS01001  126.582535  36.613516   103  NaN    40  S
3   973  34540VME50001  127.452298  36.731463   103  NaN    40  E
4   974  34540VME50101  127.436889  36.707391   103  NaN    40  E

In [ ]:
df_null7_num1['도로명'] = df_null7_num['도로명']
df_null7_num1

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   972  32040VME00101  127.403177  36.529027   103  평택제천고속도로    40  E
1   930  32040VME01101  126.528930  36.598763   103  평택제천고속도로    40  E
2  1009  32040VMS01001  126.582535  36.613516   103  평택제천고속도로    40  S
3   973  34540VME50001  127.452298  36.731463   103  평택제천고속도로    40  E
4   974  34540VME50101  127.436889  36.707391   103  평택제천고속도로    40  E

In [ ]:
df_null8 = df_null[df_null['노선번호'] == 37]
df_null8

      순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
892  654  12037VME00101  127.650060  37.247870   103  NaN    37  E
893  656  12037VME00301  127.597610  37.352880   103  NaN    37  E
894  655  12037VMS00201  127.625500  37.337420   103  NaN    37  S
895  657  12037VMS00601  127.523058  37.468467   103  NaN    37  S

In [ ]:
df_null8_num = df_null8.reset_index(drop = True)
df_null8_num

    순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  654  12037VME00101  127.650060  37.247870   103  NaN    37  E
1  656  12037VME00301  127.597610  37.352880   103  NaN    37  E
2  655  12037VMS00201  127.625500  37.337420   103  NaN    37  S
3  657  12037VMS00601  127.523058  37.468467   103  NaN    37  S

In [ ]:
df_null8_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null8_num

   도로명
0  NaN
1  NaN
2  NaN
3  NaN

In [ ]:
df_null8_num.iloc[:] = '제2중부고속도로'
df_null8_num

        도로명
0  제2중부고속도로
1  제2중부고속도로
2  제2중부고속도로
3  제2중부고속도로

In [ ]:
df_null8_num1 = df_null8.reset_index(drop = True)
df_null8_num1

    순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  654  12037VME00101  127.650060  37.247870   103  NaN    37  E
1  656  12037VME00301  127.597610  37.352880   103  NaN    37  E
2  655  12037VMS00201  127.625500  37.337420   103  NaN    37  S
3  657  12037VMS00601  127.523058  37.468467   103  NaN    37  S

In [ ]:
df_null8_num1['도로명'] = df_null8_num['도로명']
df_null8_num1

    순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0  654  12037VME00101  127.650060  37.247870   103  제2중부고속도로    37  E
1  656  12037VME00301  127.597610  37.352880   103  제2중부고속도로    37  E
2  655  12037VMS00201  127.625500  37.337420   103  제2중부고속도로    37  S
3  657  12037VMS00601  127.523058  37.468467   103  제2중부고속도로    37  S

In [ ]:
df_null9 = df_null[df_null['노선번호'] == 10]
df_null9

       순번         VMS_ID      좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
1303  873  34510VME60001  127.54156  36.774368   103  NaN    10  E

In [ ]:
df_null9_num = df_null9.reset_index(drop = True)
df_null9_num

    순번         VMS_ID      좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  873  34510VME60001  127.54156  36.774368   103  NaN    10  E

In [ ]:
df_null9_num.drop(['순번', 'VMS_ID', '좌표(X)', '좌표(Y)', '도로등급', '노선번호', '방향'], axis = 1, inplace = True)
df_null9_num

   도로명
0  NaN

In [ ]:
df_null9_num.iloc[:] = '남해고속도로'
df_null9_num

      도로명
0  남해고속도로

In [ ]:
df_null9_num1 = df_null9.reset_index(drop = True)
df_null9_num1

    순번         VMS_ID      좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
0  873  34510VME60001  127.54156  36.774368   103  NaN    10  E

In [ ]:
df_null9_num1['도로명'] = df_null9_num['도로명']
df_null9_num1

    순번         VMS_ID      좌표(X)      좌표(Y)  도로등급     도로명  노선번호 방향
0  873  34510VME60001  127.54156  36.774368   103  남해고속도로    10  E

## 결측치 파일 합치기

In [ ]:
df_every = pd.concat([df_null1_num1, df_null2_num1, df_null3_num1, df_null4_num1, df_null5_num1, df_null6_num1, df_null7_num1, df_null8_num1, df_null9_num1])
df_every

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명  노선번호 방향
0   591  12001VME00101  127.072175  37.016314   103    경부고속도로     1  E
1   592  12001VME00201  127.116036  36.978978   103    경부고속도로     1  E
2   594  12001VME00401  127.064989  37.042178   103    경부고속도로     1  E
3   596  12001VME00601  127.065403  37.121278   103    경부고속도로     1  E
4   598  12001VME00801  127.041856  37.196414   103    경부고속도로     1  E
..  ...            ...         ...        ...   ...       ...   ... ..
0   654  12037VME00101  127.650060  37.247870   103  제2중부고속도로    37  E
1   656  12037VME00301  127.597610  37.352880   103  제2중부고속도로    37  E
2   655  12037VMS00201  127.625500  37.337420   103  제2중부고속도로    37  S
3   657  12037VMS00601  127.523058  37.468467   103  제2중부고속도로    37  S
0   873  34510VME60001  127.541560  36.774368   103    남해고속도로    10  E

[166 rows x 8 columns]

## 파일과 변경한 결측치 파일 합치기

In [ ]:
new_df = pd.concat([df_name_all, df_every])
new_df

     순번         VMS_ID       좌표(X)      좌표(Y)  도로등급       도로명 노선번호 방향
0   112   0010VME00100  129.105278  35.279167   101    경부고속도로    1  E
1   114   0010VME00200  129.061944  35.317778   101    경부고속도로    1  E
2   118   0010VME00400  129.088611  35.466111   101    경부고속도로    1  E
3   120   0010VME00500  129.106944  35.519167   101    경부고속도로    1  E
4   248   0010VME00600  129.113944  35.830778   101    경부고속도로    1  E
..  ...            ...         ...        ...   ...       ...  ... ..
0   654  12037VME00101  127.650060  37.247870   103  제2중부고속도로   37  E
1   656  12037VME00301  127.597610  37.352880   103  제2중부고속도로   37  E
2   655  12037VMS00201  127.625500  37.337420   103  제2중부고속도로   37  S
3   657  12037VMS00601  127.523058  37.468467   103  제2중부고속도로   37  S
0   873  34510VME60001  127.541560  36.774368   103    남해고속도로   10  E

[1056 rows x 8 columns]

## 파일 + 변경한 결측치 파일 + 결측치 파일 합치기

In [ ]:
df_null = df.loc[df['도로명'].isna()]
df_null

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
829    591  12001VME00101  127.072175  37.016314   103  NaN     1  E
830    592  12001VME00201  127.116036  36.978978   103  NaN     1  E
831    594  12001VME00401  127.064989  37.042178   103  NaN     1  E
832    596  12001VME00601  127.065403  37.121278   103  NaN     1  E
833    598  12001VME00801  127.041856  37.196414   103  NaN     1  E
...    ...            ...         ...        ...   ...  ...   ... ..
1482  1049  52022VME50101  126.972996  35.046152   103  NaN    22  E
1483  1048  52022VMS50001  126.925582  35.136574   103  NaN    22  S
1484  1075  52026VME21101  127.277909  35.841145   103  NaN    26  E
1485  1074  52026VMN21001  126.973701  35.886580   103  NaN    26  N
1486  1076  52026VMS21201  127.328327  35.856220   103  NaN    26  S

[600 rows x 8 columns]

In [ ]:
df_new_null1 = df_null1.index
df_new_null2 = df_null2.index
df_new_null3 = df_null3.index
df_new_null4 = df_null4.index
df_new_null5 = df_null5.index
df_new_null6 = df_null6.index
df_new_null7 = df_null7.index
df_new_null8 = df_null8.index
df_new_null9 = df_null9.index

df_new_null1 = df_null.drop(df_new_null1)
df_new_null2 = df_new_null1.drop(df_new_null2)
df_new_null3 = df_new_null2.drop(df_new_null3)
df_new_null4 = df_new_null3.drop(df_new_null4)
df_new_null5 = df_new_null4.drop(df_new_null5)
df_new_null6 = df_new_null5.drop(df_new_null6)
df_new_null7 = df_new_null6.drop(df_new_null7)
df_new_null8 = df_new_null7.drop(df_new_null8)
df_new_null9 = df_new_null8.drop(df_new_null9)

df_new_null9

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급  도로명  노선번호 방향
846    608  12003VME00101  127.616585  37.083543   103  NaN     3  E
847    610  12003VME00301  127.576755  37.155640   103  NaN     3  E
848    612  12003VME00501  127.496960  37.244130   103  NaN     3  E
849    613  12003VME00601  127.459170  37.267750   103  NaN     3  E
850    616  12003VME00801  127.359780  37.341491   103  NaN     3  E
...    ...            ...         ...        ...   ...  ...   ... ..
1482  1049  52022VME50101  126.972996  35.046152   103  NaN    22  E
1483  1048  52022VMS50001  126.925582  35.136574   103  NaN    22  S
1484  1075  52026VME21101  127.277909  35.841145   103  NaN    26  E
1485  1074  52026VMN21001  126.973701  35.886580   103  NaN    26  N
1486  1076  52026VMS21201  127.328327  35.856220   103  NaN    26  S

[434 rows x 8 columns]

In [ ]:
new_df_all = pd.concat([new_df, df_new_null9])
new_df_all

        순번         VMS_ID       좌표(X)      좌표(Y)  도로등급     도로명 노선번호 방향
0      112   0010VME00100  129.105278  35.279167   101  경부고속도로    1  E
1      114   0010VME00200  129.061944  35.317778   101  경부고속도로    1  E
2      118   0010VME00400  129.088611  35.466111   101  경부고속도로    1  E
3      120   0010VME00500  129.106944  35.519167   101  경부고속도로    1  E
4      248   0010VME00600  129.113944  35.830778   101  경부고속도로    1  E
...    ...            ...         ...        ...   ...     ...  ... ..
1482  1049  52022VME50101  126.972996  35.046152   103     NaN   22  E
1483  1048  52022VMS50001  126.925582  35.136574   103     NaN   22  S
1484  1075  52026VME21101  127.277909  35.841145   103     NaN   26  E
1485  1074  52026VMN21001  126.973701  35.886580   103     NaN   26  N
1486  1076  52026VMS21201  127.328327  35.856220   103     NaN   26  S

[1490 rows x 8 columns]

## csv 파일 저장

In [ ]:
new_df_all.to_csv('VMS현황자료수정20230117.csv', encoding='utf-8-sig')